<div class="main-content">
  <h1 class="title-header">System permissions</h1>
  <div class="panel col-1-of-3">
    <div class="input-card">
    </div>
    <div class="input-card">
    </div>
    <div class="cta">
      <button class="btn" (click)="add()">
        <span class="">Add a permission</span>
      </button>
    </div>
  </div>
  <div *ngIf="companyPermissions.length > 0 else notFound">
    <app-permission-card-list [permissions]="companyPermissions"></app-permission-card-list>
  </div>
  <ng-template #notFound>
    <div class="not-found">
      <img [src]="notFoundModel.Image" alt="no items found">
      <h1 class="message">
        {{notFoundModel.Message}}
      </h1>
    </div>
  </ng-template>
</div>
