<h1 class="heading">system permissions</h1>
<div class="main">
  <div class="list-body">
    <div *ngIf="companyPermissions.length > 0 else notFound">
      <app-permission-card-list [permissions]="companyPermissions"></app-permission-card-list>
    </div>
    <ng-template #notFound>
      <div class="not-found">
          <img [src]="notFoundModel.Image" alt="no items found">
          <h1 class="message">
            {{notFoundModel.Message}}
          </h1>
      </div>
    </ng-template>
  </div>
</div>
