<div class="main">
  <h1 class="heading">system permissions</h1>
  <div class="list-filters">
    <div class="input-times">
      <!-- <input type="text" [(ngModel)]="search" placeholder="search">
            <div class="times" (click)="clearSearch()">
                <i class="pi pi-times"></i>
            </div> -->
    </div>
    <div>
      <!-- <div class="select">
          <div class="label">
              <i class="pi pi-filter"></i> <span class="pc-only">category : </span>
          </div>
          <div class="input">
            <select [(ngModel)]="searchByCatergory">
              <option value="" selected>All</option>
              <option [value]="cat" *ngFor="let cat of categories">{{cat}}</option>
            </select>
          </div>
        </div> -->
    </div>
    <div class="add">
      <button class="btn">
        <span class="phone-only" (click)="add()"><i class="pi pi-plus"></i></span>
        <span class="pc-only" (click)="showAdd()"> Add a permission</span>
      </button>
    </div>
  </div>
  <div class="list-body col-1-of-2">
    <span>
      <div *ngIf="companyPermissions.length > 0 else notFound">
        <app-permission-card-list [permissions]="companyPermissions"></app-permission-card-list>
      </div>
      <ng-template #notFound>
        <div class="not-found">
          <img [src]="notFoundModel.Image" alt="no items found">
          <h1 class="message">
            {{notFoundModel.Message}}
          </h1>
        </div>
      </ng-template>
    </span>
    <span *ngIf="showForm">
        <app-add-permission
        (showForm)="showAdd()"
        ></app-add-permission>
    </span>
  </div>
</div>
