@media only screen and (min-width: 1254px) {

  .page-actions {
    display: grid;
    grid-template-columns: 70% auto;
    margin: 0 auto;
    margin-top: -3.4rem;
    position: relative;
    padding: 1rem;
    z-index: 10;
    width: 70vw;
    .add {
      button {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .list-body {
    padding: 0;
  }
  .cards-betta {
    grid-template-columns: repeat(3, 30%);
    span {
      margin: 1rem auto;
    }
    .card {
      margin: 0;
      width: 25vw;
      height: 20vh;
     }
  }
}
