@media only screen and (min-width: 1254px) {

  .page-actions {
    display: grid;
    grid-template-columns: 70% auto;
    margin: 0 auto;
    margin-top: -3.4rem;
    position: relative;
    padding: 1rem;
    z-index: 10;
    width: 70vw;
    .add {
      button {
        cursor: pointer;
      }
    }
  }
}
