<div class="main-content">
  <h1 class="title-header">Update brand.</h1>
  <div class="col-1-of-2">
    <div class="panel">
      <h1 class="sub-header">Update brand so that its current information</h1>
      <div class="form">
        <form [formGroup]="rForm" *ngIf="rForm" (ngSubmit)="update(rForm.value)">
          <div class="form-group">
            <div class="group">
              <input type="text" formControlName="Name" required="required" />
              <label class="label">Name*</label>
            </div>
          </div>
          <div class="alert" *ngIf="!rForm.controls['Name'].valid && rForm.controls['Name'].touched">
            Brand name is required
          </div>
          <div class="col-1-of-2">
            <div class="cta col-1-of-2">
              <div class="group button">
                <input type="submit" value="Update brand" class="btn" [disabled]="!rForm.valid" />
              </div>
              <a  routerLink="/dashboard/list-brands" class="cancel">cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
