@import '../../../../../assets/styles/variables';

.main {
  // background: red;
  text-align: left;


}

.attribute-main {
  padding: 1em;
}

.btn {
  width: 10em;
  padding: 0.6em;
  text-align: center;
}

.options {
  padding: .5rem 0;
  text-align: left;

  .items {
    display: inline !important;
    background: $black-color;
    color: $white-color;
    padding: .3rem;
    font-weight: 700;
    margin: .5rem .3rem;
    border-radius: 8px;

  }

  .main {
    background: $cloud;
    color: $black-color;
  }
}


::ng-deep {
  body .ui-inputtext {
    width: 100%;
    border: none;
  }

  body .ui-chips>ul.ui-inputtext {
    padding: 0.5145em 0.429em;
    display: inline-block;
  }

  body .ui-dialog .ui-dialog-titlebar {
    background: $primary-bg-color;
    color: $white-color;
    border: none;
  }

  body .ui-button {
    float: right;
  }
}


input[type=text] {
  border: 1px solid #dbe0e3;
  border-radius: 8px;
  background: #ffffff;
  margin: 1em 0;
  width: 100%;
}



.mychip {
  border: 1px solid #dbe0e3;
  border-radius: 8px;
  padding: .5rem;
  margin-right: 0;

}


.notes {
  text-align: left;
}




.table {
  margin: 2rem .5rem;

  .col-1-of-5 {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    font-size: .8rem;

    .th {
      text-transform: uppercase;
      font-weight: 700;
      font-size: .8rem;
    }

    .td {
      input {
        margin: 0;
        padding: 0;
        font-size: .8rem;
        width: 90%;
        margin-top: .5rem;
        padding-left: .5rem;

      }

      .btn-link {
        cursor: pointer;
        font-weight: 600;

        &:hover {
          opacity: .6;
        }
      }
    }
  }
}

.finish {
  text-align: right;

  button {
    margin: 2rem 4.4rem;
    background: $black-color;
    background: $hl-color;
    padding: .5rem;
    border: none;
    color: $white-color;
    margin-bottom: 0;
  }
}
