<div class="table">

  <div class="col-1-of-5">
    <div class="th">
      Option Name
    </div>
    <div class="th">
      Option Value
    </div>
    <div class="th">
      Option Qny
    </div>
    <div class="th">
      Option Price
    </div>
    <div class="th">
      Actions
    </div>
  </div>
  <div class="col-1-of-5" *ngFor="let item of attributesToInit">
    <div class="td">
      <input type="text" [(ngModel)]="item.Name" placeholder="e.g Size" />
    </div>
    <div class="td">
      <input type="text" [(ngModel)]="item.AttributeValue" placeholder="Small" />
    </div>
    <div class="td">
      <input type="text" [(ngModel)]="item.AttributeQuantity" placeholder="10" />
    </div>
    <div class="td">
      <input type="text" [(ngModel)]="item.AttributePrice" placeholder="300" />
    </div>
    <div class="td">
      <a class="btn-link" (click)="copyDown(item)">Copy |</a>
      <a class="btn-link" (click)="removeItem(item)"> Rem</a>
    </div>
  </div>

  <div class="finish" *ngIf="attributesToInit.length > 0" (click)="confirmOptions()">
    <button>Confirm options</button>
  </div>
</div>
