@import '../../../../assets/styles/variables';

.top-navigation {
  display: grid;
  grid-template-columns: 20% 10% 20% 10% 20% 5% auto;
  background: $default-bg;


  border-radius: 0;
  padding: .4rem 1rem;
  position: relative;
  z-index: 1000;
  top: -7px;
  border-bottom: 1px solid $border-color;

  @media only screen and (max-width: 600px) {
    display: none;
  }


  div {
    // border: 1px solid black;
  }

  .logo {
    padding-top: .6rem;

    img {
      width: 100%;
    }
  }

  .search {
    .input-group {
      padding: .1rem .8rem;
      height: 2.5rem;
      display: grid;
      grid-template-columns: 12% auto;
      background: $default-bg;
      border: 2px solid $gray-color;
      border-radius: 5px;

      input {
        height: 2rem;
        margin: 0;
        padding: .2rem 1.5rem;
        background: $default-bg;

        &::placeholder {
          font-weight: 200;
        }

      }

      .icon {
        background: $default-bg;
        padding: .4555rem .5rem;
        height: 2rem;

        img {
          width: 100%;
        }
      }

      .dropdown {
        left: 0.8rem;
        width: 30rem;
        top: 55px;
        max-height: 48rem;

        .top-layer {
          h3 {
            text-decoration: underline;
            text-transform: capitalize;
            margin: .5rem 0;
          }

          .inner-layer {
            .result-item {
              display: grid;
              grid-template-columns: 10% auto;
              margin: .6rem 0;

              .image {
                img {
                  width: 2rem;
                }
              }

              p {
                margin: 0;

                span {
                  font-size: .7rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .back {
    padding: .3rem 1rem;

    p {
      font-weight: 700;
      font-size: .8rem;
      margin: 0;
      border: 1px solid $black-color;
      border-radius: 1rem;
      position: relative;
      left: 1rem;
      width: auto;
      padding: .4rem .5rem;
      top: .5rem;
      text-align: center;

      span {
        position: relative;
        top: .2rem;
      }
    }

  }

  .bell {
    text-align: right;

    .icon {
      width: 2rem;
      position: relative;
      top: .8rem;
      left: 2rem;

      img {
        width: 100%;
        margin: 0;
      }
    }
  }

  .profile {
    display: grid;
    grid-template-columns: 85% auto;
    padding-top: .8rem;
    text-align: right;
    cursor: pointer;

    .image {
      display: inline-block;
      border-radius: 50%;
      height: 2.4rem;
      width: 2.4rem;
      overflow: hidden;
      border: 1px solid #F2F5F9;

      img {
        width: 100%
      }
    }

    h3 {
      margin: 0;
      padding: 0 .5rem;
      font-size: .8rem;
      color: $black-color;
      ;

      span {
        display: block;
        // text-align: left;
        font-weight: 500;

      }
    }
  }

}


.mobile-nav-bottom {
  grid-template-columns: repeat(4, 25%);
  display: none;
  padding: .8rem;
  background: $white-color;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3.4rem;
  width: 100%;
  border-top: 1px solid $body-background;



  @media only screen and (max-width: 600px) {
    display: grid;
  }

  .menu-item {
    text-align: center;

    img {
      width: 1rem;
    }

    a {
      display: block;
      text-align: center;
      font-weight: 700;
      color: $black-color;
      font-size: .8rem;
    }

  }

}



