@import '../../../../assets/styles/variables';

.top-navigation {
  display: grid;
  grid-template-columns: 20% 10% 20% 10% 20% 5% auto;
  background: $default-bg;
  ;

  border-radius: 0;
  padding: 1rem;
  position: relative;
  z-index: 1000;
  top: -7px;
  border-bottom: 1px solid $border-color;
  //   left: -16px;

  div {
    // border: 1px solid black;
  }

  .logo {
    padding-top: .6rem;

    img {
      width: 100%;
    }
  }

  .search {
    .input-group {
      padding: .1rem .8rem;
      height: 2.5rem;
      display: grid;
      grid-template-columns: 14% auto;
      background: $default-bg;
      border: 2px solid $gray-color;
      border-radius: 28px;

      input {
        height: 2rem;
        margin: 0;
        padding: .2rem 1.5rem;
        background: $default-bg;

        &::placeholder {
          font-weight: 200;
        }

      }

      .icon {
        background: $default-bg;
        padding: .3555rem .5rem;
        height: 2rem;

        img {
          width: 100%;
        }
      }

      .dropdown {
        left: 0.8rem;
        width: 30rem;
        top: 55px;
      }
    }
  }

  .back {
    padding: .3rem 1rem;

    p {
      font-weight: 700;
      font-size: .8rem;
      margin: 0;
      border: 1px solid $black-color;
      border-radius: 1rem;
      position: relative;
      left: 1rem;
      width: auto;
      padding: .4rem .5rem;
      top: .5rem;
      text-align: center;

      span {
        position: relative;
        top: .2rem;
      }
    }

  }

  .profile {
    display: grid;
    grid-template-columns: 85% auto;
    padding-top: .8rem;
    text-align: right;
    cursor: pointer;

    .image {
      img {
        width: 1.9rem;
        border-radius: 100%;
        position: relative;
        top: -5px;
        border: 2px solid $black-color;
      }
    }

    h3 {
      margin: 0;
      padding: 0 .5rem;
      font-size: .8rem;
      color: $black-color;
      ;

      span {
        display: block;
        // text-align: left;
        font-weight: 500;

      }
    }
  }

}
