<div class="top-navigation" *ngIf="user$ | async as user">
  <div class="search">

    <div class="input-group">
      <div class="icon">
        <img src="assets/images/search-gray.svg" alt="">
      </div>
      <div>
        <input type="search" [(ngModel)]="searchQuery" (keyup)="doTheSearchResults($event.target.value)"
          placeholder="Type your query...">

        <div class="dropdown  result" *ngIf="searchQueryResults.length > 0 && searchQuery">
          <p *ngFor="let item of searchQueryResults; let i = index">
            <span (click)="selectResults(item)">{{item.Name}}</span>
          </p>
        </div>

      </div>

    </div>
  </div>
  <div>

  </div>
  <div class="empty"></div>


  <div class="empty"></div>


  <div>

  </div>
  <div class="back">

  </div>

  <div class="profile" (click)="toProfile(user)">
    <div class="name">
      <h3>
        Hello, {{user.Name}}
        <span>
          {{user.Company?.Name}}
        </span>
      </h3>
    </div>
    <div class="image">
      <img *ngIf="user.DP" [src]="user.DP.Url" alt="">
      <img *ngIf="!user.DP" class="placeholder" src="assets/user-blue-normal.svg" alt="">
    </div>

  </div>
</div>
