.section-2-content {
    background: #fff;

    @media only screen and (max-width: 600px) {
        background: #F5F6FA;
    }

    h1 {
        color: #3F3D56;
        border-bottom: .2rem solid #0337BB;
        width: 20%;
        margin: auto;
        text-align: center;
        padding: 1.2rem;
        padding-top: 5rem;
        @media only screen and (max-width: 600px) {
            width: 100%;
            border-bottom: none;
            padding: 0%;
        }
    }

    .profile {
        display: grid;
        grid-template-columns: 40% 40%;
        width: 80%;
        justify-content: center;
        margin: auto;
        margin-top: 4rem;
        grid-gap: 5rem;

        @media only screen and (max-width: 600px) {
            grid-template-columns: 100%;
            margin: 0%;
            width: 100%;
            grid-gap: 0ch;
            padding: 0%;
        }

        h4 {
            color: #0337BB;
            font-weight: 400;

            @media only screen and (max-width: 600px) {}

            img {
                width: 7%;

            }
        }

        .mission,
        .version {
            padding: .8rem;
            color: #455E6D;
        }
    }

    span {
        margin-bottom: 5rem;
    }
    .cards {
        display: grid;
        width: 70%;
        margin: auto;
        justify-content: center;
        padding-bottom: 2rem;
        padding: 2rem;
        @media only screen and (max-width: 600px) {
            width: 100%;
            padding: 0%;
        }
        .card {
            display: flex;
            margin: 1rem;
            padding: 2rem;
            -webkit-box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
            -moz-box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
            box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
           
            &:hover{
                border-right: .6rem solid #0337BB;
            }

            @media only screen and (max-width: 600px) {
                display: grid;
                padding: 0%;
                margin: .9rem;
                border-right: none;
                border-bottom: .33333rem solid #0337BB;
            }

            .image {
                text-align: center;
                margin: auto;
                width: 100%;

                @media only screen and (max-width: 600px) {
                    display: none;
                }

                img {
                    width: 50%;
                }

            }

            .text {
                padding: 0%;
                margin: auto;
                margin-left: 4rem;

                @media only screen and (max-width: 600px) {
                    margin: 0%;
                    text-align: center;
                    padding: 1.5rem;
                }

                h2 {
                    color: #104CE5;
                    margin: 0%;

                    @media only screen and (max-width: 600px) {
                        font-size: 1rem;

                    }

                }
            }
            .mobile-img{
                display: none;
                @media only screen and (max-width: 600px){
                    display: grid;
                  
                    img{
                        width: 20%;
                        margin: auto;
                    }
                    
                }
            }
        }
    }

    // .veli{
    //     display: grid;
    //     grid-template-columns: 100%;
    //     width: 80%;
    //     margin: auto;

    //     h2{
    //         color: #104CE5;
    //         margin: 0%;
    //     }
    //         .card {
    //             -webkit-box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
    //             -moz-box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
    //             box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
    //         }
    //     }
}