<div class="section-2-content">
  <h1>Why Choose Us?</h1>
  <div class="profile">
    <div class="mission">
      <h2>Our Mission</h2>
      <p>
        To offer an online, easy to use, cost effective, quality guaranteed, service orientated inventory/product and
        sales management tool for a wide spectrum of businesses and entrepreneurs. We aim to push people towards
        embracing the 4th industrial revolution wave rather than sit on the sidelines targeting personal and small
        business. We are a locally based service and community improving software, coupled with many options that are a
        necessity to running any business under the sky.
        <span class="blue">
          We mean it.
        </span>
      </p>
    </div>
    <div class="version">
      <h2>Our Vision</h2>
      <p>To become the national portal of choice for every startup, already established business who look for
        digitization without breaking the bank, while maintaining a localized service offering. To create social
        responsibility programmes with our customers to uplift the local communities we operate in by offering
        personalized support and educate and enhance their future business growth with the help of
        <span class="blue">
          Inventoryio.
        </span></p>
      <!-- <h4><img src="assets/images/vision.svg" alt=""> Read More...</h4> -->
     <!-- <a href="http://ndu-systems.net/#/request-quote" target="blank"><h4><img src="assets/images/email-filled-closed-envelope.svg" alt=""> Contact us for more info</h4></a> -->
    </div>
  </div>
  <h1 class="heading-features">Our Features</h1>
  <div class="cards">
    <div class="card">
      <div class="image">
        <img src="assets/images/Sign Up For A Free 60 Days Trial..svg" alt="">
      </div>
      <div class="mobile-img">
        <img src="assets/images/start-line.svg" alt="">
      </div>
      <div class="text">
        <h2>Low Stock Alerts</h2>
        <p>With inventoy-io you can personalize when should the system notifiy you when your business is running low on
          stock.when your inventory reaches a low point which you have set,
          you will receive an email alert notifiying about what in your business is needs to be re-orders.and you can
          place an order to your suplier in time. </p>
        <h2>ease of use and activation.</h2>
        <p>
          Create your account and access the system in less than 5 minutes no paperwork, verification is done only
          after your first 60 days free trial.
        </p>
        <p>
          Create your account and access the system in less than 5 minutes no paperwork, verification is done only
          after your first 60 days free trial.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/images/Easy To Follow Store Setup..svg" alt="">
      </div>
      <div class="mobile-img">
        <img src="assets/images/store-mobile.svg" alt="">
      </div>
      <div class="text">
        <h2>manage your sales and stock.</h2>
        <p>With <b>inventoryio©{{today | date:'yyyy'}}</b> you have the power to manage your product sales and capture
          orders for those products
          with a
          simple click, select and a press on that submit button. It's very easy and informal.</p>
        <p>
          Our greatest initiative is allowing our clients the ability to set stock alerts on their products whenever
          you have reached the alert limit an indicator will be visible for you to start setting up means for your next
          batch.
        </p>
      </div>
    </div>
    <span>
      <div class="card">
        <div class="image">
          <img src="assets/images/Manage Your Block Chain Like A Pro..svg" alt="">
        </div>
        <div class="mobile-img">
          <img src="assets/images/chain-mobile.svg" alt="">
        </div>
        <div class="text">
          <h2>manage your block chain like a pro.</h2>
          <p>
            You will have an option to capture customers and their orders on the fly or for future dates. Invoices,
            Quotes on
            products giving you admin work? Well you need <b>inventoryio©{{today | date:'yyyy'}}</b> today because its a
            simple click, print and download to
            any media device connected to the internet of things.
          </p>
          <p>
            You can also create suppliers on the app for informational such as their products that they supply you with.
            Sounds good to be true? Try <b>inventoryio©{{today | date:'yyyy'}}</b> today.
          </p>
        </div>
      </div>
    </span>
  </div>
  <!-- <div class="veli">
    <div class="image">
      <img src="assets/images/veli.svg" alt="">
    </div>
    <div class="card">
      <h2>Meet Veli</h2>
      <p>VELI will be assisting you to get started in no time. <button>I want to meet VELI</button></p>
    </div>
  </div> -->

</div>


