.section-2-content {
  background: #fff;
  @media only screen and (max-width: 600px) {
    background: #F5F6FA;
    margin: 2rem 10px;
  }
  h1 {
    color: #3F3D56;
    border-bottom: .2rem solid #104CE5;
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 1.2rem;
    padding-top: 5rem;
    //mobile layout
    @media only screen and (max-width: 600px) {
      width: 100%;
      border-bottom: none;
      padding: 0%;
      &.heading-features {
        display:none;
      }
    }
    //ipad layout
    @media only screen and (min-width: 481px) and (max-width:768px){
      width: 95%;
    }
    //ipad ro
  @media only screen and (min-width: 1024px) and (max-width:1366px){
    width: 95%;
  }
  }

  .profile {
    display: grid;
    grid-template-columns: 40% 40%;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 4rem;
    grid-gap: 5rem;
    //mobile layout
    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;
      margin: 0%;
      width: 100%;
      grid-gap: 0ch;
      padding: 0%;
    }
    //tablet layout
    @media only screen and (min-width: 481px) and (max-width:768px){
      grid-template-columns: 100%;
      grid-gap: 0ch;
      margin-top: 1rem;
    }
     //ipad ro
  @media only screen and (min-width: 1024px) and (max-width:1366px){
    grid-template-columns: 50% 50%;
  }

    h4 {
      color: #104CE5;
      font-weight: 400;
      cursor: pointer;
      //mobile layout
      @media only screen and (max-width: 600px) {}

      img {
        width: 7%;

      }
    }

    .mission,
    .version {
      padding: .8rem;
      color: #455E6D;
      font-weight: 500;
      line-height: 25px;

      p {
        .blue {
          display: block;
          color: #3742FA;
          font-weight: 700;
        }
      }
    }
  }

  span {
    margin-bottom: 5rem;
    //tablet layout
    @media only screen and (min-width: 481px) and (max-width:768px){
      margin-bottom: 0;
    }
  }

  .cards {
    display: grid;
    width: 70%;
    margin: auto;
    justify-content: center;
    padding-bottom: 2rem;
    padding: 2rem;
    //mobile layout
    @media only screen and (max-width: 600px) {
      width: 100%;
      padding: 0%;
    }
    //tablet layout
    @media only screen and (min-width: 481px) and (max-width:768px){
      width: 100%;
    }
       //ipad ro
  @media only screen and (min-width: 1024px) and (max-width:1366px){
    width: 95%;
  }

    .card {
      display: grid;
      grid-template-columns: 40% auto;
      margin: 1rem;
      padding: 2rem;
      //tablet layout
      @media only screen and (min-width: 481px) and (max-width:768px){
       grid-template-columns: 100%;
        width: 95%;
      }
       //ipad pro
  @media only screen and (min-width: 1024px) and (max-width:1366px){
    width: 95%;
    padding: 0;
  
  }

      &:hover {
        border-right: .6rem solid #104CE5;
        -webkit-box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
        -moz-box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
        box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
      }
      .image {
        text-align: center;
        margin: auto;
        width: 100%;
        //mobile layout
        @media only screen and (max-width: 600px) {
          display: none;
        }

        img {
          width: 50%;
          //tablet layout
          @media only screen and (min-width: 481px) and (max-width:768px){
            width: 40%;
          }
        }

      }

      .text {
        padding: 0%;
        margin: auto;
        margin: 0 auto;


        h2 {
          color: #104CE5;
          margin: 0%;
          font-size: 25px;
          font-weight: bold;
          text-transform: capitalize;
          //moibile layout
          @media only screen and (max-width: 600px) {
            font-size: 1rem;

          }

        }

        p {
          font-size: 15px;
          font-weight: 500;
          line-height: 20px;
          color: #455E6D;
        }
        @media only screen and (max-width: 600px) {
          margin: 0%;
          text-align: center;
          padding: 1.5rem;
        }

      }

      .mobile-img {
        display: none;

        @media only screen and (max-width: 600px) {
          display: block;
          text-align: center;
          img {
            margin: 1rem auto;
          }

        }
      }

      @media only screen and (max-width: 600px) {
        display: grid;
        grid-template-columns: 100%;
        padding: 0%;
        margin: .9rem;
        border-right: none;
        background: white;
        border-bottom: none;

      }
    }
  }

  // .veli{
  //     display: grid;
  //     grid-template-columns: 100%;
  //     width: 80%;
  //     margin: auto;

  //     h2{
  //         color: #104CE5;
  //         margin: 0%;
  //     }
  //         .card {
  //             -webkit-box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
  //             -moz-box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
  //             box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
  //         }
  //     }
}
