<div class="section-2-content">
  <h1>Why Choose Us?</h1>
  <div class="profile">
    <div class="mission">
      <h2>Our Mission</h2>
      <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
      <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
      <h4><img src="../../../../../assets/images/email-filled-closed-envelope.svg" alt=""> Contact us for more info</h4>
    </div>
    <div class="version">
      <h2>Our Vision</h2>
      <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
      
      <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
      <h4><img src="../../../../../assets/images/vision.svg" alt=""> Read More...</h4>
    </div>
  </div>
  <h1>Our Features</h1>
  <div class="cards">
    <div class="card">
      <div class="image">
        <img src="../../../../../assets/images/Sign Up For A Free 60 Days Trial..svg" alt="">
      </div>
      <div class="mobile-img"> 
          <img src="../../../../../assets/images/start-line.svg" alt="">
      </div>

      <div class="text">
        <h2>Low Stock Alerts</h2>
        <p>With inventoy-io you can personalize when should the system notifiy you when your business is running low on stock.when your inventory reaches a low point which you have set,
          you will receive an email alert notifiying about what in your business is needs to be re-orders.and you can place an order to your suplier in time. </p>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="../../../../../assets/images/Easy To Follow Store Setup..svg" alt="">
      </div>
      <div class="text">
        <h2>Easy To Follow Store Setup.</h2>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. </p>
      </div>
    </div>
   <span>
     <div class="card">
      <div class="image">
        <img src="../../../../../assets/images/Manage Your Block Chain Like A Pro..svg" alt="">
      </div>
      <div class="text">
        <h2>Manage Your Block Chain Like A Pro.</h2>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. </p>
      </div>
    </div>
  </span>
  </div>
  <!-- <div class="veli">
    <div class="image">
      <img src="../../../../../assets/images/veli.svg" alt="">
    </div>
    <div class="card">
      <h2>Meet Veli</h2>
      <p>VELI will be assisting you to get started in no time. <button>I want to meet VELI</button></p>
    </div>
  </div> -->

</div>


