<div class="section-2-content">
  <h1>Why Choose Us?</h1>
  <div class="profile">
    <div class="mission">
      <h2>Our Mission</h2>
      <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
      <br>
      <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
      <h4><img src="../../../../../assets/images/email-filled-closed-envelope.svg" alt=""> Contact us for more info</h4>
    </div>
    <div class="version">
      <h2>Our Vision</h2>
      <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
      <br>
      <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
      <h4><img src="../../../../../assets/images/email-filled-closed-envelope.svg" alt=""> Contact us for more info</h4>
    </div>
  </div>
  <h1>Our Features</h1>
  <div class="cards">
    <div class="card">
      <div class="image">
        <img src="../../../../../assets/images/Sign Up For A Free 60 Days Trial..svg" alt="">
      </div>
      <div class="text">
        <h2>Sign Up For A Free 60 Days Trial.</h2>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. </p>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="../../../../../assets/images/Easy To Follow Store Setup..svg" alt="">
      </div>
      <div class="text">
        <h2>Easy To Follow Store Setup.</h2>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. </p>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="../../../../../assets/images/Manage Your Block Chain Like A Pro..svg" alt="">
      </div>
      <div class="text">
        <h2>Manage Your Block Chain Like A Pro.</h2>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. </p>
      </div>
    </div>
  </div>
</div>