@import '../../../../../assets/styles/variables';

.container {
  padding: 6rem 3rem;
  width: 55%;

  @media only screen and (max-width: 600px) {
    width: 100%;
    padding: 5rem 0rem;
    padding-bottom: 0;

  }


  .form-section {
    padding: .3rem 1rem;




    h1 {
      text-align: center;
    }

    .form-items {
      .form-item {
        display: grid;
        margin: 1rem .1rem;

        .item {
          span.label {
            display: block;
            text-transform: uppercase;
            font-weight: 900;
            font-size: .8rem;

            @media only screen and (max-width: 600px) {
              font-size: .7rem;
            }
          }

          input,
          textarea,
          select {
            margin: .2rem 0;
            padding: .5rem 1rem;
          }
        }

        .status {}
      }
    }

  }

}

.error {
  font-weight: 700;
  font-size: .9rem;
}

.options {

  @media only screen and (max-width: 600px) {
    width: 100%;
    padding: 2rem 0rem;
    overflow-x: scroll;
  }

}

.col-1-of-2 {
  grid-template-columns: repeat(2, 50%);
}

.make-product {
  background: $default-bg;
  padding: .8rem;
}
