<div class="main-content">
  <h1 class="title-header">Add new item.</h1>

  <form [formGroup]="rForm">
  <!-- <form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)"> -->
    <div class="col-1-of-2">
      <div class="section">
        <div class="form-item">
          <label class="label">Item name*</label>
          <input type="text" formControlName="Name" placeholder="Gold gift bag" required="required" autofocus />
          <div class="alert" *ngIf="!rForm.controls['Name'].valid && rForm.controls['Name'].touched">
            Item name is required
          </div>
        </div>

        <div class="form-group-items">
          <div class="form-item">
            <label class="label">Selling price*</label>
            <input type="text" placeholder="850.99" formControlName="UnitPrice" required="required" />
            <div class="alert" *ngIf="!rForm.controls['UnitPrice'].valid && rForm.controls['UnitPrice'].touched">
              Selling price is required
            </div>
          </div>

          <div class="form-item">
            <label class="label">Cost price</label>
            <input type="text" formControlName="UnitCost" placeholder="500" required="required" />
            <div class="alert" *ngIf="!rForm.controls['UnitCost'].valid && rForm.controls['UnitCost'].touched">
              Unit cost is required
            </div>
          </div>

        </div>



        <div class="form-group-items">
          <div class="form-item">
            <div class="group-inputs">
              <span>
                <label class="label">Item brand</label>
                <select formControlName="BrandId">
                  <option value="">Select brand</option>
                  <option *ngFor="let brand of brands$ | async" [value]="brand.BrandId">{{brand.Name}}</option>
                </select>
              </span>
              <button (click)="addbrand(rForm.value)">
                +
              </button>
            </div>
          </div>


          <div class="form-item">
            <div class="group-inputs">
              <span>
                <label class="label">Item category</label>
                <select formControlName="CatergoryId">
                  <option value="">Select Category</option>
                  <option *ngFor="let catergory of catergories$ | async" [value]="catergory.CatergoryId">
                    {{catergory.Name}}
                  </option>
                </select>
              </span>

              <button (click)="addcatergory(rForm.value)">
                +
              </button>
            </div>

          </div>
        </div>






        <div class="form-group-items">
          <div class="form-item">
            <label class="label">Quantity</label>
            <input type="text" formControlName="Quantity" required="required" />
            <div class="alert" *ngIf="!rForm.controls['UnitPrice'].valid && rForm.controls['UnitPrice'].touched">
              Selling price is required
            </div>
          </div>

          <div class="form-item">
            <label class="label">Stock alert</label>
            <input type="text" formControlName="LowStock" required="required" />
            <div class="alert" *ngIf="!rForm.controls['UnitCost'].valid && rForm.controls['UnitCost'].touched">
              Unit cost is required
            </div>
          </div>

        </div>

        <div class="form-group-items">
          <div class="form-item">
            <div class="group-inputs g8020">
              <span>
                <label class="label">Item code</label>
                <input formControlName="Code" placeholder="scan/write bar-code here" />

              </span>
              <button (click)="scan()">
                SCAN
              </button>
            </div>
          </div>


        </div>

      </div>

      <div class="section">
        <div class="form-item">
          <label class="label">item options.<span class="eg"> e.g Color : red, blue</span></label>
        </div>
        <div class="options">
          <app-attributes [id]="id"></app-attributes>
        </div>
        <hr>
        <div class="images">
          <span>Images</span>
          <app-file-upload formControlName="image"></app-file-upload>
        </div>
      </div>
    </div>


    <div class="actions-footer">
      <div class="actions">
        <div class="div">

        </div>

        <a routerLink="/dashboard/list-product" class="cancel">
          <input type="button" value="Cancel" class="btn cancel" />
        </a>
        <input type="submit" value="Save item" (click)="onSubmit(rForm.value)" class="btn" [disabled]="!rForm.valid" />


      </div>
    </div>
  </form>
</div>




<div class="scanner-pluggin" *ngIf="showScan">
  <app-scanner></app-scanner>
</div>
