.clean-from-body {
  background: #fff;
  width: 80%;
  padding: 2rem;
  margin: 0 auto;

  .form {
    padding: 2rem;
    padding: 0;
    margin: 0 auto;

    .two {
      display: grid;
      grid-template-columns: 50% auto;
      padding: .5rem 1.5rem;
      // background: rgb(31, 15, 246);
      margin: 0;
      padding: 0;

      .group {
        width: 99%;
      }
    }

    .group {
      border: 1px solid #d7d7d7;
      padding: .5rem;
      background: #fff;
      margin: 0;
      width: 99.5%;
      margin: .5rem;
      height: 3.78rem;
      // padding-bottom: 0;


      span {
        display: block;
        width: 100%;
        text-align: left;
        text-transform: capitalize;
        font-size: .8rem;

        .add {
          display: inline;
          background: #2ecc71;
          color: #fff;
          padding: .1rem .3rem;
          font-size: .7rem;
          cursor: pointer;

        }
      }

      input,
      select {
        display: block;
        width: 100%;
        border: none;
        padding: .4rem 0;
        margin: 0;
        background: #fff;
        font-size: 1rem;

        &:invalid {
          background: red;
        }
      }
    }

  }
}

.mt-1 {
  margin-top: 1rem;
}
.longer{
  height: 12rem !important;
}

.save {
  width: 10rem;
  float: right;
}
