<h1 class="heading">
  Add Product   
</h1>

<div class="clean-from-body">
  <div class="form" [formGroup]="rForm" *ngIf="rForm" (ngSubmit)="onSubmit(rForm.value)">
    <div class="group">
      <span>product name</span>
      <input formControlName="Name" />
    </div>

    <div class="two">
      <div class="group">
        <span>
          Brand
          <span class="add btn" (click)="addbrand(rForm.value)">Add new</span>
        </span>
        <select formControlName="BrandId">
          <option value="">No Brand</option>
          <option *ngFor="let brand of brands$ | async" [value]="brand.BrandId">{{brand.Name}}</option>
        </select>
      </div>

      <div class="group">
        <span>
          Caterory
          <span class="add btn" (click)="addcatergory(rForm.value)">Add new</span>
        </span>
        <select formControlName="CatergoryId">
          <option value="">No Caterory</option>
          <option *ngFor="let catergory of catergories$ | async" [value]="catergory.CatergoryId">{{catergory.Name}}
          </option>
        </select>
      </div>
    </div>

    <div class="two">
      <div class="group">
        <span>Selling Price</span>
        <input formControlName="UnitPrice" />
      </div>

      <div class="group">
        <span>Cost Price</span>
        <input formControlName="UnitCost" />
      </div>
    </div>


    <div class="two">
      <div class="group">
        <span>Quantity</span>
        <input formControlName="Quantity" />
      </div>

      <div class="group">
        <span>Low Stock Alert</span>
        <input formControlName="LowStock" />
      </div>
    </div>

    <div class="group">
      <span>
        product Code
        <span class="add btn" (click)="addbrand(rForm.value)">Scann</span>
      </span>
      <input formControlName="SKU" />
    </div>

    <div class="group mt-1 longer">
      <span>Images</span>
      <app-file-upload formControlName="image"></app-file-upload>
    </div>
    <input type="submit" class="btn save" value="Add product" />
  </div>
</div>
