@import '../../../../../../assets/styles/variables';

.top-navigation {
  display: grid;
  grid-template-columns: 10% 10% 50% 20% auto;
  padding: .5rem 12rem;
  border-bottom: 1px solid $border-color;
  background: $white-color;

  @media only screen and (max-width: 600px) {
    display: none;
  }

  .logo {
    padding-top: .6rem;

    img {
      width: 10rem;
    }
  }

  .search {
    .input-group {
      width: 20rem;
      padding: .5rem;
      height: 3rem;
      display: grid;
      grid-template-columns: 85% auto;

      input {
        height: 2rem;
        margin: 0;
        padding: .2rem 1.5rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background: $white-color;
        border: 2px solid $primary-bg-color;

        &::placeholder {
          font-weight: 200;
          font-size: .7rem;
        }

      }

      .icon {
        background: $primary-bg-color;
        padding: .4rem;
        height: 2rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;

        img {
          width: 60%;
        }
      }
    }
  }

  .back {
    padding: .3rem 1rem;

    p {
      font-weight: 700;
      font-size: .8rem;
      margin: 0;
      border: 1.5px solid $primary-bg-color;
      border-radius: 1rem;
      position: relative;
      left: 1rem;
      width: auto;
      padding: .2rem .5rem;
      top: .5rem;
      text-align: center;

      span {
        position: relative;
        top: .2rem;
      }
    }

  }

  .account {
    img {
      margin-right: .5rem;
      margin-top: 0.6rem;
      width: 7rem;
    }
  }

  .profile {
    display: grid;
    grid-template-columns: 10% auto;
    padding-top: .8rem;

    .image {
      img {
        width: 1.4rem;
      }
    }

    h3 {
      margin: 0;
      padding: 0 .5rem;
      font-size: .8rem;
      color: $primary-bg-color;
    }
  }

  .cart {
    background: #F7F5F1;
    position: relative;
    top: .4rem;
    padding: .3rem;
    cursor: pointer;

    .cart-btn {
      display: grid;
      grid-template-columns: 40% auto;
      width: 8rem;
      height: 2.6rem;
      float: right;
      position: absolute;
      left: 1.2rem;
      top: 0.7rem;
    }


    .image {
      position: relative;

      img {
        width: 1.8rem;
      }

      span {
        display: block;
        position: absolute;
        top: -7px;
        right: 12px;
        width: 1.4rem;
        padding: .277rem;
        font-size: .7rem;
        font-weight: 700;
        height: 1.4rem;
        border-radius: 1.4rem;
        background: $white-color;
        border: 1px solid $primary-bg-color;
        color: $primary-bg-color;
      }
    }

    h3 {
      margin: 0;
      padding: 0 .5rem;
      font-size: .8rem;

      span {
        font-weight: 400;
        display: block;
      }
    }
  }
}

.tabs {
  display: grid;
  grid-template-columns: repeat(4, 10%);
  padding: .4rem 12rem;
  background: $white-color;
  width: 100%;

  @media only screen and (max-width: 600px) {
    display: none;
  }

  .tab-item {
    p {
      margin: 0;

      a {
        color: $black-color;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .9rem;
      }

      .active-link {
        // text-decoration: underline;
        color: $primary-bg-color;
        border-bottom: 3px solid $primary-bg-color;
      }
    }
  }
}



.mobile-nav {
  grid-template-columns: repeat(2, 50%);
  display: none;
  padding: .8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.4rem;
  background: $white-color;
  z-index: 1001;
  border-bottom: 1px solid $body-background;


  @media only screen and (max-width: 600px) {
    display: grid;
  }


  .logo {
    text-align: right;

    // border: 1px solid black;
    img {
      width: 6rem;
    }
  }

  .menu {
    // border: 1px solid black;

    img {
      width: 4.2rem;
    }
  }
}

.mobile-nav-bottom {
  grid-template-columns: repeat(4, 25%);
  display: none;
  padding: .8rem;
  background: $white-color;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3.4rem;
  width: 100%;
  border-top: 1px solid $body-background;

  -webkit-box-shadow: 1px -5px 8px 0px rgba(199, 199, 199, 1);
  -moz-box-shadow: 1px -5px 8px 0px rgba(199, 199, 199, 1);
  box-shadow: 1px -5px 8px 0px rgba(199, 199, 199, 1);



  @media only screen and (max-width: 600px) {
    display: grid;
  }

  .menu-item {
    text-align: center;

    .cart {
      position: absolute;
      top: -2px;
      right: 124px;
      z-index: 100;
      background: $primary-bg-color;
      color: white;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 1.2rem;
      font-size: .6rem;
      font-weight: 400;
      padding: .2rem;


    }

    img {
      width: .9rem;
    }

    a {
      display: block;
      text-align: center;
      font-weight: 600;
      color: $black-color;
      font-size: .7rem;


    }

    a.active-link-mob {
      color: $primary-bg-color;
      font-weight: 900;
      text-decoration: underline;
    }

    .dp-image {
      display: inline-block;
      border-radius: 50%;
      height: 1.999rem;
      width: 1.999rem;
      overflow: hidden;
      border: 1px solid #F2F5F9;

      img {
        width: 100%;
      }
    }
  }

}

.mobile-menu {
  display: none;
  padding: .8rem;
  background: $white-color;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  z-index: 1002;

  animation: moveInLeft 1s ease-out 0s;
  animation-fill-mode: backwards;


  @media only screen and (max-width: 600px) {
    display: block;
  }

  .tab-item {
    padding: .5rem .2rem;

    .back {
      width: 20%;
    }

    a {
      text-transform: capitalize;
      color: $black-color;
      font-weight: 700;
    }
  }

}

.menu {
  position: relative;
  top: -2.8px;
}


.user-profile {
  display: grid;
  grid-template-columns: 40% auto;
  // background: red;
  position: relative;
  top: .5rem;

  h4 {
    margin: .7rem 0;
    font-size: .7rem;
    text-align: center;
    position: relative;
    top: -4px;
  }

  .image {
    display: inline-block;
    border-radius: 50%;
    height: 2.4rem;
    width: 2.4rem;
    overflow: hidden;
    border: 1px solid #F2F5F9;

    img {
      width: 100%;
    }
  }

}

