@import '../../../../../../assets/styles/variables';

.top-bar {
  display: grid;
  grid-template-columns: 5% 5% auto;
  position: absolute;
  width: 100%;
  // background: #3742FA;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 4%;

  //mobile layout
  @media only screen and (max-width: 600px) {
    width: 100%;
    margin: auto;
    // right: 10%;
    padding-right: 0%;
    grid-template-columns: 20% 20% auto;
  }

  //tablet layout
  @media only screen and (min-width: 768px) and (max-width:1024px) {
    grid-template-columns: 30% auto;
    width: 100%;
    right: 0%;
    padding-left: 5rem;
  }

  //ipad pro
  @media only screen and (min-width: 1024px) and (max-width:1366px) {
    grid-template-columns: 25% auto;
    width: 100%;
    right: 0%;
    margin-top: 1rem;
  }

  .logo {
    text-align: left;
    margin: 0.5rem auto;

    img {
      width: 3.333rem;

      @media only screen and (max-width: 600px) {
        width: 2.7rem;
      }
    }


    //mobile layout
    @media only screen and (max-width: 600px) {
      margin: 0.5rem auto;
    }

    //table layout
    @media only screen and (min-width: 481px) and (max-width:768px) {
      padding-left: 0%;
      text-align: left;
      margin: 0%;
      justify-content: left;

      img {
        width: 50%;
      }
    }

    //ipad pro
    @media only screen and (min-width: 1024px) and (max-width:1366px) {
      margin: 0%;

      img {
        width: 60%;
      }
    }
  }

  .shop-logo {
    background: #fff;
    padding: 3px;
    margin: 0;
    width: 3rem;
    height: 3rem;
    margin-top: 16px;
    border-radius: 5px;

    @media only screen and (max-width: 600px) {
      width: 2.5rem;
      height: 2.5rem;

    }

    img {
      width: 100%;
      margin: 0;
    }
  }


  .nav {
    display: flex;
    padding: 2rem;
    width: 63%;
    margin: auto;
    justify-content: right;
    margin-right: 0%;

    //mobile layout
    @media only screen and (max-width: 600px) {
      display: none;
    }

    //tablet layout
    @media only screen and (min-width: 481px) and (max-width:768px) {
      width: 85%;
      padding: 0;
      justify-content: right;
    }

    //ipad pro
    @media only screen and (min-width: 1024px) and (max-width:1366px) {
      width: 70%;
      padding: 0%;

    }

    li {
      list-style-type: none;
      padding: 0 2rem;
      font-weight: 500;
      color: #ffffff;
      text-align: right;

      span {
        background: #FFFFFF;
        padding: .4rem;
        padding-right: 1.4rem;
        padding-left: 1.4rem;
        border-radius: 10px;
        cursor: pointer;

        a {
          color: #104CE5;
        }
      }

      a {
        color: #ffffff;
      }

      //tablet layout
      @media only screen and (min-width: 481px) and (max-width:768px) {
        padding-right: 0%;
        margin-right: 0%;
        justify-content: right;
      }

    }

    .cart {
      span {
        border-radius: 2rem;
        color: #000;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }

      .cart-view {
        position: absolute;
        width: 20rem;
        z-index: 10000;
        background: $white-color;
        padding: .8rem;
        padding-bottom: 1.5rem;

        .close{
          position: absolute;
          right: -5px;
          top:-5px;
          background: $white-color;
          color: $black-color;
          border: 1px solid $ligher-gray;
          border-radius: 50%;
          cursor: pointer;

        }

        h4 {
          color: $black-color;
          text-align: left;
          margin: 0;
          margin-bottom: 1rem;
        }

        .cart-items {
          color: $black-color;


          .col-1-of-4 {
            display: grid;
            grid-template-columns: 10% 10% 50% 30%;
            grid-gap: 0;

            h5 {
              font-weight: 500;
              font-size: .7rem;
              margin: 0;
              text-align: left;

              span {
                background: $primary-bg-color;
                color: $white-color;
                padding: .2rem;
                margin: 0 .2rem;
                margin-right: -5px;
              }
            }

            .image {
              img {
                width: 1.7rem;
              }
            }
          }
        }

        .action {
          a {
            color: $hl-color;
            border: 2px solid $hl-color;
            padding: .3rem;
            border-radius: 7px;
            cursor: pointer;
          }
        }
      }
    }
  }


  .mobile-nav {
    display: none;

    //mobile layout
    @media only screen and (max-width: 600px) {
      display: grid;
      top: 0%;
      left: 0%;
      position: fixed;
      // background: #104CE5;
      background: #104ce5db;
      height: 100vh;
      width: 100%;
      z-index: 999;
      color: #ffffff;

      ul {
        list-style: none;

        &.nav-items {
          position: absolute;
          top: 10em;
        }

        li {
          margin: 2em 0;

          a {
            color: #FFFFFF;
            font-size: 30px;
          }

          &.sign-up-free {
            background: #FFFFFF;
            padding: 1em;
            border-radius: 10px;

            a {
              font-size: 25px;
              color: #0337BB;
            }
          }
        }
      }

      // ul {
      //   line-height: 5rem;
      //   align-content: center;

      //   img {

      //     margin: 1rem;
      //     vertical-align: middle;
      //     margin-left: 0%;
      //   }
      // }

      // li {
      //   text-align: center;
      //   list-style-type: none;

      //   .sign-up-for-free {
      //     background: #FFFFFF;
      //   }

      //   .sign-up-for-free a {
      //     background: #FFFFFF;
      //     color: #104CE5;
      //     padding: .4rem;
      //     padding-right: 1.4rem;
      //     padding-left: 1.4rem;
      //     border-radius: 10px;
      //     font-weight: 500;
      //   }

      //   a {
      //     color: #FFFFFF;
      //   }
      // }
    }

    .close {

      @media only screen and (max-width: 600px) {
        display: block;
        position: fixed;
        float: right;
        right: 0;

        img {
          width: 1.5rem;
          margin-right: 3rem;
          float: right;
          margin: 1rem;
        }
      }
    }
  }
}

.ham-icon {
  display: none;
  text-align: right;

  .harm-cart {
    background: #fff;
    display: inline;
    padding: .5rem;
    margin-top: 3.5rem;
    top: 1rem;
    position: relative;
    width: 7rem;
    height: 17rem;
    border-radius: 11rem;
    position: relative;
  }

  @media only screen and (max-width: 600px) {
    display: block;
    cursor: pointer;
    padding: 0%;

    img {
      width: 2rem;
      height: 2rem;
      float: right;
      margin: 1rem;
    }
  }
}

.active-link {
  color: rgb(117, 237, 253);
}
