
.mobile-background {
    @media only screen and (max-width: 600px) {
        background: #FFFFFF;
    }
}
.sign-in-background {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    height: 96.5vh;
    @media only screen and (max-width: 600px) {
        padding: 0%;
        height: 100vh;

      
    }
}
.section {
    display: grid;
    grid-template-columns: 50% 30%;
    margin-left: 30%;
    padding-top: 2rem;
    @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
        margin: 0%;
        padding: 0%;
    }
    .mobile-fingerprint-img {
        display: none;
        @media only screen and (max-width: 600px) {
            width: 45%;
            display: block;
            margin:auto;
            margin-top: 5rem;
            text-align: center;
            img {
                width: 30%;
                margin: 0%;
            }
        }
    }

    .form {
        text-align: right;
        background: #ffffff;
        width: 70%;
        margin: auto;
        padding: 2rem;
        margin-top: 8rem;
        @media only screen and (max-width: 600px) {
            width: 90%;
            margin-top: 2%;
            margin-bottom: 0%;
        }

        h1 {
            width: 80%;
            font-size: 1.2rem;
            margin: auto;
            margin-top: 1.5rem;
            color: #656D88;
            text-align: center;


            @media only screen and (max-width: 600px) {
                font-size: 1.1rem;
                width: 100%;
                margin-bottom: 0%;
            }
        }

        input[type=submit] {
            border: none;
        }

        input[type=text],
        input[type=password] {
            border: none;
            width: 80%;
            margin-top: 2rem;

            @media only screen and (max-width: 600px) {
                width: 80%;
            }
        }

        .group {
            background: #ECF2F4;
            width: 85%;
            margin: auto;
            @media only screen and (max-width: 600px) {
                width: 100%;
                margin: 0;
            }

            label {
                color: #656D88;
                font-weight: 600;
                font-size: 1rem;
            }
        }

        .reset-pass {
            width: 80%;
            margin: auto;
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 1rem;

            @media only screen and (max-width: 600px) {
                width: 100%;
                margin-bottom: 1rem;
                margin-top: 1.5rem;
            }

            a {
                padding-top: 2rem;
                padding: 5rem;
                font-weight: 500;
                color: #656D88;

                @media only screen and (max-width: 600px) {
                    padding: 0%;
                }
            }
        }

        .actions {
            text-align: left;
            width: 80%;
            margin: auto;
            margin-bottom: 2rem;


            @media only screen and (max-width: 600px) {
                width: 100%;
                font-size: .8rem;
            }

            a {
                font-size: 1rem;
                font-weight: 600;
                margin-left: .5rem;
                margin-top: .5rem;

                @media only screen and (max-width: 600px) {
                    font-size: 1rem;
                    font-weight: 800;
                }
            }

            h3 {
                display: none;
            }

            @media only screen and (max-width: 600px) {
                width: 100%;
                margin: 0%;

                h5 {
                    display: none;
                }
            }
        }
    }

    .image {
        height: 50%;
        margin-top: 10rem;
        justify-content: center;
        @media only screen and (max-width: 600px) {
            display: none;
        }
    }
    img {
        width: 80%;
        text-align: center;
       
    }
}