.accounts {
  width: 346px;
  margin: 0 auto;

  h1 {
    text-align: left;

    &.header {
      font-size: 2.188rem;
      font-weight: 900;
    }

    &.text {
      font-size: 0.938rem;
      font-weight: 600;
      color: $strong-gray;
    }

    .dot,
    .span {
      color: $primary-bg-color;
    }
  }

  .form {
    text-align: left;
    width: 100%;
    padding: 2rem 0rem;
    margin: 0 auto;

    .form-control {
      border-radius: 2px;
      border: none;
      border-bottom: 1px solid #E0E0E0;
      box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.2);
    }

    .form-control:focus {
      box-shadow: 0 1px 5px -2px #42A5F5;
      border-bottom: 1px solid #2196F3;
    }

    .form-group {
      margin: 1rem 0;

      label {
        color: #616161;
        position: relative;
        left: 0;
        top: 0;
        margin: 0.4rem;
        font-weight: 600;
        font-size: 17px;
        color: $dark-navy;
        opacity: 0.5;
      }

      input[type=text],
      input[type=password],
      input[type=checkbox],
      input[type=email] {
        border: solid 1px $gray-color;
        border-radius: 0.313rem;
        width: 100%;
        margin: 1rem auto;
        margin-top: 0.5rem;
        letter-spacing: normal;

        &::placeholder {
          font-weight: normal;
          opacity: 0.5;
        }
      }


      .showPassword {
        float: right;
        cursor: pointer;
        color: $blue-gray;
      }

      .alert {
        padding: 0;
        font-size: .85rem;
        text-align: left;
        color: $danger;
        margin: 0.5rem 0;
      }

      &.forgot {
        a {
          font-weight: 600;
          font-size: 0.813rem;
          color: $blue-gray;
        }
      }

    }

    .col-1-of-2 {
      grid-template-columns: 50% auto;
      text-align: center;
      margin: 3.5rem 0;

      .btn {
        border-radius: 5px;
        box-shadow: none;
        &:hover {
          box-shadow: none;
        }

        &.btn-border {
          background: transparent;
          color: $primary-bg-color;
          box-shadow: none;
          border: solid 2px $primary-bg-color;
          font-size: 0.9rem;
          &:hover {
            box-shadow: none;
          }
        }
      }

      &.cta {
        h1 {
          font-size: 0.813rem;
          margin: 0;
          width: 100%;
        }
      }
    }

    .col-1-of-1 {
      margin: 3.5rem 0;
      .btn {
        border-radius: 5px;
        box-shadow: none;
        &:hover {
          box-shadow: none;
        }

        &.btn-border {
          background: transparent;
          color: $primary-bg-color;
          box-shadow: none;
          border: solid 2px $primary-bg-color;
          font-size: 0.9rem;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }

  }

}


@media only screen and (max-width: 600px) {
   .accounts {
    width: 100%;

    .form {
      .col-1-of-2 {
        .btn {
          font-size: 14px;
          padding: 0.5rem;
        }
      }
      .col-1-of-1 {
        .btn {
          font-size: 14px;
          padding: 0.5rem;
        }
      }
    }
   }
}
