.sell-page {
  display: grid;
  grid-template-columns: 60% auto;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }


  .selling {

    .customer {
      display: grid;
      grid-template-columns: 50% auto;
      background: $white-color;
      padding: 1rem;
      margin-bottom: 2rem;
      margin-top: 1.2rem;
      border-radius: 6px;



      .customer-search {
        position: relative;

        .result {
          width: 15rem;
          left: 0.5rem;
          border-radius: 9px;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
      }

      .input {

        input,
        select,
        textarea {
          margin: 0 .5rem;
          margin-bottom: .5rem;

          @media only screen and (max-width: 600px) {
            width: 96%;
          }
        }

        span {
          display: block;
          color: $black-color;
          font-weight: 700;
          text-transform: uppercase;
          font-size: .8rem;
          padding-left: .5rem;

          @media only screen and (max-width: 600px) {
            font-size: .7rem;

          }
        }

        textarea {
          height: 7rem;
          width: 96%;

          @media only screen and (max-width: 600px) {
            height: 4.5rem;

          }
        }

        input {
          // margin-bottom: 1.5rem;
        }
      }

    }

    .products-page {
      padding: 1rem;
      width: 100%;

      @media only screen and (max-width: 600px) {
        width: 100%;
        padding: .6rem;

      }

      .list-header {
        width: 100%;
        display: grid;
        grid-template-columns: 90% auto;
        margin-bottom: .5rem;

        @media only screen and (max-width: 600px) {

          display: none;
        }

        div {
          margin: .2rem;
          padding: 0;
          text-align: left;
          // border: 1px solid rgb(230, 229, 229);
        }

        .tar {
          text-align: right;
        }

        .heading {
          h1 {
            font-size: 1.6rem;
            margin: 0;
            padding: 0;
          }
        }

        .search {

          input,
          select {
            background: $white-color;
            padding: .5rem .8rem;
            width: 96%;
            display: inline-block;
            margin: 0;
            border-radius: .2rem;
            padding: .5rem;
            font-size: .9rem;

            &::placeholder {
              font-weight: 400;
            }
          }



          button {
            padding: .5rem;
            background: $primary-bg-color;
            color: $white-color;
            font-weight: 700;
            border: none;
            margin: 0 .3rem;
            border-radius: .2rem;

          }
        }
      }


      .list-header-mobile {
        display: none;
        border-bottom: 1px solid $blue-gray;
        padding: 1rem 0;
        padding-top: 3rem;
        margin-bottom: 1rem;

        @media only screen and (max-width: 600px) {
          display: block;
        }

        h4 {
          text-transform: capitalize;
          margin: .3rem;
        }

        .actions {
          display: grid;
          grid-template-columns: 35% 35% auto;

          div {
            // border: 1px solid black;
            padding: 0;

            select,
            input {
              background: $white-color;
              padding: .5rem .8rem;
              width: 96%;
              display: inline-block;
              margin: 0;
              border-radius: .2rem;
              padding: .5rem;
              font-size: .9rem;

              &::placeholder {
                font-weight: 400;
              }
            }

            button {
              padding: .5rem;
              background: $primary-bg-color;
              color: $white-color;
              font-weight: 700;
              border: none;
              margin: 0 .3rem;
              border-radius: .2rem;

            }
          }
        }
      }
    }

    .search-table {
      width: 100%;
      display: grid;
      grid-template-columns: 35% 35% auto;
      margin-bottom: .8rem;

      @media only screen and (max-width: 600px) {

        display: none;
      }

      div {
        margin: .2rem;
        padding: 0;
        text-align: left;
        // border: 1px solid rgb(230, 229, 229);
      }

      .tar {
        text-align: right;
      }

      .heading {
        h1 {
          font-size: 1.6rem;
          margin: 0;
          padding: 0;
        }
      }

      .search {

        input,
        select {
          background: $white-color;
          padding: .5rem .8rem;
          width: 96%;
          display: inline-block;
          margin: 0;
          border-radius: .2rem;
          padding: .5rem;
          font-size: .9rem;

          &::placeholder {
            font-weight: 400;
          }
        }



        button {
          padding: .5rem;
          background: $primary-bg-color;
          color: $white-color;
          font-weight: 700;
          border: none;
          margin: 0 .3rem;
          border-radius: .2rem;

        }
      }
    }

    //  table
    .header {
      grid-template-columns: 10% 35% 15% 20% auto;

      @media only screen and (max-width: 600px) {
        grid-template-columns: 8% 25% 15% 22% auto;
      }
    }

    .body-container {
      max-height: 40vh;

      .body {
        grid-template-columns: 10% 35% 15% 20% auto;

        @media only screen and (max-width: 600px) {
          grid-template-columns: 8% 25% 15% 22% auto;
        }

        .pc-only {
          display: none;
        }
      }
    }

    .mobile-table {
      .image-name {
        display: grid;
        grid-template-columns: 15% 10% 50% 5% auto;
      }
    }

  }

  .cart {
    padding: 1rem;
    border-radius: 20px;

    @media only screen and (max-width: 600px) {
      display: none;
    }

    .list-header {
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
      margin-bottom: .5rem;

      .heading {
        padding-left: 0;

        h1 {
          font-size: 1.6rem;
          margin: 0;
          padding: 0;
          padding-left: 0;
          margin-top: 1rem;
        }
      }
    }

    .cart-items {
      background: $white-color;
      padding: 1rem;
      height: 90%;

      .total {
        h4 {
          padding: 1rem .5rem;
          margin: .5rem 0;
          border-top: 1px solid $gray-color;
          border-bottom: 1px solid $gray-color;
        }
      }

      .actions {
        display: grid;
        grid-template-columns: 50% auto;
      }
    }
  }
}

.select-attributes-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10001;
  background: rgba(0, 0, 0, 0.281);
  top: 0;
  left: 0;

  .modal {
    width: 30%;
    margin: 15% auto;

    @media only screen and (max-width: 600px) {
      width: 98%;
      margin: 40% auto;
    }

    .header {
      background: $primary-bg-color;
      padding: .5rem;
      display: grid;
      grid-template-columns: 95% auto;

      h1 {
        color: $white-color;
        font-size: 1.4rem;
        margin: 0;
      }

      .close {
        cursor: pointer;
      }
    }

    .body {
      background: $white-color;
      display: grid;
      grid-template-columns: 30% auto;
      padding: .5rem;

      .image {
        img {
          width: 100%;
        }
      }

      .item-options {
        padding: .5rem;

        .label {
          text-transform: capitalize;
          display: block;
          padding-left: .5rem;
        }

        .actions {
          display: grid;
          grid-template-columns: 30% auto;
          padding: 1rem .5rem;

          @media only screen and (max-width: 600px) {
            grid-template-columns: 40% auto;
          }
        }
      }

      .qnty {
        margin-left: 0;

        .min,
        .plus {
          text-align: center;
        }
      }


    }
  }
}
