.shop-cards {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 1rem;
  width: 97%;

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 50%);
    padding: 1rem 2rem;
  }

  .card {
    background: #fff;
    padding-bottom: .5rem;
    cursor: pointer;
    img {
      width: 100%;
    }

    p {
      padding: .8rem;
      margin: .1rem 0;
      @media only screen and (max-width: 600px) {
        font-size: .7rem;
      }
    }
  }
}
