$image-height :15rem;

.shop-card {
  display: grid;
  grid-auto-columns: 100%;
  grid-template-rows: $image-height auto;
  grid-template-areas: "image" "details";
  margin: 1rem;
  border-radius: 12px;
  background: #fff;
  text-align: center;
  cursor: pointer;

  @media only screen and (max-width: 600px) {
    grid-template-rows: 130px 41px 40px 1px;
    margin: .5rem;

  }

  .image {
    grid-area: "image";
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-size: cover;
    background-position: top left;
    text-align: center;
    // background: red;
    // background: rgb(249, 190, 59);
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: .5rem;
    text-align: center;
    overflow: hidden;

    @media only screen and (max-width: 600px) {
      height: 130px;


    }

    img {
      // height: 320px;
      width: 92%;
      border-radius: 8px;

    }

  }


  .details {
    grid-area: "name";
    padding: .8rem 2.5rem;

    @media only screen and (max-width: 600px) {
      margin: 3px 7px;
      padding: .5rem;


      p {
        font-size: .6rem;
        margin: 0;
      }

    }

    // background: rgb(63, 4, 4);
    p {
      color: #2E344C;
      font-weight: 500;
      text-align: left;
      margin: 0;
      margin-top: .3rem;
      font-size: 12px;
      margin: 0;
      margin-top: .3rem;
    }
  }
}


.cover-photo {
  width: 100%;
  padding-top: 4%;
  margin-bottom: -6px;

  @media only screen and (max-width: 600px) {
    padding: 1%;
    padding-top: 16%;

  }

  img {
    width: 100%;
  }
}


.small-heading {
  margin-top: 0;
  border-bottom: 1px solid $ligher-gray;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 1.8rem;
}
