.not-found {
  display: grid;
  grid-template-columns: 100%;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;

  @media only screen and (max-width: 600px) {
    width: 100vw;
  }

  img {
    margin: 0 auto;
    margin-top: 5rem;

    @media only screen and (max-width: 600px) {
      width: 4rem;

    }
  }

  .message {
    text-align: center;
    margin: 5rem;
    font-size: 30px;
    font-weight: 400;
    color: #2E344C;
    span{
      display: block;
    }

    @media only screen and (max-width: 600px) {
      margin: 0;
      font-size: 20px;
      margin-top: 2rem;
      

    }
  }
}
