<h1 class="heading" *ngIf="type != 'shop'">
  invoice configurations</h1>
<h1 class="heading" *ngIf="type == 'shop'">
  shop configurations</h1>

  <app-actions *ngIf="type != 'shop'" [actions]="invoices"></app-actions>


<div class="clean-from-body">
  <div class="form">


    <span *ngIf="type == 'address' || type == 'bank'">

      <div class="two">
        <div class="group" *ngFor="let field of fields$  | async as fields">
          <span>{{field.Label}}</span>
          <input [type]="field.FieldType" [(ngModel)]="field.Value" />
        </div>
      </div>
    </span>

    
    <span *ngIf="type == 'logocolors'">
      <div class="group mt-1 longer">
        <span>Images</span>
        <app-product-images [productId]="user.CompanyId"></app-product-images>
      </div>

      <div class="group mt-1 longer">
        <span>Select invoice background color(Higliter)</span>

        <div class="col-1-of-2">
          <div>
            <!-- <p-colorPicker [(ngModel)]="fontColor" [inline]="true"></p-colorPicker> -->
            <p-colorPicker [(ngModel)]="backgroundColor" [ngStyle]="{'border':'2px solid #bdc3c7'}"></p-colorPicker>
          </div>
          <div>
            <input type="text"  [(ngModel)]="backgroundColor" required="required" />
          </div>
        </div>
      </div>

      <div class="group mt-1 longer">
        <span>Select invoice font color (Higliter)</span>

        <div class="col-1-of-2">
          <div>
            <!-- <p-colorPicker [(ngModel)]="fontColor" [inline]="true"></p-colorPicker> -->
            <p-colorPicker [(ngModel)]="fontColor" [ngStyle]="{'border':'2px solid #bdc3c7'}"></p-colorPicker>
          </div>
          <div>
            <input type="text"  [(ngModel)]="fontColor" required="required" />
          </div>
        </div>
      </div>
    </span>

    <span *ngIf="type == 'shop'">
      <div class="group mt-1 longer">
        <span>Images</span>
        <app-product-images-uncropped [productId]="user.CompanyId + 'banner'"></app-product-images-uncropped>
      </div>

      
      <div class="group mt-1 longer">
        <span>Select shop promary color</span>

        <div class="col-1-of-2">
          <div>
            <!-- <p-colorPicker [(ngModel)]="fontColor" [inline]="true"></p-colorPicker> -->
            <p-colorPicker [(ngModel)]="shopPrimaryColor" [ngStyle]="{'border':'2px solid #bdc3c7'}"></p-colorPicker>
          </div>
          <div>
            <input type="text"  [(ngModel)]="shopPrimaryColor" required="required" />
          </div>
        </div>
      </div>

       
      <div class="group mt-1 longer">
        <span>Select shop secondary color</span>

        <div class="col-1-of-2">
          <div>
            <!-- <p-colorPicker [(ngModel)]="fontColor" [inline]="true"></p-colorPicker> -->
            <p-colorPicker [(ngModel)]="shopSecondaryColor" [ngStyle]="{'border':'2px solid #bdc3c7'}"></p-colorPicker>
          </div>
          <div>
            <input type="text"  [(ngModel)]="shopSecondaryColor" required="required" />
          </div>
        </div>
      </div>

      <div>
        <input type="submit" class="btn save" (click)="saveShopDetails()" value="Save Details" />
        <a routerLink="/dashboard/configurations" class="cancel">cancel</a>
      </div>
    </span>







    <div  *ngIf="type != 'shop'" class="cta col-1-of-2">
      <input type="submit" class="btn save" (click)="onSave()" value="Save Details" />
      <a routerLink="/dashboard/configurations" class="cancel">cancel</a>
    </div>
  </div>
</div>
