@import '../../../../../assets/styles/variables';

.clean-from-body {
  background: #fff;
  width: 70%;
  padding: 2rem;
  margin: 1rem 2rem;
  border-radius: 10px;

  @media only screen and (max-width: 600px) {
    width: 94%;
    padding: 1rem;

    padding: 1rem;
    margin:.5rem;
  }

  .form {
    padding: 2rem;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 5rem;

    .two {
      display: grid;
      grid-template-columns: 50% auto;
      padding: .5rem 1.5rem;
      // background: rgb(31, 15, 246);
      margin: 0;
      padding: 0;


      @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
      }

      .group {
        width: 99%;
      }
    }

    .group {
      border: 1px solid #d7d7d7;
      padding: .5rem;
      background: #fff;
      margin: 0;
      width: 99.5%;
      margin: .5rem;
      height: 3.78rem;
      // padding-bottom: 0;


      span {
        display: block;
        width: 100%;
        text-align: left;
        text-transform: capitalize;
        font-size: .8rem;

        .add {
          display: inline;
          background: #2ecc71;
          color: #fff;
          padding: .1rem .3rem;
          font-size: .7rem;
          cursor: pointer;

        }
      }

      input,
      select {
        display: block;
        width: 100%;
        border: none;
        padding: .4rem 0;
        margin: 0;
        background: #fff;
        font-size: 1rem;

        &:invalid {
          border-right: 1px solid #e74c3c;
        }
      }
    }

    .cta {
      width: 30%;

      .col-1-of-2 {
        grid-template-columns: 50% auto;

        @media only screen and (max-width: 600px) {
          grid-template-columns: 100%;
        }
      }


      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
}

.mt-1 {
  margin-top: 1rem;
}

.longer {
  height: 9rem !important;
}

.btn {
  font-weight: 500;
}

.save {
  width: 10rem;
  margin: 0.5rem 0rem;
}

.btn-cancel {
  background: $gray-color;
  margin: .5rem 1rem;
}


@media only screen and (max-width: 600px) {
  .clean-from-body {
    height: 104vh;
  }
}

span.images {
  font-weight: 700;
  text-transform: capitalize;
  color: #656D88;
  float: left;
}

.color-inputs {
  border: 1px solid $gray-color !important;
  width: 30% !important;
  margin-left: 2rem !important;
  padding: .3rem !important;
}

.shipping-group {
  // border: 1px solid black;
  display: block;
  padding: 1rem;
  width: 100%;

  h4 {
    text-align: left;
  }

  .col-1-of-4 {
    display: grid;
    grid-template-columns: repeat(4, 25%);

    .td,
    .th {
      padding: .4rem;
      border-bottom: 1px solid $ligher-gray;
      text-align: left;
      position: relative;

    }

    .th {
      font-weight: 600;
      text-transform: uppercase;

      @media only screen and (max-width: 600px) {
        font-size: .7rem;
      }
    }

    .td {
      margin: .2rem;

      .remove {
        color: $danger;
        margin-left: 1rem;
        background: $white-color;
        border: 1px solid $danger;

      }

      input {
        border: 1px solid $cloud;
        width: 95%;

        @media only screen and (max-width: 600px) {
          width: 100%;
          font-size: .7rem;
          padding: .1rem;
          margin: .1rem;
        }
      }
    }
  }
}
