.container {
  display: grid;
  grid-template-columns: 40% auto;

}

.sign-in-background {
  background-color: #ffffff;
  background-image: url(../../../../../assets/images/account/forgot-password-bg.svg);
  background-size: 110%;
}

.wrong-password {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #104CE5;
  z-index: 100;
  top: 0;
  left: 0;

  h1 {
    margin-top: 80% auto;
    text-align: center;
    color: #fff;
  }
}

.sign-in-section {
  display: block;
  float: right;
  background: #ffffff;
  padding: 0 2em;
  padding-top: 8em;

  .portal {
    &.col-1-of-2 {
      grid-template-columns: 10% auto;

      margin-right: 0;
      margin-bottom: 0;
    }

    h1 {
      font-weight: 500;
      color: #3742FA;
      text-transform: uppercase;
      font-size: 1em;
    }
  }

  .access {
    font-size: 1.5rem;
    margin: 3rem 0rem;
  }

  .form {
    display: block;
    padding: 0;
    margin: 0;
    width: 24.875rem;

    .group {
      background: none;
      width: 100%;
      margin: 3em auto;
      margin-top: 0;

      input[type=text],
      input[type=password] {
        background: #ECF2F4;
        border-radius: 10px;
        border: solid 1px #D3D8DF;
        width: 100%;
        margin: 0;
      }

      label {
        left: 0px;
        top: -20px;
      }

      .showPassword {
        i {}
      }

      .alert {
        padding: 0.21em 0;
        font-size: 0.9rem;
        font-weight: 800;
        text-align: left;
        color: #e74c3c;
      }


    }

    .cta {
      &.col-1-of-2 {
        grid-template-columns: 50% auto;

        .forgot-password {
          margin: 0.5em 0;

          a {
            color: #D3D8DF;
            font-weight: 700;
          }

        }
      }
    }

    .sign-up {
      &.col-1-of-2 {
        grid-template-columns: 50% auto;

      }

      h1 {
        font-size: 0.713rem;
        margin: 1.688rem;
      }

      .btn {
        height: 3em;
        width: 10em;
        padding: 1rem;
        margin: 0.777rem;

        &.btn-border {
          background: none;
          color: #3742FA;
          border: solid 2px #3742FA;
          border-radius: 7px;
        }

      }
    }

    input[type=submit] {
      border: none;
      border-radius: 5px;
    }

  }

}

// // mobile responsive part

//mobile layout

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 100%;
  }

  .sign-in-background {
    background-size: 100%;
    background-position-y: 4rem;
    height: 25rem;
  }

  .sign-in-section {
    margin: 0 auto;
    padding-top: 0rem;
    width: 100%;

    .portal {
      &.col-1-of-2 {
        margin: 2em 0em;
        grid-template-columns: 25% auto;
      }
    }

    .access {

      font-size: 1.222rem;
      margin: 3rem 0;
    }

    .form {
      width: 100%;

      .sign-up {
        h1 {
          font-size: 0.725rem;
          margin: 2rem 0;
          font-weight: 400;
        }
      }

      .cta {
        &.col-1-of-2 {

          .btn {
            padding: 1rem 0;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
