<div class="container">
  <div class="sign-in-background">
  </div>
   <div class="sign-in-section">
    <div class="portal col-1-of-2">
      <img src="assets/images/icons/portal.svg" alt="portal image">
      <h1>client portal</h1>
    </div>
    <h1 class="access">Reset password.</h1>
    <form class="form" [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
      <div class="group">
        <input type="text" autofocus formControlName="Email" />
        <label>Email</label>
        <div class="alert" *ngIf="!rForm.controls['Email'].valid  && rForm.controls['Email'].touched ">
          Email is required
        </div>
      </div>

      <div class="cta col-1-of-2">
        <div class="group">
          <input type="submit" value="Reset password" class="btn" [disabled]="!rForm.valid" />
        </div>
        <div class="group forgot-password">
          <a routerLink="/sign-in" class="">Cancel</a>
        </div>
      </div>

    </form>

  </div>
</div>



<div class="home-loading" *ngIf="this.loading$| async as loading">
  <img class="logo" src="assets/images/white-icon.png" alt="">
  <h1>Signing you in, please wait</h1>
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div class="wrong-password">
  <h1>The username or password is incorrect</h1>
</div>
