.sign-in-background {
    background-image: url(../../../../../assets/images/sign-in-background.svg);
    //mobile
    @media only screen and (max-width: 600px) {
        background-image: url(../../../../../assets/images/mobile-sign-backgrnd.svg);
    }
     //tablet layout
     @media only screen and (min-width: 481px) and (max-width:768px){
        background-image: url(../../../../../assets/images/mobile-sign-backgrnd.svg);
        background-size: 125rem;
       
       
     }
     //ipad ro
    @media only screen and (min-width: 1024px) and (max-width:1366px){
        background-image: url(../../../../../assets/images/mobile-sign-backgrnd.svg);
        background-size: 145rem;
    }
    
}
// .image,img{
//     display: none;
// }