<div class="mobile-background">
  <div class="sign-in-background">
    <div class="section">
      <div class="mobile-fingerprint-img">
        <img src="../../../../../assets/images/sign-mobile-img.svg" alt="">
      </div>
      <div class="form sign-up">
        <form [formGroup]="rForm" (ngSubmit)="signUp()">
          <h1>Sign Up For Your Free Account</h1>
          <div class="group">
            <input type="text" formControlName="fullname" autofocus required="required" />
            <label>Full Name</label>
          </div>
          <div class="alert" *ngIf="!rForm.controls['fullname'].valid  && rForm.controls['fullname'].touched">
            Full Name is required
          </div>
          <div class="group">
            <input type="text" formControlName="cell" required="required" />
            <label>Cell Phone Number</label>
          </div>
          <div class="alert" *ngIf="!rForm.controls['cell'].valid  && rForm.controls['cell'].touched">
            Cell Phone Number is required
          </div>

          <div class="group">
            <input type="text" formControlName="email" required="required" />
            <label>Email Address</label>
          </div>
          <div class="alert" *ngIf="!rForm.controls['email'].valid  && rForm.controls['email'].touched">
            A valid email is required
          </div>
          <div class="group">
              <input type="text" formControlName="companyName" required="required" />
              <label>Company Name</label>
            </div>
            <div class="alert" *ngIf="!rForm.controls['companyName'].valid  && rForm.controls['companyName'].touched">
              Company name is required
            </div>
          <div class="group">
            <input type="password" formControlName="password" required="required" autocomplete="new-password" />


            <label>Password</label>

          </div>
          <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
            Password is required
          </div>

          <div class="group">
            <input type="password" formControlName="passwordConfirm" required="required" />


            <label>Confirm Password</label>

          </div>
          <div class="alert"
            *ngIf="!rForm.controls['passwordConfirm'].valid  && rForm.controls['passwordConfirm'].touched">
            Confirm Password is required
          </div>
          <div class="actions">

          </div>
          <br>
          <div class="group">
            <input type="submit" value="Sign Up For Free" class="btn" [disabled]="!rForm.valid" />
          </div>

        </form>
        <div class="actions">
          <div class="sign-up">
            Already A Member?<a routerLink="/sign-in">Sign In.</a>
          </div>
        </div>
      </div>
      <div class="image">
        <img src="../../../../../assets/images/sign-up-img.svg" alt="">
      </div>
    </div>
  </div>
</div>


<div class="home-loading" *ngIf="this.loading$| async as loading">
  <img class="logo" src="assets/images/white-icon.png" alt="">
  <h1>Creating your account, please wait</h1>

  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
