<div class="main-container">
  <div class="accounts">
    <h1 class="header">Create your new free account<span class="dot">.</span></h1>
    <h1 class="text">
      Register a <span class="span">new account</span> with us and enjoy the benefits of Tybo | Take your business online.
    </h1>

    <div class="social-login">
      <p>Social media login</p>
      <img (click)="googleLogin()" src="assets/images/google-login.svg" alt="">
      <img (click)="fbLogin()" src="assets/images/facebook-login.svg" alt="">
    </div>
    <form class="form" [formGroup]="rForm" (ngSubmit)="signUp()">
      <div class="form-group">
        <label for="exampleFullName">Full Name</label>
        <input type="text" class="form-control" formControlName="fullname" id="exampleFullName"
          placeholder="Enter full name">
        <div class="alert" *ngIf="!rForm.controls['fullname'].valid  && rForm.controls['fullname'].touched ">
          Full Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="exampleCompanyName">Company name</label>
        <input type="text" class="form-control" formControlName="companyName" id="exampleCompanyName"
          placeholder="Enter full name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
          placeholder="Enter email">
        <div class="alert" *ngIf="!rForm.controls['email'].valid  && rForm.controls['email'].touched ">
          Email is required
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" [type]="hidePassword? 'password': 'text'" class="form-control" formControlName="password"
          id="exampleInputPassword1" placeholder="password">
        <div class="showPassword" (click)="hidePassword = !hidePassword">
          <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched ">
            Password is required
          </div>
        </div>
        <i *ngIf="hidePassword" class="pi pi-eye-slash"></i>
        <i *ngIf="!hidePassword" class="pi pi-eye"></i>
      </div>
      <div class="col-1-of-1">
        <div class="form-group">
          <input type="submit" value="Register now" class="btn" [disabled]="!rForm.valid" />
        </div>
      </div>
      <div class="col-1-of-2 cta">
        <h1>
          Already have an account?
        </h1>
        <a routerLink="/sign-in" class="btn btn-border">Login now</a>
      </div>
    </form>

  </div>
</div>


<div class="home-loading" *ngIf="this.loading$| async as loading">
  <img class="logo" src="assets/images/white-icon.png" alt="">
  <h1>Creating your account, please wait</h1>
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
