<div class="main-container">
  <div class="accounts">
    <form class="form" [formGroup]="rForm" (ngSubmit)="addUser()">
      <div class="form-group">
        <label for="exampleFullName">Full Name</label>
        <input type="text" class="form-control" formControlName="fullname" id="exampleFullName"
          placeholder="Enter full name">
        <div class="alert" *ngIf="!rForm.controls['fullname'].valid  && rForm.controls['fullname'].touched ">
          Full Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
          placeholder="Enter email">
        <div class="alert" *ngIf="!rForm.controls['email'].valid  && rForm.controls['email'].touched ">
          Email is required
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Cellphone No.</label>
        <input type="tel" class="form-control" formControlName="cell" id="exampleInputEmail1" placeholder="Enter email">
        <div class="alert" *ngIf="!rForm.controls['email'].valid  && rForm.controls['email'].touched ">
          Cellphone is required
        </div>
      </div>

      <div class="form-group">
        <label for="exampleCompanyName">Delivery address</label>
        <input type="text" class="form-control" formControlName="address" id="exampleCompanyName"
          placeholder="Enter full name">
      </div>

      <div class="form-group check">
        <p>
          Save details for the future purchase?
        </p>
        <div class="item">
          <input type="checkbox" class="checkbox" formControlName="siginUp">
        </div>
      </div>
      <!-- 
      <div class="form-group" *ngIf="createPassword">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" [type]="hidePassword? 'password': 'text'" class="form-control" formControlName="password"
          id="exampleInputPassword1" placeholder="password">
        <div class="showPassword" (click)="hidePassword = !hidePassword">
          <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched ">
            Password is required
          </div>
        </div>
        <i *ngIf="hidePassword" class="pi pi-eye-slash"></i>
        <i *ngIf="!hidePassword" class="pi pi-eye"></i>
      </div> -->
      <div class="action">
        <input type="submit" value="confirm" class="btn" [disabled]="!rForm.valid" />
      </div>

    </form>
  </div>
</div>

<pre>
  {{socialUser |json}}
</pre>



<div class="home-loading" *ngIf="this.loading$| async as loading">
  <img class="logo" src="assets/images/white-icon.png" alt="">
  <h1>Signing you in, please wait</h1>
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
