<div class="checkout" *ngIf="sale$ | async as sale">

  <h1 class="main">
    Checking out
  </h1>
  <div class="steps">
    <div class="step active">
      shipping
    </div>
    <div class="step">
      payment
    </div>
    <div class="step">
      summary
    </div>
    <div class="step total">
      Order Total: {{sale.total| currency:'R'}}
    </div>
  </div>


  <div class="user" *ngIf="user$ | async as user; else noUser">
    <h1>
      Shipping Details
    </h1>
    
    <p>
      <span>
        Full Name
      </span>
      {{user.Name}} {{user.Surname}}
    </p>

    <p>
      <span>
        Email
      </span>
      {{user.Email}}
    </p>

    <p>
      <span>
        Cell phoneNumber
      </span>
      {{user.CellphoneNumber}}
    </p>

    <p>
      <span>
        delivery address
      </span>
      {{user.Address}}
    </p>

    <div class="actions">
      <div class="action">
        <img (click)="payments()" src="assets/images/tybo/cta-continue-to-payments.svg" alt="">
      </div>
      <div class="action">
        <img (click)="back()" src="assets/images/tybo/cta-continue-shopping.svg" alt="">
      </div>
    </div>
    <!-- <pre>
    {{user | json}}
   </pre> -->
  </div>

  <ng-template #noUser>
    <div class="options" *ngIf="!user && !isGuest">
      <div class="option">
        <h1>
          Login to your account
        </h1>
        <app-customer-login></app-customer-login>
      </div>
      <div class="option">
        <h1>
          Continue as a GUEST
        </h1>
        <p>
          You will just need to indicate
          contact details and delivery address.

        </p>
        <p>
          If you’d like, you can save your details for
          future purchases.
        </p>

        <div class="action">
          <img (click)="contineuAsGuest()" src="assets/images/tybo/cta-contineu-as-a-guest.svg" alt="">

        </div>
      </div>
    </div>

    <div *ngIf="isGuest" class="guest">
      <h1>
        Continue as a GUEST
      </h1>
      <app-customer-signup></app-customer-signup>

    </div>
  </ng-template>
</div>
