@import '../../../../../../assets/styles/variables';

.checkout {
  padding: 5rem 2rem;

  h1.main {
    text-align: center;
  }

  .steps {
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
    width: 30%;
    margin: 0 auto;

    .step {
      text-align: left;
      font-size: .9rem;
    }

    .step.active {
      font-weight: 900;

    }

    .step.total {
      font-weight: 900;
      text-align: right;
    }
  }

  .options {
    display: grid;
    margin: 2rem 0;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 1rem;

    .option {
      background: $white-color;
      padding: 1rem;

      .action {
        padding: 2rem 0;

        img {
          cursor: pointer;
        }
      }
    }
  }

  .guest {
    background: $white-color;
    padding: .5rem 2rem;
    margin: 0 auto;
    width: 40%;
    margin-top: 2.1rem;

    h1 {
      text-align: center;
    }
  }

  .user {
    background: $white-color;
    padding: .5rem 2rem;
    margin: 0 auto;
    width: 40%;
    margin-top: 2.1rem;
  }
}
