<div class="checkout" *ngIf="sale$ | async as sale">

  <h1 class="main">
    Checking out
  </h1>
  <div class="steps">
    <div class="step active">
      shipping
    </div>
    <div class="step">
      payment
    </div>
    <div class="step">
      summary
    </div>
    <div class="step total">
      Order Total: {{sale.total| currency:'R'}}
    </div>
  </div>


  <div class="user" *ngIf="user$ | async as user; else noUser">
    <h1>
      Shipping Details
    </h1>

    <p>
      <span>
        Full Name
      </span>
      {{user.Name}} {{user.Surname}}
    </p>

    <p>
      <span>
        Email
      </span>
      {{user.Email}}
    </p>

    <p>
      <span>
        Cell phoneNumber
      </span>
      {{user.CellphoneNumber}}
    </p>

    <p>
      <span>
        delivery address
      </span>
      {{user.Address}}
    </p>

    <div class="payfast-form">
      <form ngNoForm   action="https://www.payfast.co.za/eng/process" method="POST">
        <input type="hidden" name="merchant_id" [value]="merchantId">
        <input type="hidden" name="merchant_key" [value]="merchantKey">
        <input type="hidden" name="return_url" [value]="shopingSuccesfulUrl">
        <input type="hidden" name="cancel_url" [value]="paymentCancelledUrl">
        <input type="hidden" name="notify_url" [value]="paymentCallbackUrl">

        <input type="hidden" name="name_first" [value]="user.Name">
        <input type="hidden" name="name_last" [value]="user.Surname">
        <input type="hidden" name="email_address" [value]="user.Email">
        <input type="hidden" name="cell_number" [value]="user.CellphoneNumber">


        <input type="hidden" name="amount" [value]="sale.total">
        <input type="hidden" name="item_name" [value]="productName">
        <input type="hidden" name="item_description" [value]="productDescription">


        <input type="hidden" name="email_confirmation" value="1">
        <input type="hidden" name="confirmation_address" value="payments@tybo.co.za">

        <button type="submit" class="cta">Proceed to payments</button>
        <button type="button" (click)="back()" class="cta secondary">continue shopping</button>
      </form>
    </div>
  </div>

  <ng-template #noUser>
    <div class="options" *ngIf="!user && !isGuest">
      <div class="option">
        <h1>
          Login to your account
        </h1>
        <app-customer-login></app-customer-login>
      </div>
      <div class="option">
        <h1>
          Continue as a GUEST
        </h1>
        <p>
          You will just need to indicate
          contact details and delivery address.

        </p>
        <p>
          If you’d like, you can save your details for
          future purchases.
        </p>

        <div class="action">
          <img (click)="contineuAsGuest()" src="assets/images/tybo/cta-contineu-as-a-guest.svg" alt="">

        </div>
      </div>
    </div>

    <div *ngIf="isGuest" class="guest">
      <h1>
        Continue as a GUEST
      </h1>
      <app-customer-signup></app-customer-signup>

    </div>
  </ng-template>
</div>
