<div class="add-edit-partner">


  <div class="partner-form">

    <div class="header">
      <h1>
        Edit {{partnerType}} details<span class="dot">.</span>
      </h1>
    </div>

    <form [formGroup]="rForm" *ngIf="rForm" (ngSubmit)="onSubmit(rForm.value)">
      <div class="col-1-of-2">
        <div class="name">
          <label class="label">First name*</label>
          <input type="text" class="roundInput first-name" formControlName="Name" required="required" />
          <div class="alert" *ngIf="!rForm.controls['Name'].valid && rForm.controls['Name'].touched">
            Name is required
          </div>
        </div>

        <div class="surname">
          <label class="label">Surname</label>
          <input type="text" class="roundInput" formControlName="Surname" required="required" />
        </div>
      </div>

      <div class="form-item">
        <label class="label">Email address*</label>
        <input type="text" class="roundInput" formControlName="EmailAddress" required="required" />
        <div class="alert" *ngIf="!rForm.controls['EmailAddress'].valid && rForm.controls['EmailAddress'].touched">
          Email is required
        </div>
      </div>

      <div class="form-item">
        <label class="label">Contact number*</label>
        <input type="text" class="roundInput" formControlName="CellphoneNumber" required="required" />
        <div class="alert"
          *ngIf="!rForm.controls['CellphoneNumber'].valid && rForm.controls['CellphoneNumber'].touched">
          Cellphone number is required
        </div>
      </div>

      <div class="form-item">
        <label class="label">Customer address</label>
        <textarea class="roundInput" type="text" formControlName="Address"></textarea>
      </div>

      <div class="form-item">
        <label class="label">{{partnerType}} Image</label>
        <app-product-images [productId]="parnerId" *ngIf="parnerId"></app-product-images>
      </div>

      <div class="actions">
        <div>
          <button [disabled]="!rForm.valid" type="submit" class="btn"> Save changes</button>
        </div>

        <div>
          <a routerLink="/dashboard/partners/{{partnerType}}"> <button class="btn btn-transparent">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
</div>
