@import '../../../../../../../assets/styles/variables';

.main {
  .shops {
    .shop {
      background: $white-color;
      padding: 1rem;
      margin: 2.5rem 0;
      position: relative;

      h1 {
        padding: 1rem 4rem;
      }

      .name {
        background: rgba(255, 255, 255, 0.6);
        /* background: red; */
        position: absolute;
        left: 27%;
        top: 18%;
        width: 54%;
        padding: 4rem;
        text-align: center;

        h1 {
          text-align: center;
          font-weight: 900;
          font-size: 3rem;
        }

        .action {
          text-align: center;
          padding: 1.2rem 2.5rem;

          img {
            cursor: pointer;
          }
        }
      }

      .products {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-gap: 1rem;

        .product {
          text-align: center;

          img {
            width: 98%;
            margin: 0;
          }
        }
      }

    }
  }
}
