@import '../../../../../../../assets/styles/variables';

.main {
  .shops {
    .shop {
      background: $white-color;
      padding: 1rem;
      margin: 2.5rem 0;
      position: relative;

      h1{
        padding: 1rem 4rem;
      }
      .name{
        background: rgba(255, 255, 255, 0.603);
        position: absolute;
        left: 35%;
        top: 25%;
        width: 35%;
        padding: 4rem;
        text-align: center;
        h1{
          text-align: center;
        }
        .action{
          text-align: center;
          padding: 1.2rem 2.5rem;
          img{
            cursor: pointer;
          }
        }
      }

      .products {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        grid-gap: 1rem;
        .product{
          text-align: center;
        }
      }
   
    }
  }
}
