@import '../../../../../assets/styles/variables';
$grid-tbl : 17% 17% 17% 40% auto;

.options {
  background: $white-color;
  border-radius: 1.5rem;
  border: 1px solid $ligher-gray;
  padding: 1rem;

  @media only screen and (max-width: 600px) {
    width: 50rem;
    padding: .5rem;

  }

  .headings {
    display: grid;
    grid-template-columns: $grid-tbl;
    border-radius: 10rem;

    .item {
      font-weight: 900;
      text-transform: uppercase;
      border: 1px solid $ligher-gray;
      padding: .5rem;
      box-sizing: border-box;
      margin: 0;
      width: 100%;
      text-align: center;
      border-top: none;
      border-bottom: none;
    }

    div:nth-child(1) {
      border-top-left-radius: 1rem;
      border: none;
    }

    div:last-child {
      border-top-right-radius: 1rem;
      border: none;
    }
  }

  .body {


    .lines {
      display: grid;
      // grid-template-columns: repeat(4, 25%);
      grid-template-columns: $grid-tbl;
      padding: 0;
      margin: 0;
      width: 100%;

      .line {
        font-weight: 900;
        text-transform: uppercase;
        border: 1px solid $ligher-gray;
        padding: 0;
        margin: 0;
        width: 100%;
        border-left: none;

        input {
          margin: 0;
          width: 100%;
          height: 5rem;
          text-align: center;
          border: none;

          &::placeholder {
            font-weight: 300;
            font-style: italic;
          }
        }

        a {
          display: block;
          text-align: center;
          font-style: italic;
          position: relative;
          top: 30%;
          color: $strong-gray;
        }

        .option-images {
          display: grid;
          grid-template-columns: repeat(3, 33.3%);


          .option {
            position: relative;

            .file-drop-area {
              position: relative;

              span {
                position: absolute;
                background: red;
                width: 100%;
                height: 100%;
                z-index: 99;
                left: 0;
                display: block;

                img {
                  width: 4rem;
                  margin: .2rem auto;
                  position: relative;
                  left: 1.5rem;
                  top: .2rem;
                }
              }

              input {
                background: yellow;
                position: absolute;
                left: 0;
                width: 100%;
                height: 5rem;
                z-index: 105;
                opacity: 0;
              }


            }
          }

          .option-image {
            border: 1px solid $ligher-gray;

            img {
              width: 100%;
              margin: 0 auto;
            }
          }
        }

        .delete-line {
          width: 2rem;
          position: relative;
          top: 30%;
          left: 1rem;
          cursor: pointer;
        }
      }

      div:last-child {
        border-right: none;
      }
    }

    .add-line {
      text-align: left;
      padding: 1rem 0;

      button {
        background: $info;
        padding: .4rem 1rem;
        border: none;
        border-radius: 5rem;
      }
    }
  }
}
