<h1 class="heading">
  Welcome to <span>Inventory IO | {{today | date: 'fullDate'}}</span>
</h1>
<div class="main">

  <div class="cards">
    <span *ngFor="let data of stat">
      <div class="card transition" (click)="goto(data.link)">
        <div class="icon">
          <img [src]="data.image" alt="">
        </div>
        <div class="data">
          <h1>
            {{data.name}}
            <span>{{data.value}}</span>
          </h1>
        </div>

      </div>
    </span>
  </div>

</div>
<div class="slide">
  <p>Slide for more..</p>
</div>
