<div class="main">
  <h1 class="heading">your staff on the system</h1>
  <div class="list-filters">
    <div>
      <input type="text" [(ngModel)]="search" placeholder="search">
    </div>
    <!-- <div>
      <div class="select">
          <div class="label">
              filter category:
          </div>
          <div class="input">
              <select [(ngModel)]="searchByCatergory">
                  <option value="" selected>All</option>
                  <option [value]="cat" *ngFor="let cat of categories">{{cat}}</option>
                </select>
          </div>
        </div>
    </div> -->
    <div class="add">
      <button class="btn">
          <span class="phone-only" (click)="add()"><i class="pi pi-plus"></i></span>
          <span class="pc-only" (click)="showAdd()">add a user</span>
      </button>
    </div>
  </div>
  <div class="list-body">
    <span>
      <div *ngIf="users$ | async as users">
        <span class="cards-betta" *ngIf="users.length > 0; notFound">
          <span *ngFor="let user of users | userFilterPipe: search">
            <app-user-card-list [user]="user"></app-user-card-list>
          </span>
        </span>
      </div>
      <ng-template #notFound>
        <div class="not-found">
          <img [src]="notFoundModel.Image" alt="no items found">
          <h1 class="message">
            {{notFoundModel.Message}}
          </h1>
        </div>
      </ng-template>
    </span>
    <!-- <span *ngIf="showForm">
        <app-add-user
        (showForm)="showAdd()"
        ></app-add-user>
    </span> -->
  </div>
</div>
