.main {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: #104CE5;
  z-index: 999999999999;

  h1{
      text-align: center;
      @media only screen and (max-width: 600px) {
        font-size: .8rem;
      }
  }
  p{
    @media only screen and (max-width: 600px) {
      font-size: .8rem;
    }
  }

  .logo {
    text-align: center;

    img {
      margin: 5% auto;
      width: 8rem;
      margin-bottom: 0;
    }
  }

  .card {
    background: #fff;
    width: 30%;
    margin: 10% auto;
    padding: 2rem 4rem;
    border-radius: .5rem;
    @media only screen and (max-width: 600px) {
        width: 80%;
        margin: 30% auto;
        padding: 1.5rem;

      }
    
  }

  .action {
    text-align: center;
    .btn{
        background:#2ecc71;
    }

    .error {
      background: #e74c3c;
    }
  }


}
