.main-container {
  background-image: url(../../../assets/images/backgroundhome.svg);
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (max-width: 600px) {
    background-image: url(../../../assets/images/mobilehome.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.nav {
  display: grid;
  grid-template-columns: 20% auto;
  padding: 2rem;

  .logo {
    justify-content: center;
    text-align: center;
    margin-left: 7rem;

    @media only screen and (max-width: 600px) {
      float: left;
      margin: 0%;
      width: 100%;

    }

    img {
      width: 25%;

      @media only screen and (max-width: 600px) {
        width: 70%;
      }
    }

    h1 {
      text-align: center;
      color: #104CE5;
      margin-top: 0%;
      font-size: 1rem;

      @media only screen and (max-width: 600px) {
        font-size: .6rem;

      }

      span {
        color: #2E344C;
      }
    }
  }

  .tabs {
    margin: auto;
    margin-top:0%;
    width: 90%;
    @media only screen and (max-width: 600px) {
      display: none;
    }

    ul {
      display: flex;
      list-style-type: none;
      justify-content: center;
      font-size: .8rem;
      cursor: pointer;
      float: right;

      li {
        text-decoration: none;
        padding-right: 4.2rem;
        color: #ECF2F4;
        font-weight: 600;
        text-transform: capitalize;

        .blue {
          color: #104CE5;
          display: flex;
        }
        .sign-up-for-free {
          background: #FFFFFF;
          color: #104CE5;
          border-radius: 5px;
          padding: .4rem;
          padding-right: 1.4rem;
          padding-left: 1.4rem;
        }
      }
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 58% auto;
  margin: auto;
  width: 80%;
  @media only screen and (max-width: 600px) {
    display: grid;
  }

  .inside-body {
    margin-top: 5rem;
    margin-left: 5rem;
    @media only screen and (max-width: 600px) {
      display: grid;
    }

    h1 {
      color: #104CE5;
    }

    @media only screen and (max-width: 600px) {
      margin: 0%;
    }

    h5 {
      color: #2E344C;
      font-weight: 400;
    }

    .talk {
      display: flex;
      background: #FFFFFF;
      border-radius: 15px;
      text-align: center;

      -webkit-box-shadow: 0px 0px 11px -3px rgba(101, 109, 136, 1);
      -moz-box-shadow: 0px 0px 11px -3px rgba(101, 109, 136, 1);
      box-shadow: 0px 0px 11px -3px rgba(101, 109, 136, 1);

      input[type=text] {
        font-size: .8rem;
        color: #7B8C98;
        border: none;
        text-align: center;
      }

      .plain-text {
        font-size: .8rem;
        color: #7B8C98;
        border: none;
        text-align: center;
        width: 50%;

        input[type=text] {
          margin-top: .7rem;
        }
      }

      .button {
        background: #104CE5;
        border: none;
        border-radius: 15px;
        margin: .2rem;
        color: #FFFFFF;
        padding: .5rem;
        width: 30%;
        margin-left: 8.5rem;

        ::placeholder {
          color: #FFFFFF;
        }
      }
    }
  }
  .mobile-view{
    display: none;
    @media only screen and (max-width: 600px) {
      display: grid;
      img{
        background: yellow;
        width: 50%;
      }
    }

  }

  .image {
    text-align: center;
    padding-top: 2rem;

    img {
      width: 60%;

      @media only screen and (max-width: 600px) {
        display: none;
      }


    }

  }

}

.cards {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  text-align: center;
  margin: auto;
  margin-top: 13rem;
  width: 80%;
  padding-left: 3rem;
  margin-bottom: 4rem;

  :hover {
    -webkit-box-shadow: 0px 0px 11px -3px rgba(101, 109, 136, 1);
    -moz-box-shadow: 0px 0px 11px -3px rgba(101, 109, 136, 1);
    box-shadow: 0px 0px 11px -3px rgba(101, 109, 136, 1);
  }

  .card {
    background: #FFFFFF;
    padding: 1rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
    cursor: pointer;
    align-content: center;
    margin: 0%;
    margin-left: 4rem;

    img {
      width: 20%;
      padding-top: 2rem;
    }

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: .6rem;
    }
  }
}