.main {
  background: #E4E4E4;
}

.top-bar {
  display: grid;
  grid-template-columns: 50% auto;
  position: absolute;
  width: 80%;
  margin: auto;
  right: 10%;
  padding-right: 0%;

  //mobile layout
  @media only screen and (max-width: 600px) {
    display: flex;
    width: 80%;
    margin: auto;
    right: 10%;
    padding-right: 0%;
  }

  //tablet layout
  @media only screen and (min-width: 481px) and (max-width:768px) {
    grid-template-columns: 30% auto;
    width: 100%;
    right: 0%;
    padding-left: 5rem;

  }

  .logo {
    margin: 0 5rem;
    margin-top: 1rem;
    padding-top: 1.5rem;
    text-align: left;
    padding-left: 3.2rem;

    //mobile layout
    @media only screen and (max-width: 600px) {
      margin: 0%;
      padding: 0%;
      margin-top: 1rem;

      img {
        width: 4rem;
      }
    }

    //table layout
    @media only screen and (min-width: 481px) and (max-width:768px) {
      padding-left: 0%;
      text-align: left;
      margin: 0%;
      justify-content: left;

      img {
        width: 40%;
      }
    }
  }

  .nav {
    display: flex;
    padding: 2rem;
    width: 70%;
    margin: auto;
    justify-content: right;
    margin-right: 0%;

    //mobile layout
    @media only screen and (max-width: 600px) {
      display: none;
    }

    //tablet layout
    @media only screen and (min-width: 481px) and (max-width:768px) {
      width: 85%;
      padding: 0;
      justify-content: right;
    }

    li {
      list-style-type: none;
      padding: 0 2rem;
      font-weight: 500;
      color: #ffffff;
      text-align: right;

      .sign-up-for-free {
        background: #FFFFFF;
        border-radius: 5px;
        padding: .4rem;
        padding-right: 1.4rem;
        padding-left: 1.4rem;
        a {
          color: #104CE5;
        }
      }

      a {
        color: #ffffff;
      }

      //tablet layout
      @media only screen and (min-width: 481px) and (max-width:768px) {
        padding-right: 0%;
        margin-right: 0%;
        justify-content: right;
        
      }
    }
  }

  .mobile-nav {
    display: none;
    //mobile layout
    @media only screen and (max-width: 600px) {
      display: grid;
      top: 0%;
      left: 0%;
      position: fixed;
      background: #104CE5;
      height: 100vh;
      width: 100%;
      z-index: 1;
      color: #ffffff;
      li {
        text-align: center;
        list-style-type: none;

        .sign-up-for-free {
          background: #FFFFFF;
        }

        .sign-up-for-free a {
          background: #FFFFFF;
          color: #104CE5;
          border-radius: 5px;
          padding: .4rem;
          padding-right: 1.4rem;
          padding-left: 1.4rem;
        }

        a {
          color: #FFFFFF;
        }
      }
    }

    .close {

      // display: none;
      @media only screen and (max-width: 600px) {
        display: grid;
        width: 100%;
        justify-content: right;
        padding-bottom: 0%;

        img {
          width: 1.5rem;
          margin-right: 3rem;
          margin-top: 2rem;
        }
      }
    }
  }
}

.ham-icon {
  display: none;

  @media only screen and (max-width: 600px) {
    display: grid;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 12rem;
    padding: 0%;

    img {
      width: 2rem;
      height: 2rem;
    }
  }
}