<div class="main-container">
  <div class="nav">
    <div class="logo">
      <img src="../../../assets/images/logo.svg" alt="logo">
      <h1>Inventory-<span>io</span></h1>
    </div>
    <div class="tabs">
      <ul>
        <li><span class="blue"> Home</span></li>
        <li> <span class="blue"> about</span></li>

        <li>how it works</li>
        <li>sign in </li>
        <li><span class="sign-up-for-free"> sign up for free</span></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="inside-body">
      <h1>welcome to inventory IO</h1>
      <h5>Enjoy youe experience talk to VELI</h5>
      <div class="mobile-view">
        <img src="../../../assets/images/mobilehome.svg" alt="">
      </div>
      <div class="talk">
       <span class="plain-text"> <input type="text"  placeholder="Popular convo starters: I'm new, what's new"></span>
       <span class="button"><input type="text" placeholder="Let's talk"></span>
      </div>
    </div>
    <div class="image">
      <img src="../../../assets/images/undraw_business_shop_qw5t.svg" alt="poster">
    </div>
  </div>
  <div class="cards">
    <div class="card">
      <img src="../../../assets/images/rocket.svg" alt="rocket">
      <h2>Get Started</h2>
      <p> Is Simply Dummy Text Of The Printing And Typesetting Industry. </p> 
    </div>
    <div class="card">
      <img src="../../../assets/images/Auto-Process.svg" alt="Auto-Process icon">
      <h2>Automate Processes</h2>
      <p> Is Simply Dummy Text Of The Printing And Typesetting Industry. </p>
    </div>
    <div class="card">
      <img src="../../../assets/images/headsets.svg" alt="geadsets">
      <h2>App Support</h2>
      <p> Is Simply Dummy Text Of The Printing And Typesetting Industry. </p>
    </div>
    <div class="card">
      <img src="../../../assets/images/what-people-say.svg" alt="chat">
      <h2>What People Say</h2>
      <p> Is Simply Dummy Text Of The Printing And Typesetting Industry. </p>
    </div>
  </div>
</div>