


<!-- <div class="main-container">
  <div class="nav">
    <div class="logo">
      <img src="../../../assets/images/logo.svg" alt="logo">
      <h1>Inventory-<span>io</span></h1>
    </div>
    <div class="logo-mobile">
      <img src="../../../assets/images/logo-mobile.svg" alt="logo-mobile">
    </div>
    <div class="tabs">
      <ul>
        <li><span class="blue"><a routerLink ="">Home</a>  </span></li>
        <li> <span class="blue"><a routerLink ="">About</a>  </span></li>
        <li>how it works</li>
        <li><span class="sign-in-link"> <a routerLink ="sign-in">Sign in</a></span> </li>
        <li><span class="sign-up-for-free">   <a routerLink ="sign-up">sign up for free</a> </span></li>
      </ul>
    </div>
  </div>

   
 
</div> -->
<div class="main">
  <router-outlet></router-outlet>
</div>
