<div class="main-content" if="order$ | async as order">
  <h1 class="title-header">New credit note for order: <i>{{prefix}}-{{order?.OrderId}}</i></h1>

  <form [formGroup]="rForm">
    <div class="col-1-of-2">
      <div class="section">
        <div class="form-item">
          <label class="label">Credit note/cancellation reason</label>
          <select formControlName="Reason">
            <option value="">Select reason</option>
            <option value="order incorrect">Order incorrect</option>
            <option value="customer overcharged">Customer overcharged</option>
            <option value="customer undercharged">Customer undercharged</option>
            <option value="goods returned">Goods returned</option>
            <option value="other">Other</option>
          </select>
        </div>



        <div class="form-item">
          <label class="label">Other Reason <span class="eg"> (If you selected other, please specify)</span></label>
          <input type="text" formControlName="OtherReason" placeholder="Gold gift bag" />
        </div>

        <div class="form-item">
          <label class="label">additional notes</label>


          <textarea formControlName="Notes"></textarea>
        </div>

        <div class="form-item">
          <label class="label">Order Number</label>
          <input type="text" formControlName="OrderNo" placeholder="Gold gift bag" required="required" disabled
            autofocus />
        </div>

        <div class="form-group-items">
          <div class="form-item">
            <label class="label">Order Total - ZAR</label>
            <input type="text" placeholder="850.99" formControlName="Total" disabled required="required" />
          </div>

          <div class="form-item">
            <label class="label">Order date</label>
            <input type="text" formControlName="CreateDate" placeholder="500" disabled required="required" />
          </div>

        </div>

      </div>

      <div class="section">
        <div class="form-item">
          <label class="label">Order products</label>
        </div>

        
    <div class="cards" *ngIf="order.Products">
      <div class="items">
        <span *ngFor="let item of order.Products | searchproduct: search">

          <div class="item">
            <div class="image">
              <img [src]="item.Images[0].Url" alt="" *ngIf="item.Images" />
              <img src="assets/images/placeholder.png" *ngIf="!item.Images" alt="" />
            </div>

            <div class="data">
              <span class="value">{{item.ProductName}}</span>
              <!-- <span class="label"> Product Name</span> -->
              <span class="label"> {{item.Options | formatDashboardOptions}}</span>
            </div>

            <div class="data">
              <span class="value"> {{item.Quantity}} x {{item.UnitPrice  | currency:'R'}} <br></span>
              <span class="label"> QNTY x Price</span>
            </div>

            <div class="data">
              <span class="value"> {{item.subTotal  | currency:'R'}} <br></span>
              <span class="label"> Total</span>
            </div>
          </div>
        </span>
      </div>

      <div class="taxis spaccing">
        <div class="data">
          <span class="value total">
           <b> Total:{{total | currency:'R'}} </b>
          </span>
          <!-- <span class="value tax" *ngIf="order.Charges">
            <span *ngFor="let charge of order.Charges"><i>Inc. </i> {{charge.Label}}
            </span>
          </span> -->
        </div>
      </div>

    </div>



      </div>
    </div>


    <div class="actions-footer">
      <div class="actions">
        <!-- <div class="div">
        </div> -->
        <div class="div">
          <input type="button" value="Cancel" (click)="back()" class="action-btn cancel" />
        </div>
        <div class="div">
          <input type="submit" value="Save item" (click)="onSubmit(rForm.value)" class="action-btn"
            [disabled]="!rForm.valid" />
        </div>
      </div>
    </div>
  </form>
</div>

<p-confirmDialog header="Confirm cancellation"></p-confirmDialog>
