<div class="main-content" if="order$ | async as order">
  <h1 class="title-header">New credit note for order: <i>{{prefix}}-{{order?.OrderId}}</i></h1>

  <form [formGroup]="rForm">
    <div class="col-1-of-2">
      <div class="section">
        <div class="form-item">
          <label class="label">Credit note/cancellation reason</label>
          <select formControlName="Reason">
            <option value="">Select reason</option>
            <option value="order incorrect">Order incorrect</option>
            <option value="customer overcharged">Customer overcharged</option>
            <option value="customer undercharged">Customer undercharged</option>
            <option value="goods returned">Goods returned</option>
          </select>
        </div>



        <div class="form-item">
          <label class="label">Order Number</label>
          <input type="text" formControlName="OrderNo" placeholder="Gold gift bag" required="required" disabled
            autofocus />
        </div>

        <div class="form-group-items">
          <div class="form-item">
            <label class="label">Order Total</label>
            <input type="text" placeholder="850.99" formControlName="Total" disabled required="required" />
          </div>

          <div class="form-item">
            <label class="label">Order date</label>
            <input type="text" formControlName="CreateDate" placeholder="500" disabled required="required" />
          </div>

        </div>

      </div>

      <div class="section">
        <div class="form-item">
          <label class="label">Order products</label>
        </div>


      </div>
    </div>


    <div class="actions-footer">
      <div class="actions">
        <!-- <div class="div">
        </div> -->
        <div class="div">
          <input type="button" value="Cancel" (click)="back()" class="action-btn cancel" />
        </div>
        <div class="div">
          <input type="submit" value="Save item" (click)="onSubmit(rForm.value)" class="action-btn"
            [disabled]="!rForm.valid" />
        </div>
      </div>
    </div>
  </form>
</div>




<div class="scanner-pluggin" *ngIf="showScan">
  <app-scanner></app-scanner>
</div>
<p-confirmDialog  header="Confirm cancellation"></p-confirmDialog>
