.main {
  padding: 1rem;
  margin-top: -3.2rem;

  .cards {
    display: grid;
    grid-template-columns: 50% auto;

    .action-title {
      font-size: 20px;
      color: #7B8C98;
    }

    .card {
      background: #fff;
      text-align: center;
      height: 9rem;
      width: 9rem;
      margin: 1rem;
      // border: 1px solid #E5E5E5;
      cursor: pointer;
      border-radius: 10px;

      .icon {
        img {
          width: 1.8rem;
          margin-top: 2.5rem;
        }
      }


      .data {

        // background: rgb(34, 182, 34);
        text-align: center;

        h1 {
          color: #104CE5;
          display: block;
          font-size: .8rem;
          font-weight: 600;
          text-align: center;
          width: 100%;
          margin-top: 1.5rem;
          text-transform: capitalize;

        }
      }
    }
  }
}


@media only screen and (min-width: 1254px) {
  .main {
    margin: 0;
    width: 40%;

    .container {

      width: 100%;

    }

    .cards {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-gap: 1rem;

    }
  }

}
