<div class="container">
  <div class="banner">
    <div class="banner-body">
      <h1 class="heading">Making sense of it all</h1>
      <a routerLink="" class="btn">Existing client signin</a>
    </div>
  </div>
  <div class="content">
    <div class="col-1-of-2">
      <h1 class="caption">
        We are a locally based service provider that provides local businesses with a variety of options to run their
        business from creating new products, selling products and inventory management amongst the few of many features.
      </h1>
    </div>
  </div>
  <div class="content solutions">
    <h1 class="heading">Feature driven solutions at a click away</h1>
    <div class="col-1-of-3">
      <div class="panel">
        <img src="assets/images/home/bag.svg" class="image" alt="bag icon">
        <h1 class="panel-header">Inventory management</h1>
        <h1 class="panel-text">Maximize your supply and demand with our intelligent Inventory Management system.
          Increase business process with innovation. Easy to manage. </h1>
      </div>
      <div class="panel">
        <img src="assets/images/home/cart.svg" class="image" alt="bag icon">
        <h1 class="panel-header">Sales & quotes</h1>
        <h1 class="panel-text">Add items to inventory/service offerings and sell them with invoicing and a fair quote.</h1>
      </div>
      <div class="panel">
        <img src="assets/images/home/chart.svg" class="image" alt="bag icon">
        <h1 class="panel-header">Reports And Accounting</h1>
        <h1 class="panel-text">Numbers are what matter at the end of the day ,they never lie, we provide you with graphs and meaningful figures that are informative and sleek in design.</h1>

      </div>
    </div>
    <div class="carousel-slide col-1-of-2">
      <h1 class="header">
        Our latest key system offerings.
      </h1>
      <div class="carousel-desktop">
        <p-galleria [images]="images" panelWidth="1200" panelHeight="650" [showCaption]="true"></p-galleria>
       </div>
      <div class="carousel-mobile">
        <p-galleria [images]="mobileImages" panelWidth="370" panelHeight="200" [showCaption]="true"></p-galleria>
       </div>
    </div>

  </div>
</div>
