.container {
  background-color: #F1F3F6;
}


.banner {
  background: url(../../../../../assets/images/home/work-banner.svg);
  background-size: cover;
  height: 25rem;
  width: 99.9%;

  .banner-body {
    padding: 10rem 0;

    .heading {
      text-transform: initial;
      text-transform: initial;
      font-size: 2.5em;
      font-weight: 700;
      color: #2E344C;
    }

    .btn {
      margin: 0rem 3rem;
    }
  }

  @media only screen and (max-width: 600px) {
    height: 30rem;
    background: url(../../../../../assets/images/home/works-banner-mobile.svg);
    background-repeat: no-repeat;

    .banner-body {
      padding: 20rem 0;
      padding-bottom: 1rem;

      .heading {
        margin: 1rem;
        padding: 1rem;
        font-size: 1.5em;
        margin-bottom: 2rem;
        padding-bottom: 0;
        text-align: center;
      }
    }
  }
}

.content {
  padding: 3rem 10rem;

  .col-1-of-2 {
    grid-template-columns: 50% auto;
  }

  h1 {
    &.caption {
      font-weight: 600;
      font-size: 1.7em;
      width: 80%;
    }
  }

}


.solutions {

  .col-1-of-3 {
    margin: 0 auto;
  }

  h1.heading {
    padding-left: 0;
    font-size: 3em;
    font-weight: 600;
  }

  .panel {
    padding: 2rem 5rem;

    .image {
      margin-bottom: 1rem;
    }

    h1 {
      &.panel-header {
        font-size: 1.5em;
      }

      &.panel-text {
        font-size: 1em;
        font-weight: 400;
      }
    }
  }
}

.content {
  .carousel-slide {
    &.col-1-of-2 {
      grid-template-columns: 22% auto;
    }

    padding: 5em 0px;

    .header {
      font-size: 4.5rem;
      font-weight: 400;
    }

    .carousel-desktop {
      box-shadow: -5px -3px 26px -13px #47474740;
      display: block;
    }

    .carousel-mobile {
      display: none;
    }

    @media only screen and (max-width: 600px) {
      .header {
        font-size: 3.5rem;
        padding: 1rem;
      }
      .carousel-mobile {
        display: block;
      }

      .carousel-desktop {
        display: none;
      }
      &.col-1-of-2 {
        grid-template-columns: 100%;
      }
    }
  }
}



@media only screen and (max-width: 600px) {
  .content {
    padding: 0;

    .col-1-of-2 {
      grid-template-columns: 100%;
    }

    h1 {
      &.caption {
        font-size: 1em;
        width: 100%;
        padding: 0 1em;
        text-align: center;
      }
    }
  }

  .solutions {
    h1.heading {
      font-size: 1.5em;
      margin: 0 0.5rem;
    }

    .panel {
      padding: 1rem;

      h1 {
        &.panel-header {
          font-size: 1.0em;
        }

        &.panel-text {
          font-size: 0.75em;
        }
      }
    }
  }
}
