<div class="container">
  <div class="banner">
    <div class="banner-body">
      <h1 class="heading">Making sense of it all</h1>
      <a routerLink="" class="btn">Existing client signin</a>
    </div>
  </div>
  <div class="content">
    <div class="col-1-of-2">
      <h1 class="caption">
        We are a locally based service provider that provides local businesses with a variety of options to run their
        business from creating new products, selling products and inventory management amongst the few of many features.
      </h1>
    </div>
  </div>
  <div class="content solutions">
    <h1 class="heading">Feature driven solutions at a click away</h1>
    <div class="col-1-of-3">
      <div class="panel">
        <img src="assets/images/home/bag.svg" class="image" alt="bag icon">
        <h1 class="panel-header">Inventory management</h1>
        <h1 class="panel-text">Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An
          Unknown Printer Took A Galley Of Type And Scrambled It To Make A Type Specimen Book.</h1>
      </div>
      <div class="panel">
        <img src="assets/images/home/cart.svg" class="image" alt="bag icon">
        <h1 class="panel-header">Sales/Dispatch & quotes</h1>
        <h1 class="panel-text">Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An
          Unknown Printer Took A Galley Of Type And Scrambled It To Make A Type Specimen Book.</h1>
      </div>
      <div class="panel">
        <img src="assets/images/home/chart.svg" class="image" alt="bag icon">
        <h1 class="panel-header">Reports And Accounting</h1>
        <h1 class="panel-text">Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An
          Unknown Printer Took A Galley Of Type And Scrambled It To Make A Type Specimen Book.</h1>
      </div>

    </div>
  </div>
</div>
