@import '../../../../../assets/styles/variables';

.order-details {
  background: $white-color;
  padding: 1rem;
  margin: 2.5rem 2rem;
  border-radius: 6px;

  h4 {
    margin: 0;
    margin-bottom: 1rem;


  }

  .actions {
    display: flex;

    .action {
      margin-right: 1rem;
      cursor: pointer;
    }

  }

  .details {
    display: grid;
    grid-template-columns: 55% auto;
    padding: 1rem .2rem;

    .date-status {
      font-weight: 700;
      font-size: .8rem;

      span.no {
        color: $primary-bg-color;
      }

      span {
        display: block;
      }

      .new {
        color: #3498db;
      }

      .partially-paid {
        color: #a8890b;
      }

      .fully-paid {
        color: #27ae60;
      }

      .cancelled {
        color: #d81010;
      }
    }

    .amounts {
      font-size: 1rem;
      // font-weight: 500;


      span {
        font-size: .8rem;
        // font-weight: 700;

      }
    }

    .bill-to {
      p {
        font-size: .9rem;
      }
    }
  }
.order-products{
  background: $default-bg;
  padding: 1rem;

  //  table
.header {
  grid-template-columns: 10% 40% 15% 15% auto;
}

.body-container {
  .body {
    grid-template-columns: 10% 40% 15% 15% auto;

    .pc-only {
      display: none;
    }
  }
}

}
}
.row-details{
  display: block;
  font-size: .7rem;
  font-weight: 700;
}
.roundInput{
  width: 80%;
  padding: .8rem;
}