.cards {
  max-height: 66vh;
  overflow-y: scroll;

  .card {
    padding:.1rem 1rem;
    margin: 0 1rem;
    background: #fff;
    text-align-last: left;
    border-bottom: 1px solid #e7ebec;
    h1{
      font-size: 1rem;
    }
    .price {
      color: #413586;
    }
  }
  .separate{
    margin-top: .5rem;
    h1{
      font-weight: 500;
    }
    span.value{
      font-weight: 300;
      padding-left: 1rem;
    }
  }
}
