<div class="main">
    <app-banner></app-banner>
  
    <div class="body">
      <div class="page-actions">
        <div class="search">
          <input type="text" [(ngModel)]="search" placeholder="search orders">
        </div>
        <div class="add">
          <button (click)="add()">Add order</button>
        </div>
      </div>
      <div class="cards" *ngIf="products$  | async as products">
        <span   *ngFor="let item of products | searchproduct: search">
       <div class="card-betta" (click)="details(item)">
            <span class="status" ></span>
    
            <div class="grid">
            
              <div class="details">
                <p>
                  <span>Product</span> {{item.ProductName}}
                </p>
                <p>
                  <span>Total</span> {{item.Total}}
                </p>
                <p>
                  <span>Date</span> {{item.CreateDate | date}}
                </p>
                <p>
                  <span>Time</span> {{item.CreateDate | date:'shortTime'}}
                </p>
              </div>
            </div>
          </div>
        </span>
  
      </div>
  
    </div>
  