<div class="main">
  <app-banner></app-banner>

  <div class="body">
    <div class="page-actions">
      <div class="search">
        <input type="text" [(ngModel)]="search" placeholder="search orders">
      </div>
      <div class="add">
        <button (click)="captureScreen()">Add order</button>
      </div>
    </div>
    <div class="cards" *ngIf="products$  | async as products">
      <div class="items">
        <span *ngFor="let item of products | searchproduct: search">
          <div class="item">
            <div class="data">
              <span class="value">{{item.ProductName}}</span>
              <span class="label"> Product Name</span>
            </div>

            <div class="data">
              <span class="value"> {{item.Quantity}} x {{item.UnitPrice  | currency:'R'}} <br></span>
              <span class="label"> QNTY x Price</span>
            </div>

            <div class="data">
              <span class="value"> {{item.subTotal  | currency:'R'}} <br></span>
              <span class="label"> Total</span>
            </div>
          </div>
        </span>

        <div class="item spaccing">
          <div class="data">
            <span class="value total">
             Total:{{total | currency:'R'}}
            </span>
            <span class="value tax">
              Tax paid {{companyTax * 100}}%: {{total*companyTax | currency:'R'}}
            </span>
            <!-- <span class="value">
              Sub Total:{{total | currency:'R'}}
            </span>
            <span class="value">
              Total:{{ finalTotal | currency:'R'}}
            </span> -->
          </div>
        </div>

      </div>



    </div>





    <div>

    </div>


  </div>

  <div class="print">
    <app-invoice></app-invoice>
  </div>
