<div class="login">
  <div class="social-login">
    <p>Social media login</p>
    <img (click)="googleLogin()" src="assets/images/google-login.svg" alt="">
    <img (click)="fbLogin()" src="assets/images/facebook-login.svg" alt="">
  </div>
  <form class="form" [formGroup]="rForm" (ngSubmit)="Login()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName="Email" id="exampleInputEmail1"
        placeholder="Enter email">
      <div class="alert" *ngIf="!rForm.controls['Email'].valid  && rForm.controls['Email'].touched ">
        Email is required
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" [type]="hidePassword? 'password': 'text'" class="form-control" formControlName="Password"
        id="exampleInputPassword1" placeholder="Password">
      <div class="showPassword" (click)="hidePassword = !hidePassword">
        <div class="alert" *ngIf="!rForm.controls['Password'].valid && rForm.controls['Password'].touched ">
          Password is required
        </div>
        <!-- <i *ngIf="hidePassword" class="pi pi-eye-slash"></i>
        <i *ngIf="!hidePassword" class="pi pi-eye"></i> -->
      </div>
    </div>

    <div class="action">
      <button type="submit" class="btn action-btn" (click)="Login()">Login</button>
      <h5>{{error}}</h5>

      <a routerLink="/forgot-password">Forgot password</a>
      <a class="secondary" routerLink="/sign-up">Create an account</a>
    </div>
  </form>
</div>
