@import '../../../../../assets/styles/variables';

.login {
  padding-top: 7rem;

  .social-login {
    img {
      width: 9rem;
    }
  }

  .form {
    padding: .5rem;
    width: 100%;
    margin-top: 2rem;

    .form-group {
      label {
        text-align: left;
        font-weight: 700;
        text-transform: uppercase;
        font-size: .8rem;
        display: block;
        margin-bottom: .2rem;
      }

      input {
        border: 1px solid $border-color;
        margin: 0;
        margin-bottom: 1rem;
        width: 100%;
        border-radius: 5px;
      }

    }

    .action {

      .btn {
        width: 98%;
        border-radius: 30px;
        font-weight: 800;
        margin-top: 1.2rem;
        font-size: .9rem;
        padding: .5rem;
      }

      a {
        display: block;
        text-align: left;
        color: $black-color;
        padding: .5rem .2rem;
        text-decoration: underline;
      }

      a.secondary {
        font-weight: 700;
        text-transform: uppercase;
      }
      h5{
        color: $danger;
        text-align: left;
      }
    }
  }
}
