<div class="products-page" *ngIf="partners$ | async as partners">
  <div class="list-header">
    <div class="heading">
      <h1>
        {{type}} ({{(partners| searchpartner: searchType).length}})
      </h1>
    </div>

    <div class="search">
    </div>

    <div class="search">
      <input type="text" [(ngModel)]="search" class="roundInput" placeholder="Search here ...">
    </div>

    <div class="search">
    </div>
    <div class="search tar">
      <button (click)="add()"> <i class="pi pi-plus"></i> Add</button>
      <button (click)="import()"> <i class="pi pi-download"></i> Import</button>
    </div>

  </div>
  <div class="table" *ngIf="(partners| searchpartner: searchType).length > 0;else notFound">
    <div class="header">
      <div class="header-item">
        Image
      </div>
      <div class="header-item">
        Name
      </div>

      <div class="header-item ">
        Email
      </div>
      <div class="header-item tac">
        Phone No
      </div>
      <div class="header-item tar">
        Actions
      </div>
    </div>
    <div class="body-container">

      <div class="body" *ngFor="let item of partners | searchpartner: search | searchpartner: searchType">
        <div class="body-item">
          <img [src]="item.images[0].Url" alt="" *ngIf="item.images" />
          <img src="assets/images/user-placeholder.png" *ngIf="!item.images" alt="" />

        </div>
        <div class="body-item">
          <p>
            {{item.Name}} {{item.Surname}}
          </p>
        </div>
        <div class="body-item">
          <p>
            <a href="mailto:{{item.EmailAddress}}">
              {{item.EmailAddress}}
            </a>
          </p>

        </div>


        <div class="body-item tac">
          <p>
            <a href="tel:{{item.CellphoneNumber}}">
              {{item.CellphoneNumber}}
            </a>
          </p>

        </div>

        <div class="body-item tar">
          <button class="btn-primary" (click)="edit(item)">
            <i class="pi pi-pencil"></i> Edit
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="mobile-table">
    <div class="items">
      <span *ngFor="let item of partners | searchpartner: search | searchpartner: searchType">
        <div class="item" (click)="details(item)">
          <div class="image-name">
            <div class="image">
              <img  class="image-mt"  [src]="item.images[0].Url" alt="" *ngIf="item.images" />
              <img  class="image-mt"  src="assets/images/user-placeholder.png" *ngIf="!item.images" alt="" />
            </div>
            <div class="name">
              <p>
                {{item.Name}} {{item.Surname}}
                <span class="details">
                  <a href="mailto:{{item.EmailAddress}}">
                    {{item.EmailAddress}}
                  </a>
                </span>
                <span class="details">
                  <a href="tel:{{item.CellphoneNumber}}">
                    {{item.CellphoneNumber}}
                  </a>
                </span>
              </p>
            </div>
            <div class="qty">

            </div>
            <div class="price">
              <p>
                {{item.UnitPrice | currency:'R'}}

              </p>
            </div>
          </div>
        </div>
      </span>
    </div>
  </div>

  <ng-template #notFound>
    <div class="not-found">
      <img [src]="notFoundModel.Image" alt="no items found">
      <h1 class="message">
        {{notFoundModel.Message}}
        <span>
          <a class="link-add" (click)="add()"> add new product.</a>
        </span>
      </h1>
    </div>
  </ng-template>

</div>
