$bedget : 1rem;

.main {
  // background: yellow;
  padding: 2rem;

  .heading-grid {
    display: grid;
    grid-template-columns: 15% auto;

    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;

    }

    .main-heading {
      .heading {
        padding-left: 1rem;
      }
    }

    .date-range {
      padding-top: .8rem;

      .date-selector {
        background: none;
        width: 15rem;
        display: inline-block;
        margin: .5rem;
        border: 1px solid #B1B5BD;
        border-radius: .4rem;
        padding: .2rem 1rem;

        @media only screen and (max-width: 600px) {
          width: 18rem;
        }
      }

      .date-separator {
        @media only screen and (max-width: 600px) {
          display: block;
          text-align: center;
          width: 81%;
        }
      }
    }
  }

  .tabs {
    display: grid;
    grid-template-columns: 10% auto;
    padding-left: .8888rem;
    margin: 1.5rem 0;
  }

  .col-1-of-2 {
    grid-template-columns: 50% auto;

    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;

    }

    .graph {
      background: #fff;
      padding: 1rem;
      margin: 1rem;
    }

    .stat {
      padding: 0 1rem;
      margin: 1rem;

      @media only screen and (max-width: 600px) {
        margin: 0;

      }



      .stat-big {
        display: grid;
        grid-template-columns: 50% auto;

        @media only screen and (max-width: 600px) {
          grid-template-columns: 100%;

        }

        .card {
          background: #fff;
          margin: .5rem 1rem;
          padding: .5rem 1rem;

          @media only screen and (max-width: 600px) {
            background: #fff;
            margin: .5rem 0;
            padding: .5rem 1rem;
            width: 100%;
          }

          h4 {
            font-weight: 600;
            text-transform: uppercase;

            span {
              color: #0337BB;
              padding-left: 2rem;
            }
          }

          p {
            width: 100%;
            text-align: left;
            font-size: 2.5rem;
          }

          .top-selling {
            width: 100%;

            tr td {
              border-bottom: 1px solid #D3D8DF;
              padding: .5rem;
            }

            .value {

              // text-align: right;
              span {
                opacity: .4;
              }
            }
          }
        }

        .inverse {
          background: #0337BB;

          h4,
          p {
            color: #fff;
          }
        }
      }


    }
  }
}

.count {
  background: #0337BB;
  color: #fff;
  padding: .2rem;
  font-size: .6rem;
  height: $bedget;
  width: $bedget;
  border-radius: $bedget;
}

.scroll-card {
  max-height: 25vh;
  overflow-y: scroll;
}

.w75-25 {
  grid-template-columns: 75% auto;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}

.top-selling-table {
  background: #fff;
  padding: 2rem;


  table {
    width: 100%;

    tr td {
      border-bottom: 1px solid #D3D8DF;
      padding: .5rem;
    }

    .value {
      span {
        opacity: .4;
      }

      .danger {
        color: #e74c3c;
      }
    }
  }
}

a {
  cursor: pointer;
  &:hover{
    font-weight: 500;
  }
}



::ng-deep {
  body .ui-dialog .ui-dialog-titlebar {
    background: #104CE5 !important;
    color: #fff !important;
  }

  body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
    color: #fff !important;

  }
}
