@import '../../../../../../assets/styles/variables';

.container {

  padding: 5%;
  padding-bottom: 1rem;
  min-height: 95vh;

  h1.heading {
    padding: 1rem 12rem;
  }

  .products {
    background: $white-color;
    margin: 0 auto;
    width: 70%;
    padding: 1rem;
    position: relative;
    max-height: 30rem;
    overflow-y: scroll;

    .product {
      display: grid;
      grid-template-columns: 10% 20% 20% auto;
      grid-gap: .5rem;

      @media only screen and (max-width: 600px) {
        grid-template-columns: 20% 40% auto;
      }

      img {
        width: 100%;
        margin: 0 auto;
      }

      .edit {
        display: grid;
        grid-template-columns: 10% 10% auto;

        @media only screen and (max-width: 600px) {
          grid-template-columns: 30% 30% auto;
        }

        img {
          margin-top: 1rem;
          width: 1.4rem;
          cursor: pointer;


          @media only screen and (max-width: 600px) {
            margin: 0 1rem;
          }
        }

        .remove {
          margin-left: 2.5rem;
        }
      }

      @media only screen and (max-width: 600px) {}
    }
  }

  .actions {
    background: $white-color;
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 30% auto;
    padding: 1rem;


    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;
    }

    .action {
      padding: .1rem 0;

      img {
        height: 2.5rem;
        width: auto;
        cursor: pointer;
      }
    }
  }

}

h1.total {
  font-size: 1.3rem;
  background: $white-color;
  margin: .2rem auto;
  width: 70%;
  padding: 1rem;
}
