<app-shopping-nav [shopPrimaryColor]="shopPrimaryColor" [shopSecondaryColor]="shopSecondaryColor"></app-shopping-nav>

<div class="container" *ngIf="sale$ | async as sale">
  <div class="cover-photo">
    <img [src]="bannerImage" alt="">
  </div>
  <div class="content">
    <!-- <div class="check-out">
      <button class="action-btn   hover-shadow"
        [ngStyle]="{'border-color':shopPrimaryColor, 'color':shopPrimaryColor,  background: '#fff', border: '1px solid #000','border-color':shopPrimaryColor}"
        (click)="back(item)"><i class="pi pi-shopping-cart"></i> Back to
        shoping</button>
    </div> -->

    <h3 class="small-heading">
      Shopping cart
    </h3>

    <div class="col-1-2">
      <div class="sale-sammary">
        <div class="main-holder">
          <div class="col-1-5">
            <div class="head">Product details</div>
            <div class="head"></div>
            <div class="head">Quantity</div>
            <div class="head">Price</div>
            <div class="head">Total</div>
          </div>
          <span *ngFor="let item of sale.items">
            <div class="sale-item col-1-5">
              <div class="row image">
                <img [src]="item.image" alt="" *ngIf="item.image" />
                <img src="assets/images/placeholder.png" *ngIf="!item.image" alt="" />
              </div>

              <div class="row name">
                <h3>
                  {{item.name}}
                  <span>
                    {{item.itemOptions | formatOptions}}
                  </span>
                </h3>
                <div class="remove">
                  <button (click)="removeItem(item)">Remove</button>
                </div>
              </div>


              <div class="row quantity">
                <div class="col clicks" (click)="reduce(item)">
                  <i class="pi pi-minus"></i>
                </div>
                <div class="col">
                  <input type="text" [(ngModel)]="item.quantity" (blur)="blur(item)"> </div>
                <div class="col clicks" (click)="add(item)">
                  <i class="pi pi-plus"></i>
                </div>
              </div>

              <div class="row price">
                <h3>
                  {{item.price| currency:'R'}}
                </h3>
              </div>

              <div class="row total">
                <h3>
                  {{item.subTotal| currency:'R'}}
                </h3>
              </div>



            </div>
            <div class=" col-1-5 sale-items-mobile">
              <div class="top">
                <div class="row image">
                  <img [src]="item.image" alt="" *ngIf="item.image" />
                  <img src="assets/images/placeholder.png" *ngIf="!item.image" alt="" />
                </div>

                <div class="row name">
                  <h3>
                    {{item.name}}
                  </h3>
                  <div class="remove">
                    <button (click)="removeItem(item)">Remove</button>
                  </div>
                </div>
                <div class="row price">
                  <h3>
                    {{item.price| currency:'R'}}
                    <span class="label-span">Price</span>
                  </h3>
                </div>
              </div>
              <div class="bot">

                <div class="row quantity">
                  <div class="col clicks" (click)="reduce(item)">
                    <i class="pi pi-minus"></i>
                  </div>
                  <div class="col">
                    <input type="text" [(ngModel)]="item.quantity" (blur)="blur(item)"> </div>
                  <div class="col clicks" (click)="add(item)">
                    <i class="pi pi-plus"></i>
                  </div>
                </div>

                <div class="row total">
                  <h3>
                    {{item.subTotal| currency:'R'}}
                    <span class="label-span">Total</span>

                  </h3>
                </div>
              </div>
            </div>
          </span>
        </div>

      </div>

      <div class="sammary-totals">
        <div class="shipping">
          <h3>
            Order summary
          </h3>

          <div class="col-1-of-2">
            <h4>
              Items 3
            </h4>

            <h4>
              {{sale?.total | currency:'R'}}

            </h4>
          </div>

          <div class="shipping">

            <div class="input">
              <p>
                shipping
              </p>
              <select class="input" (change)="deliveryChanged($event.target.value)" name="" id="">
                <option value="delivery" selected>Standard delivery - R150.00 </option>
                <option value="collect">I will collect </option>
              </select>
            </div>

            <!-- <div class="input">
              <p>
                promo code
              </p>
              <input type="text">
            </div>
            <div class="input">
              <div class="add">
                <button class="btn" [ngStyle]="{'background-color':shopPrimaryColor, 'color':shopSecondaryColor}"
                  (click)="onSubmit()">apply</button>
              </div>
            </div> -->

            <div class="checkout">
              <div class="col-1-of-2">
                <h4>
                  total cost
                </h4>
    
                <h4>
                  {{sale?.total + deliveryFee | currency:'R'}}
    
                </h4>
              </div>

              <div class="input">
                <div class="add">
                  <button class="btn" [ngStyle]="{'background-color':shopPrimaryColor, 'color':shopSecondaryColor}"
                    (click)="checkout()">checkout</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <app-shipping></app-shipping> -->
        </div>
<!-- 
        <div class="sell total">
          <h4>
            {{sale?.total | currency:'R'}}
            <span>Total</span>
          </h4>

        </div>

        <div class="list-filters">
          <div class="add">
            <button class="btn" [ngStyle]="{'background-color':shopPrimaryColor, 'color':shopSecondaryColor}"
              (click)="onSubmit()">Save order</button>
          </div>
          <div class="add">
            <button class="btn btn-warn"
              [ngStyle]="{'color':shopPrimaryColor,  background: 'none', border: '1px solid #000','border-color':shopPrimaryColor}"
              (click)="clear()">Clear form</button>
          </div>
        </div> -->
      </div>
    </div>

  </div>
</div>

<title>
  {{welocme}}
</title>
