<div class="container" *ngIf="sale$ | async as sale>
  <h1 class="heading">
    Your cart
  </h1>
  <div class="products">
   
    <div class="product" *ngFor="let item of sale.items">
      <div class="image">
        <img [src]="item.image" alt="" *ngIf="item.image" />
        <img src="assets/images/placeholder.png" *ngIf="!item.image" alt="" />
      </div>

      <div class="item">
        <p>
          {{item.name}}
          <span>
            {{item?.options | formatOptions}}
          </span>
        </p>
      </div>

      <div class="price">
        <p>
          {{item.quantity}} x {{item.price| currency:'R'}} <br>
          <b>{{item.quantity*item.price| currency:'R'}}</b>
        </p>
      </div>
      <div class="item edit">
        <div class="action">
          <img (click)="reduce(item)" src="assets/images/tybo/cta-cart-minus.svg" alt="">
        </div>
        <div class="action">
          <img (click)="add(item)" src="assets/images/tybo/cta-cart-plus.svg" alt="">
        </div>
        <div class="action">
          <img (click)="removeItem(item)" class="remove" src="assets/images/tybo/cta-cart-remove.svg" alt="">
        </div>
      </div>
    </div>


  </div>
  <h1 class="total"> Order Total: {{sale.total| currency:'R'}}</h1>
  <div class="actions">
    <div class="action">
      <img (click)="checkout()" src="assets/images/tybo/cta-checkout.svg" alt="">
    </div>

    <div class="action">
      <img (click)="back()" src="assets/images/tybo/cta-continue-shopping.svg" alt="">
    </div>
  </div>



  <ng-template #notFound>
    <div class="not-found">
      <img src="assets/images/empty-cart.svg" alt="no items found">
      <h1 class="message">
        Your shopping cart is empty
        <span>
          <a class="link-add" (click)="back()"> Start shopping.</a>
        </span>
      </h1>
    </div>
  </ng-template>

  <title>
    {{welocme}}
  </title>
