<div class="main">
  <div *ngIf="user$ | async as user" class="user-profile">
    <div (click)=toProfile(user) class="cta">
        <span class="dp">
            <img *ngIf="user.DP" [src]="user.DP.Url" alt="">
            <img *ngIf="!user.DP" class="placeholder" src="assets/user-blue.svg" alt="">
            <!-- <img *ngIf="!user.DP" class="placeholder mob" src="assets/user2.svg" alt=""> -->
          </span>
      <h1>
        {{user.Name}}
      </h1>

      <h2>
        {{user.Company?.Name}}
      </h2>
    </div>
  </div>
</div>
