@import '../../../../../assets/styles/variables';
$dp-width : 4rem;
$dp-reduced : 3rem;

.main {
  // background: $primary-bg-color;
  padding: 2rem 0;
  width: 30%;
  position: relative;
  // background: red;
  float: right;


  @media only screen and (max-width: 768px) {
     width: 50%;
  }

  @media only screen and (max-width: 600px) {
    padding: 0;
  }

  .user-profile {
    .cta {
      display: grid;
      grid-template-columns: 30% 30% auto;
      margin-top: -1.5rem;

      .text{
        font-weight: 500;
        font-size: 0.8rem;
      }

      @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
        h1 {
          display: none;
        }

      }
    }


    @media only screen and (max-width: 600px) {
      grid-template-columns: 50% auto;
      padding: 1rem;

    }

    .dp {
      padding: 0;
      margin: 0 auto;
      display: block;
      border-radius: $dp-width;
      width: $dp-width;
      height: $dp-width;
      overflow: hidden;
      // border: .1rem solid #fff;

      display: block;

      @media only screen and (max-width: 768px) {

      }

      @media only screen and (max-width: 600px) {
        border-radius: $dp-reduced;
        width: $dp-reduced;
        height: $dp-reduced;
        margin-left: 5rem;
        margin-top: 1.5rem;
      }

      img {
        width: 100%;
      }

      img.placeholder {
        // width: 60%;

        display: block;

        @media only screen and (max-width: 600px) {}

      }

      img.mob {
        display: none;

        @media only screen and (max-width: 600px) {
          display: block;
        }
      }
    }

    h1,
    h2,
    h3 {
      color: #fff;
      text-align: center;
      font-size: .9rem;
      margin: 0;
      padding: 0;
      margin-top: 1.3rem;

      @media only screen and (max-width: 600px) {

        font-size: .7rem;
        display: none;

      }
    }

    h1 {
      @media only screen and (max-width: 600px) {
        margin-top: 1rem;
        ;
      }
    }

    h2 {
      font-size: .7rem;

      @media only screen and (max-width: 600px) {
        font-size: .5rem;
      }
    }

    h3 {
      font-size: .6rem;
    }
  }
}
