<div class="main">
  <div class="body">
    <div class="form">
      <h1 class="form-heading">
        add a category
      </h1>
      <form [formGroup]="rForm" *ngIf="rForm" (ngSubmit)="add(rForm.value)">

        <div class="group">
          <input type="text" formControlName="Name" required="required" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name</label>
          <div class="alert" *ngIf="!rForm.controls['Name'].valid && rForm.controls['Name'].touched">
            Product Name is required
          </div>
        </div>
        <div class="group">
          <input type="submit" value="Add catergory" class="btn" [disabled]="!rForm.valid" />
        </div>
      </form>
    </div>
  </div>
</div>
