<!-- <div class="main">
  <h1 class="heading">your categories on the system</h1>
  <div class="list-filters">
    <div>
      <input type="text" [(ngModel)]="search" placeholder="search">
    </div>

    <div class="add">
      <button class="btn">
        <span class="phone-only" (click)="add()"><i class="pi pi-plus"></i></span>
      </button>
    </div>
  </div>
  <div class="list-body">
    <span>
      <div class="cards-betta" *ngIf="categories$  | async as categories">
        <span *ngFor="let item of categories | configurationFilterPipe: search">
          <div class="card">
            <div class="image">
              <img src="assets/images/maintenance.svg" alt="">
            </div>
            <div class="name">
              <h1>
                {{item.Name}}
              </h1>
              <div class="status">
                <p-toggleButton [(ngModel)]="item.StatusId" onLabel="Active" offLabel="Not Active" onIcon="pi pi-check"
                  offIcon="pi pi-times" [style]="{'width':'100%'}"></p-toggleButton>
              </div>
            </div>
          </div>
        </span>
      </div>
    </span>
  </div>
</div> -->

<div class="main-content">
  <h1 class="title-header">Your categories in the system</h1>
  <div class="panel col-1-of-3">
    <div class="input-card">
      <div class="search-box">
        <div class="input-times">
          <input type="text" [(ngModel)]="search" placeholder="🔎 search here ...">
          <div class="times" (click)="clearSearch()">
            <i class="pi pi-times"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="input-card">
    </div>
    <div class="cta">
      <button class="btn" (click)="add()">
        <span class="">Add a category</span>
      </button>
    </div>
  </div>

  <div class="cards-betta" *ngIf="categories$  | async as categories; else notFound">
    <span *ngFor="let item of categories | configurationFilterPipe: search">
      <div class="card">
        <div class="image">
          <img src="assets/images/maintenance.svg" alt="">
        </div>
        <div class="name">
          <h1>
            {{item.Name}}
          </h1>
          <!-- <div class="status">
            <p-toggleButton [(ngModel)]="item.StatusId" onLabel="Active" offLabel="Not Active" onIcon="pi pi-check"
              offIcon="pi pi-times" [style]="{'width':'100%'}"></p-toggleButton>
          </div> -->
          <div class="cta col-1-of-2">
            <button class="btn" (click)="updateCategory(item)">
              <img src="assets/images/actions/edit.svg" alt="edit icon">&nbsp;
              <span class="">Update category</span>
            </button>
          </div>
        </div>
      </div>
    </span>
  </div>
  <ng-template #notFound>
    <div class="not-found">
      <img [src]="notFoundModel.Image" alt="no items found">
      <h1 class="message">
        {{notFoundModel.Message}}
        <span>
          <a class="link-add" (click)="add()"> Add a new brand now.</a>
        </span>
      </h1>
    </div>
  </ng-template>

</div>
