<div class="main">
  <div class="body">
    <div class="form">
      <h1 class="form-heading"> add a role</h1>
      <form [formGroup]="rForm" *ngIf="rForm" (ngSubmit)="onSubmit(rForm.value)">
        <div class="group">
          <input type="text" formControlName="Name" required="required" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name</label>
          <div class="alert" *ngIf="!rForm.controls['Name'].valid && rForm.controls['Name'].touched">
            Role Name is required
          </div>
        </div>
        <div class="group button">
          <input type="submit" value="Add Role" class="btn" [disabled]="!rForm.valid" />
        </div>
        <div class="group cancel">
          <a routerLink="/dashboard/roles">abort</a>
        </div>
      </form>
    </div>
  </div>
</div>
