
<div class="main">
  <h1 class="heading">add a new role</h1>
  <div class="list-body col-1-of-2">
    <div class="form">
      <h1 class="form-heading"> adding a role based on position or job title etc.</h1>
      <form [formGroup]="rForm" *ngIf="rForm" (ngSubmit)="onSubmit(rForm.value)">
        <div class="group">
          <input type="text" formControlName="Name" required="required" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name</label>
        </div>
        <div class="alert" *ngIf="!rForm.controls['Name'].valid && rForm.controls['Name'].touched">
          Role Name is required
        </div>
        <div class="group button">
          <input type="submit" value="Add Role" class="btn" [disabled]="!rForm.valid" />
        </div>
        <div class="group cancel">
          <a routerLink="/dashboard/roles">abort</a>
        </div>
      </form>
    </div>
  </div>
</div>
