<div class="card col-1-of-2" *ngIf="!showAdd">
  <h1 class="card-title">Users role in the system</h1>
  <div class="add">
    <button class="btn" (click)="showAddForm()">add a role</button>
  </div>
  <div class="card-body" *ngIf="roles else notFound">
    <span class="tag" *ngFor="let role of roles">
      <button class="btn">{{role.Name}} &times;</button>
    </span>
  </div>
  <ng-template #notFound>
    <h1 class="information">
      no roles found for this user {{user.Name}}
    </h1>
  </ng-template>
</div>
<div *ngIf="showAdd">
  <app-add-user-role [user]="user" (toggle)="toggleTodo($event)"></app-add-user-role>
</div>
