<div class="main-container">
  <app-home-slider></app-home-slider>
  <div class="cards">
    <div class="card">
      <img src="assets/images/trolley-S1Mjb37PH.svg " alt="rocket">
      <h2>inventory control</h2>
      <p> Simplify your stock management with immediate updates.</p>
    </div>
    <div class="card">
      <img src="assets/images/purchase.svg" alt="Auto-Process icon">
      <h2>Purchasing</h2>
      <p> Access your regular suppliers based on your business relashionship.</p>
    </div>
    <div class="card">
      <span class="sell"><img src="assets/images/selling.svg" alt="geadsets"></span>
      <h2>Selling</h2>
      <p> Precess and manages your sales with inventory-io.</p>
    </div>
    <div class="card">
      <span> <img src="assets/images/myshops.svg" alt="chat"></span>
      <h2>My Stores</h2>
      <p> Manage and track your different stores and efficiently track your inventory.</p>
    </div>
  </div>
  <app-features></app-features>
  <footer>
    <h1>Try Our 60-day Full Primium Version</h1>
    <div class="textbox">
      <input type="text" class="text-box" placeholder="Enter your email here...">
      <button class="btn" routerLink="/sign-up">Subscribe Now</button>
    </div>
  </footer>
</div>
