<div class="main-container">
  <div class="content">
    <div class="mobile-house">
      <img src="assets/images/housemobile.svg" alt="">
    </div>
    <div class="main-heading">
        <h1>Welcome to Inventory IO
            <span class="spec">
              Say goodbye to paperwork and hello to a mobile system that helps you manage your inventory by giving you an updated view  of  your business insights .</span>
          </h1>
    </div>
    <a routerLink="/sign-up"><button>Start Now</button></a>
    <!-- Start My Free 60-day Premium Trial -->
  </div>
  <div class="cards">
    <div class="card">
      <img src="assets/images/trolley-S1Mjb37PH.svg " alt="rocket">
      <h2>inventory control</h2>
      <p> Simplify your stock management with immediate updates.</p>
    </div>
    <div class="card">
      <img src="assets/images/purchase.svg" alt="Auto-Process icon">
      <h2>Purchasing</h2>
      <p> Access your regular suppliers based on your business relashionship.</p>
    </div>
   <div class="card">
      <span class="sell"><img src="assets/images/selling.svg" alt="geadsets"></span>
      <h2>Selling</h2>
      <p> Precess and manages your sales with inventory-io.</p>
    </div>
    <div class="card">
      <span> <img src="assets/images/myshops.svg" alt="chat"></span>
      <h2>My Stores</h2>
      <p> Manage  and track your different stores and efficiently track your inventory.</p>
    </div>
  </div>
  <app-features></app-features>
  <!-- <app-Pricing></app-Pricing> -->
  <footer>
    <h1>Try Our 60-day Full Primium Version</h1>
    <div class="textbox">
      <input type="text" class="text-box" placeholder="Enter your email here...">
      <button class="btn" routerLink="/sign-up" >Subscribe Now</button>
    </div>
  </footer>
</div>
