@import '../../../../assets/styles/variables';

.main-container {
  padding: 3rem 6rem;

  .col-1-of-2 {
    grid-template-columns: 50% auto;
  }

  .home-banner {
    width: 45rem;

    h1 {
      font-size: 3.438rem;

      .dot {
        color: $primary-bg-color;
      }

      &.text {
        font-size: 1.22rem;
        width: 28rem;
        font-weight: 400;
        line-height: 30px;
      }
    }

    .cta {
      margin: 4rem 0;

      .btn {
        margin: 1rem 0;
        padding: 22px 75px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 10px;
      }

    }
  }

  .steps {
    background: #a1cdfb17;
    padding: 2rem;

    h1 {
      font-size: 1.875rem;
      width: 59.875rem;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .col-1-of-4 {
      margin: 0 auto;
      width: 90rem;
    }

    .step {
      width: 270px;

      .point {
        margin-bottom: 1rem;
        margin: 1rem auto;
        padding: 1rem 0;
        text-align: center;
        color: $white-color;
        font-weight: 600;
        text-transform: capitalize;
        background: $primary-bg-color;
        width: 4.75rem;
        border-radius: 10px;
      }

      .text {
        font-size: 0.938rem;
        width: 100%;
        font-weight: 400;
      }
    }
  }

  .mockup {
    padding: 2rem;

    .col-1-of-2 {
      margin: 2rem 0;
    }

    .type-face {
      width: 29.375rem;
      margin: 4rem 0;

      .main {
        text-transform: capitalize;
        font-weight: 700;
      }

      .text {
        font-size: 0.938rem;
        width: 100%;
        font-weight: 400;
      }
    }
  }

  .pricing {
    padding: 2rem;
    margin-bottom: 5rem;
    h1 {
      font-size: 1.875rem;
      width: 59.875rem;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .prices {
      cursor: pointer;
      img {
        height: 710px;
      }
    }
  }
}

//mobile layout
@media only screen and (max-width: 600px) {

  .home-banner {}

  .home-image {}
}

//tablet layout
@media only screen and (min-width: 481px) and (max-width:768px) {}

//ipad pro
@media only screen and (min-width: 1024px) and (max-width:1366px) {}
