<div class="content">
  <div class="inside-body">
    <div class="mobile-house">
      <img src="../../../../assets/images/housemobile.svg" alt="">
    </div>
    <h1>welcome to inventory IO</h1>
    <h5>Enjoy youe experience talk to VELI</h5>
    <!-- <div class="talk">
      <span class="plain-text"> <input type="text" placeholder="I'm new, what's new"></span>
      <span class="button"><input type="text" placeholder="Let's talk"></span>
    </div> -->

    <div class="home-text-box">
      <input type="text" class="text-box" placeholder="I'm new, what new">
      <button class="btn">Let's talks</button>
    </div>


  </div>
  <div class="image">
    <img src="../../../assets/images/undraw_business_shop_qw5t.svg" alt="poster">
  </div>
</div>

<div class="cards">
  <div class="card">
    <img src="../../../assets/images/rocket.svg" alt="rocket">
    <h2>Get Started</h2>
    <p> Is Simply Dummy Text Of The Printing And Typesetting Industry. </p>
  </div>
  <div class="card">
    <img src="../../../assets/images/Auto-Process.svg" alt="Auto-Process icon">
    <h2>Automate Processes</h2>
    <p> Is Simply Dummy Text Of The Printing And Typesetting Industry. </p>
  </div>
  <div class="card">
    <img src="../../../assets/images/headsets.svg" alt="geadsets">
    <h2>App Support</h2>
    <p> Is Simply Dummy Text Of The Printing And Typesetting Industry. </p>
  </div>
  <div class="card">
    <img src="../../../assets/images/what-people-say.svg" alt="chat">
    <h2>What People Say</h2>
    <p> Is Simply Dummy Text Of The Printing And Typesetting Industry. </p>
  </div>
</div>