.main {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: #104CE5;
  z-index: 999999999999;
.logo{
    text-align: center;
    img{
        margin: 20% auto;
        width: 8rem;
        margin-bottom: 0;
    }
}
  .text {
      margin-top: 2%;
    text-align: center;
    color: #fff;
    display: grid;
    grid-template-columns: 54% auto;

    h1 {
      text-align: right;
      position: relative;
      bottom: 1rem;
      letter-spacing: .6rem;
    }

  }
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  // margin: 10rem auto;
  // background: red;

}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}
