<div class="nav">
  <div class="profile">

    <ul>
      <li>
        <a routerLink="/shop/customer-portal/home"> <i class="pi pi-th-large"></i> Overview</a>
      </li>
      <li>
        <a routerLink="/shop/customer-orders/home"> <i class="pi pi-shopping-cart"></i> My orders</a>
      </li>
      <li>
        <a routerLink="/shop/customer-portal/home"> <i class="pi pi-heart"></i> My Wishlist</a>
      </li>
    </ul>
    <ul class="user">
      <!-- <li>
      <a routerLink=""> <i class="pi pi-map-marker"></i> My Addressess</a>
    </li> -->
      <li>
        <a routerLink="/shop/customer-portal/home"> <i class="pi pi-lock"></i>Change Password</a>
      </li>
    </ul>
  </div>
</div>
