.main {

  .slider {
    // height: 25rem;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    // height: 20rem;
    overflow: hidden;

    img {
      // height: 25rem;
      width: 100%;
      // border-radius: 1.2rem;
      animation: moveInLeft 1s ease-out 0s;
      animation-fill-mode: backwards;

      @media only screen and (max-width: 600px) {
        height: auto
      }
    }
  }

  .navigate {
    display: flex;

    .navigate-image {
      width: 3.5rem;
      overflow: hidden;
      margin-right: .5rem;
      height: 3.5rem;
      border: 1px solid rgb(226, 226, 226);

      img {
        width: 3.5rem;
        margin: .3rem 0;
        cursor: pointer;
      }
    }
  }

}
