.main {

  .slider {
    // height: 25rem;
    box-sizing: border-box;
    width: 100%;

    img {
      // height: 25rem;
      width: 100%;

      @media only screen and (max-width: 600px) {
        height:auto
      }
    }
  }
.navigate{
  display: flex;
  .navigate-image {
    width: 3.5rem;
    overflow: hidden;
    margin-right: .5rem;

    img {
      width: 100%;
      margin: .3rem 0;
      cursor: pointer;
    }
  }
}

}
