<div class="main" *ngIf="!showAdd">
  <div class="col-1-of-2">
    <h1 class="heading">Role permissions</h1>
    <div class="add">
      <button class="btn" (click)="showAddForm()">add a permission</button>
    </div>
  </div>

  <div class="list-body">
    <span class="cards-betta" *ngIf="permissions.length > 0; else notFound">
      <span *ngFor="let item of permissions">
        <div class="card">
          <div class="image">
            <img src="assets/images/actions/permission.svg" alt="permission image">
          </div>
          <div class="name">
            <h1 class="main">{{item.friendlyName}}</h1>
            <h1 class="spec">{{item.desc}}</h1>
          </div>
        </div>
      </span>
    </span>
    <ng-template #notFound>
      <div class="not-found">
          <img [src]="notFoundModel.Image" alt="no items found">
          <h1 class="message">
            {{notFoundModel.Message}}
          </h1>
      </div>
    </ng-template>
  </div>
</div>
<div *ngIf="showAdd">
  <app-add-role-permission (toggle)="toggleTodo($event)" [roleId]="roleId">
  </app-add-role-permission>
</div>
