@import '../../../../../assets/styles/variables';

.col-1-of-2 {
  grid-template-columns: 60% auto;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}
.heading {
  padding: 0;
  @media only screen and (max-width: 600px) {
    font-size: 1.2rem;
    margin: 2rem 0;

  }

}
.add {
  margin: 1rem;

  @media only screen and (max-width: 600px) {
    .btn {
      width: 100%;
    }
  }
}
.tag {
  float: left;
  margin: 1rem 0;
  .btn {
    background: $primary-bg-color;
    border-radius: 25px;
    box-shadow: none;
    margin: 0 1rem;
    font-size: 0.8rem;
    padding: 10px 2rem;
  }
}
a {
  text-transform: capitalize;

  &.back-to {
    color: #D3D8DF;
    margin: 4rem 2rem;
    margin-bottom: 0;
    text-align: right;
  }
}
.cards-betta {
  grid-template-columns: repeat(4, 25%);

  .name {
    .main {
      font-size: 0.85rem;
      color: $black-color;
    }

    .spec {
      font-size: 0.7777rem;
      font-weight: 500;
      color: $gray-color;
    }
  }

  @media only screen and (max-width: 1024px) {
    grid-template-columns: 50% auto;
    width: 100%;
    max-height: 80vh;
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 100%;
    width: 100%;
    max-height: 80vh;
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
    width: 100%;
    max-height: 80vh;
  }
}

.not-found {
  width: 50%;

  .message {
    text-align: center;
    margin: 2rem 0;
    font-size: 15px;
    font-weight: 600;
    color: #FCD0AE;
  }
}
