@import '../../../../../assets/styles/variables';

.col-1-of-2 {
  grid-template-columns: 60% auto;
}

.add {
  margin: 1rem;
}

.cards-betta {
  grid-template-columns: repeat(3, 33%);

  .name {
    .main {
      font-size: 0.85rem;
      color: $black-color;
    }

    .spec {
      font-size: 0.7777rem;
      font-weight: 500;
      color: $gray-color;
    }
  }
}

.not-found {
  width: 50%;

  .message {
    text-align: center;
    margin: 2rem 0;
    font-size: 15px;
    font-weight: 600;
    color: #2E344C;
  }
}
