<div class="main">
  <div class="body" *ngIf="!showAdd">
    <div class="page-actions">
      <h1 class="heading">
        Role permissions
      </h1>
      <div class="add">
        <button (click)="showAddForm()">add a permission</button>
      </div>
    </div>
    <div>
      <div class="cards" *ngIf="permissions.length > 0; else notFound">
        <span *ngFor="let item of permissions">
          <div class="card col-1-of-2" *ngIf="item">
            <div class="icon">
              <img src="assets/images/actions/permission.svg" alt="permission image">
            </div>
            <div class="data">
              <h1 class="main">{{item.friendlyName}}</h1>
              <h1 class="spec">{{item.desc}}</h1>
            </div>
          </div>

        </span>
      </div>
      <ng-template #notFound>
        <p class="not-found">
          no permissions for this role
        </p>
      </ng-template>
    </div>
  </div>
  <div *ngIf="showAdd">
    <app-add-role-permission
    (toggle)="toggleTodo($event)"
    [roleId]="roleId"
    >
    </app-add-role-permission>
  </div>
</div>
