.main {
  padding-top: 6rem;
  height: 70vh;
  @media only screen and (max-width: 600px) {
    padding-top: 2rem;
    height: auto;

  }


  .col-1-of-2 {
    grid-template-columns: 43% auto;
    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;

    }

    .heading {
      padding-top: 10%;
      padding-left: 40%;
      @media only screen and (max-width: 600px) {
        padding-left:0;
      }

      h1 {
        color: #3742FA;
        font-size: 1.9rem;
        margin-left: 0;
        font-weight: 800;
        // float: right;
        @media only screen and (max-width: 600px) {
          font-size: 1.2rem;
        }

      }

      p {
        font-weight: 400;
        font-size: 1.1rem;
        margin-left: 0;
        width: 60%;
        // float: right;

        text-transform: none;
        @media only screen and (max-width: 600px) {
          width: 100%;

        }

      }

      a {
        border-radius: 5px;
        padding: 1rem;
        margin: 0 1rem;
        font-weight: 700;
        font-size: .8rem;
        margin-left: 0;

      }

      .filled {
        background: #3742FA;
        color: #fff;
      }

      .not-filled {
        color: #3742FA;
        background: #fff;
        border: 1px solid #3742FA;
      }
    }

    .slide {
      img {
        width: 75%;
        margin: auto;
        animation: animationFadeIn 2s ease-in-out;

        @media only screen and (max-width: 600px) {
          width: 94%;
        }
      }
    }
  }
}
