<div class="container">
  <div class="banner">
    <div class="banner-body">
      <h1 class="heading">To start innovating with inventoryio.</h1>
      <h1 class="heading">Please pick a plan.</h1>
    </div>
  </div>
  <div class="content">
    <div class="col-1-of-3">
      <div class="card">
        <div class="card-icon">
          <img src="assets/images/ballon.svg" alt="free icon">
        </div>
        <div class="card-title">
          <h1 class="description">inventoryio free</h1>
          <h1 class="amount">R00.00 <span class="month">/month</span></h1>
        </div>
        <div class="card-body">
          <ul>
            <li><img src="assets/images/home/blue-tick.svg" alt="indicator">&nbsp;&nbsp;1 Active user</li>
            <li><img src="assets/images/home/blue-tick.svg" alt="indicator">&nbsp;&nbsp;20 Products Max</li>
            <li><img src="assets/images/home/blue-tick.svg" alt="indicator">&nbsp;&nbsp;20 Sale orders p.m</li>
            <li class="gray"><img src="assets/images/home/gray-x.svg" alt="indicator">&nbsp;&nbsp;Communications</li>
            <li class="gray"><img src="assets/images/home/gray-x.svg" alt="indicator">&nbsp;&nbsp;Reporting</li>
            <li class="gray"><img src="assets/images/home/gray-x.svg" alt="indicator">&nbsp;&nbsp;Customization of tool
            </li>
          </ul>
        </div>
        <div class="card-actions">
          <a routerLink="/sign-up" class="60-days">Start 60 day free trial</a>
        </div>
      </div>
      <div class="card recommended">
        <div class="card-icon">
          <img src="assets/images/home/send-white.svg" alt="send icon">
        </div>
        <div class="card-title">
          <h1 class="description">inventoryio standard</h1>
          <h1 class="amount">R300.00 <span class="month">/month</span></h1>
        </div>
        <div class="card-body">
          <ul>
            <li><img src="assets/images/home/white-tick.svg" alt="indicator">&nbsp;&nbsp;2 - 5 Active user</li>
            <li><img src="assets/images/home/white-tick.svg" alt="indicator">&nbsp;&nbsp;50 Products Max</li>
            <li><img src="assets/images/home/white-tick.svg" alt="indicator">&nbsp;&nbsp;50 Sale orders p.m</li>
            <li><img src="assets/images/home/white-tick.svg" alt="indicator">&nbsp;&nbsp;Communications</li>
            <li><img src="assets/images/home/white-tick.svg" alt="indicator">&nbsp;&nbsp;Reporting</li>
            <li class="gray"><img src="assets/images/home/gray-x.svg" alt="indicator">&nbsp;&nbsp;Customization of tool
            </li>
          </ul>
        </div>
        <div class="card-actions">
          <a routerLink="/sign-up" class="60-days">Start 60 day free trial</a>
        </div>
      </div>
      <div class="card">
        <div class="card-icon">
          <img src="assets/images/startup.svg" alt="startup icon">
        </div>
        <div class="card-title">
          <h1 class="description">inventoryio premium</h1>
          <h1 class="amount">R750.00 <span class="month">/month</span></h1>
        </div>
        <div class="card-body">
          <ul>
            <li><img src="assets/images/home/blue-tick.svg" alt="indicator">&nbsp;&nbsp;1 - 10 Active user</li>
            <li><img src="assets/images/home/blue-tick.svg" alt="indicator">&nbsp;&nbsp;Unlimited Products</li>
            <li><img src="assets/images/home/blue-tick.svg" alt="indicator">&nbsp;&nbsp;Unlimited Sale orders</li>
            <li><img src="assets/images/home/blue-tick.svg" alt="indicator">&nbsp;&nbsp;Communications</li>
            <li><img src="assets/images/home/blue-tick.svg" alt="indicator">&nbsp;&nbsp;Reporting</li>
            <li><img src="assets/images/home/blue-tick.svg" alt="indicator">&nbsp;&nbsp;Customization of tool
            </li>
          </ul>
        </div>
        <div class="card-actions">
          <a routerLink="/sign-up" class="60-days">Start 60 day free trial</a>
        </div>
      </div>
    </div>
    <h1 class="terms">
      *Inventoryio has a complementary non-obligated 60 day free trial, for tiers other than free, a 30 day cancellation
      window is applicable.
    </h1>
  </div>
  <div class="enterprise">
    <div class="col-1-of-2">
      <div class="plan">
        <h1>Inventoryio enterprise plan</h1>
        <p>Take advantage of our enterprise option where we offer our clients the ability to customize and take
          ownership of this software as part of their own solution strategy</p>
      </div>
      <div class="cta">
        <a routerLink="/sign-up" class="btn">Try inventory enterprise</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="panel">
      <div class="col-1-of-2">
        <img src="assets/images/rocket.svg" alt="rocket icon">
        <div class="panel-body">
          <h1 class="heading">Join us today and be part of a revolution.</h1>
          <p>Begin your journey with us and lets make stock taking and inventory management a breeze.</p>
          <div class="buttons">
            <a routerLink="/sign-up" class="btn">Sign up today</a>
            <a routerLink="/sign-in" class="btn btn-border">Sign in now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
