@import '../../../../../assets/styles/variables';
$midnight: #2c3e50;
$clouds: #ecf0f1;

.main-container {
  padding: 3rem 0;

  .header {
    h1 {
      color: $dark-navy;
      text-align: center;
      font-size: 1.563rem;
      font-weight: 900;

      &.text {
        font-size: 0.938rem;
        color: $strong-gray;
        font-weight: 600;
      }

      .free {
        color: $primary-bg-color;
      }
    }
  }

  .price-list {
    margin: 6.25rem 0;

    img {
      width: 100%;
    }
  }


}
