<div class="main-container">
  <div class="fees">
    <div class="fee">
      <h1>
        Tybo pricing guide <span class="free">.</span>
      </h1>

      <p>
        Every time the customer purchase your products, we charge a fee of<b> 10% plus R4 </b> for each
        successfully completed order. Because we charge per order, you
        only ever pay for what you use. There are no setup, monthly or hidden fees;
        you don’t even need a merchant bank account to get paid.
      </p>
    </div>

    <div class="fee">
      <h1>
        Pricing table example per order <span class="free">.</span>
      </h1>

      <div class="image">
        <img src="assets/images/tybo/feestable.svg" alt="">
      </div>
    </div>

    <div class="fee">
      <h1>
        Weekly payouts fee and anytime payouts <span class="free">.</span>
      </h1>

      <p>
        We send money <b> weekly </b> from your <b>TYBO</b> account to your bank account for <b>free</b>.
        <br>
        <br>
        Then each time you request money to be sent from your <b>TYBO</b> account to your bank account, we
        charge a payout fee of <b>R15</b> excluding VAT, regardless of the value of the payout.
      </p>
    </div>



    <div class="fee">
      <h1>
        Customer refunds <span class="free">.</span>
      </h1>

      <p>
        You can refund your customers who paid using <b>TYBO</b>. Refunds can be processed by
        contacting our Support Team, we charge a refund fee of R5.
      </p>


    </div>

    <div class="action">
      <a routerLink="/sign-up" routerLinkActive="active-link">
        <img src="assets/images/tybo/btn-create-business-acc.svg" alt="">
      </a>
    </div>

  </div>



</div>
