<div class="main-container">
  <div class="header">
    <h1>
      Start your 30 day <span class="free">free</span> trial
    </h1>
    <h1 class="text">
      Try our system for the <span class="free">free</span> trial period of 30 days.
    </h1>
  </div>
  <div class="price-list col-1-of-4">
    <img src="assets/images/pckage-1.png" alt="package 1">
    <img src="assets/images/pckage-2.png" alt="package 2">
    <img src="assets/images/pckage-3.png" alt="package 3">
    <img src="assets/images/pckage-4.png" alt="package 4">
  </div>
  <div class="header">
    <h1>
      Frequently asked questions
    </h1>
    <h1 class="text">
      Here is a list of frequently asked <span class="free">questions</span>.
    </h1>
  </div>
    <app-faqs></app-faqs>


</div>
