.content{
    background-image: url(../../../../../assets/sign-in-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding:6rem 0;
 

h1 {
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;
    padding-bottom: 0rem;
    color: #104CE5;
}

.pricing {
    width: 80%;
    margin: auto;
    padding: 2rem;
    padding-top: 0%;
    margin-top: 6rem;
    background: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: -3px 6px 33px -8px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: -3px 6px 33px -8px rgba(0, 0, 0, 0.26);
    box-shadow: -3px 6px 33px -8px rgba(0, 0, 0, 0.26);
    margin-bottom: 2rem;
    @media only screen and (max-width: 600px){
        margin-top: 0%;
        padding: 1.5rem;
        width: 100%;
       box-shadow: none;
    }
    .Pricing-Package {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        @media only screen and (max-width: 600px) {
            grid-template-columns: 100%;
        }
        .card {
            -webkit-box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
            -moz-box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
            box-shadow: 0px 1px 6px 4px rgba(71, 66, 71, 0.09);
            margin: 2rem;
            text-align: center;
            cursor: pointer;

            &:hover {
                border-bottom: .6rem solid #104CE5;
              }
            @media only screen and (max-width: 600px){
                margin: 1rem 0;
            }
            img{
                margin: 2rem;
                margin-bottom: 0%;
            }
            h2{
                color: #D3D8DF;
            }
            h3{
                color: #656D88;
                font-size: 2rem;
            }
            h6,span{
                font-weight: 400;
                color: #656D88;
                font-size: .8rem;
            }
        }
    }

}
}
