<div class="container" *ngIf="products$  | async as products">
  <div class="banner">
    <div class="banner-body">
      <h1 class="heading">{{welocme}}</h1>
      <!-- <h1 class="heading">Please pick a plan.</h1> -->
    </div>
  </div>
  <div class="content">
    <div class="check-out">
      <button class="action-btn  hover-shadow" (click)="details(item)"><i class="pi pi-shopping-cart"></i> Checkout
        {{cart.length}} Items</button>
    </div>
    <div class="col-1-of-4">
      <div class="card" *ngFor="let item of products ">
        <div class="image">
          <img [src]="item.images[0].Url" alt="" *ngIf="item.images" />
          <img src="assets/images/placeholder.png" *ngIf="!item.images" alt="" />
        </div>
        <div class="details">
          <h1 class="name">
            {{item.Name}}
          </h1>
          <p class="price">
            {{item.UnitPrice | currency:'R'}}
          </p>
          <div class="price">

            <button class="action-btn hover-shadow" (click)="addToCart(item)">Add to cart</button>
            <button class="action-btn hover-shadow white" (click)="addToCart(item)">Details</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<title>
  {{welocme}}
</title>
