<div class="container" *ngIf="products$  | async as products">
  <div class="banner" style="background-image: url('../../../../../assets/shop/shop.png');">
    <div class="banner-body">
      <h1 class="heading">{{welocme}}</h1>
    </div>
  </div>
  <div class="content">
    <div class="check-out">
      <button class="action-btn  hover-shadow" (click)="viewCart()"><i class="pi pi-shopping-cart"></i> Checkout
        {{cart.length}} Items</button>
    </div>
    <div class="col-1-of-4">
<span *ngFor="let item of products ">
  <p-card [header]="item.Name" subheader="" [style]="{width: '360px' , margin: '5px', overflow : 'hidden', 'text-align': 'left'}"
  styleClass="ui-card-shadow" >
  <p-header>
    <img [src]="item.images[0].Url" alt="" *ngIf="item.images" style="height: 300px; width: auto; margin: 0 auto;" />
    <img src="assets/images/placeholder.png" *ngIf="!item.images" style="height: 300px" alt="" />
  </p-header>
  <div>{{item.UnitPrice | currency:'R'}}</div>
  <p-footer>
    <button class="action-btn hover-shadow" (click)="doSell(item)">Add to cart</button>
    <!-- <button class="action-btn hover-shadow white" (click)="addToCart(item)">Details</button> -->
  </p-footer>
</p-card>
</span>

    </div>
  </div>
</div>

<title>
  {{welocme}}
</title>
