.top-navigation {
  background: #fff;
  // background: rgb(189, 99, 99);
  display: grid;
  // grid-template-columns: 5% 70% 20% 5%;
  grid-template-columns: 5% 20% 50% 20% 5%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  padding: 0 11rem;

  @media only screen and (max-width: 600px) {
    padding: 0 2rem;
  }

  .col {
    // border: 1px solid black;
    text-align: center;
    box-sizing: border-box;

    img {
      margin-top: .8rem;
    }

    p {
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  .menu {
    img {
      width: 3.5rem;
      cursor: pointer;
      position: relative;
      top: 1rem;

      @media only screen and (max-width: 600px) {
        width: 2rem;
      }
    }
  }

  .logo {
    text-align: center;

    img {
      width: 7.5rem;
      position: relative;
      left: .2rem;

      @media only screen and (max-width: 600px) {
        left: 1.5rem;
        width: 4rem;
        top: .5rem
      }
    }
  }

  .search {
    text-align: left;

    img {
      height: 2.5rem;
      cursor: text;
      margin-top: 1.5rem;
      @media only screen and (max-width: 600px) {
      position: relative;
      left: 1.5rem;
      height: 1.7rem;
      top: .1rem;
      }
    }
  }

  .account {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;
    }

    p {
      margin: 0;
      position: relative;
      top: 2rem;

      @media only screen and (max-width: 600px) {
        display: none;
      }
       a {
        color: #000;
        font-size: .7rem;

      }
    }
  }

  .cart {
    text-align: left;

    img {
      height: 2.5rem;
      position: relative;
      top: .5rem;

      @media only screen and (max-width: 600px) {
        width: 2rem;
        top: 0;
      }
    }
  }

}

.main-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  background: #fff;
  width: 30%;
  padding: 2rem;
  height: 100%;
  animation: moveInLeft .2s ease-in;
  animation-fill-mode: backwards;
  -webkit-box-shadow: 17px 1px 29px -21px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 17px 1px 29px -21px rgba(0, 0, 0, 0.59);
  box-shadow: 17px 1px 29px -21px rgba(0, 0, 0, 0.59);

  @media only screen and (max-width: 600px) {
    width: 90%;
  }

  .seaction {
    margin: 2.5rem 0;

    a {
      display: block;
      font-weight: 900;
      font-size: 1.5rem;
      margin: .5rem;
      color: #000;
      text-transform: uppercase;
    }
  }

}

.modules {
  .modules-list {
    .module {
      display: grid;
      grid-template-columns: 5% auto;
      margin-left: 2rem;
      animation: moveInLeft .5s ease-in;
      // animation-fill-mode: backwards;
      background: #fff;

      img {
        width: 1rem;
        position: relative;
        top: 1rem
      }

      h1 {
        font-size: 1rem;
        margin: 0;

        span {
          display: block;
          font-size: .7rem;
        }
      }
    }
  }
}
