<div class="top-navigation">
  <div class="logo">
    <img src="assets/images/tybo.png" alt="">
  </div>

  <div class="search">
    <div class="input-group">
      <div>
        <input type="text" placeholder="Search products and shops...">
      </div>
      <div class="icon">
        <img src="assets/images/search.svg" alt="">
      </div>
    </div>
  </div>

  <div class="account">
    <a routerLink="/sign-up">
      <img src="assets/images/sign-up-home.svg" alt="">
    </a>
    <a routerLink="/sign-in">
      <img src="assets/images/sign-in-home.svg" alt="">
    </a>


  </div>
</div>

<div class="tabs">
  <div class="tab-item">
    <p>
      <a routerLink="/home" (click)="closeModule()" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}">home</a>
    </p>
  </div>
  <div class="tab-item">
    <p>

      <a (click)="showModule()" [ngClass]="modulesClass" routerLinkActive="active-link">our modules</a>
    </p>
  </div>
  <div class="tab-item">
    <p>

      <a routerLink="/shop" routerLinkActive="active-link">Shopping</a>
    </p>
  </div>
  <div class="tab-item">
    <p>

      <a routerLink="/pricing" (click)="closeModule()" routerLinkActive="active-link">pricing</a>
    </p>
  </div>

</div>

<div class="mobile-menu" *ngIf="showMobileNav">
  <div class="tab-item">
    <img class="back" src="assets/images/back-nav.svg" (click)="toggleNav()" alt="">
  </div>
  <div class="tab-item">
    <p>
      <a routerLink="/home" (click)="closeModule()" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}">home</a>
    </p>
  </div>
  <div class="tab-item">
    <p>

      <a (click)="showModule()" [ngClass]="modulesClass" routerLinkActive="active-link">our modules</a>
    </p>
  </div>
  <div class="tab-item">
    <p>

      <a routerLink="/shop"   (click)="closeModule()" routerLinkActive="active-link">Shopping</a>
    </p>
  </div>

  <div class="tab-item">
    <p>

      <a routerLink="/pricing" (click)="closeModule()" routerLinkActive="active-link">pricing</a>
    </p>
  </div>
  <div class="tab-item">
    <a routerLink="/sign-up"  (click)="closeModule()" >
      <img src="assets/images/sign-up-home.svg" alt="">
    </a>
  </div>
  <div class="tab-item">
    <a routerLink="/sign-in"  (click)="closeModule()" >
      <img src="assets/images/sign-in-home.svg" alt="">
    </a>
  </div>


</div>



<div class="modules" *ngIf="showModules">
  <div class="col-1-of-4">
    <div class="module col-1-of-2">
      <img src="assets/images/home/box.svg" alt="">
      <a class="cta" (click)="selectedModule('inventory')">
        <h1 class="header">
          inventory management
          <span class="text">
            Add product/service items includes sales by default.
          </span>
        </h1>
      </a>
    </div>
    <div class="module col-1-of-2">
      <img src="assets/images/home/shop.svg" alt="">
      <a class="cta" (click)="selectedModule('sales')">
        <h1 class="header">
          sales management
          <span class="text">
            Make sales and generate quotes for your clients.
          </span>
        </h1>
      </a>
    </div>
    <div class="module col-1-of-2">
      <img src="assets/images/home/crm.svg" alt="">
      <a class="cta" (click)="selectedModule('crm')">
        <h1 class="header">
          crm management
          <span class="text">
            Manage your partners on the go with communications.
          </span>
        </h1>
      </a>
    </div>
    <div class="module col-1-of-2">
      <img src="assets/images/home/graph.svg" alt="">
      <a class="cta" (click)="selectedModule('reporting')">
        <h1 class="header">
          reports management
          <span class="text">
            Add product/service items includes sales by default.
          </span>
        </h1>
      </a>
    </div>
    <div class="module col-1-of-2">
      <img src="assets/images/home/store.svg" alt="">
      <a class="cta" (click)="selectedModule('shop')">
        <h1 class="header">
          shop management
          <span class="text">
            Create a shop catalog with customization to stand out.
          </span>
        </h1>
      </a>
    </div>
    <a class="collapse" (click)="closeModule()">collapse</a>
  </div>
</div>


<div class="mobile-nav ">

  <div class="menu">
    <img  (click)="toggleNav()"  src="assets/images/option.svg" alt="">
  </div>
  <div class="logo">
    <img src="assets/images/tybo.png" alt="">
  </div>
</div>

<div class="mobile-nav-bottom">
  <div class="menu-item">
    <img src="assets/images/home-nav.svg" alt="">
    <a routerLink="/home">Home</a>
  </div>
  <div class="menu-item">
    <img src="assets/images/search-nav.svg" alt="">
    <a routerLink="/home">Search</a>
  </div>
  <div class="menu-item">
    <img src="assets/images/shopping-nav.svg" alt="">
    <a routerLink="/shop">Shopping</a>
  </div>
  <div class="menu-item">
    <img src="assets/images/account-nav.svg" style="width: .8rem;" alt="">
    <a routerLink="/home">Account</a>
  </div>
</div>
