.top-navigation {
  background: #fff;
  display: grid;
  grid-template-columns: 5% 10% 45% auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;

  .col {
    // border: 1px solid black;
    text-align: center;
    box-sizing: border-box;

    img {
      margin-top: .8rem;
    }

    p {
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  .menu {
    img {
      width: 2.5rem;
      margin: 1.5rem;
    }
  }

  .logo {
    text-align: left;

    img {
      width: 5rem;
      margin: 1.5rem;
    }
  }

  .search {
    text-align: left;

    img {
      height: 2.5rem;
      cursor: text;
      margin-top: 1.5rem;
    }
  }

  .actions {
    display: grid;
    grid-template-columns: repeat(4, 25%)
  }
}
