<h1 class="heading">
  Data Import
</h1>

<div class="clean-from-body" *ngIf="!isConfirmingImportNow">
  <h2 class="heading">
    Download template, to start importing.
  </h2>
  <div class="form">
    <div class="group mt-1 longer">
      <span>
        <br>
        Download the <a class="download-link" href="assets/files/inventoryio_product_template.xlsx"> template file</a>
        and fill with the products information
        <br>
        <i>
          Please do not change the file structure
        </i>
        <br><br>
      </span>
      <input type='file' (change)="onFileSelect($event)" />
    </div>


    <div class="cta col-1-of-2">
      <input type="submit" class="btn save" (click)="onSubmit()" value="Save products" [disabled]="!valid" />
      <a routerLink="/dashboard/list-product" class="cancel">cancel</a>
    </div>
  </div>
</div>

<div class="clean-from-body" *ngIf="isConfirmingImportNow">
  <h2 class="heading">
    Confirm import
  </h2>
  <p>
    Please confirm the changes. By continuing you will not be able to return to the previous list of items
  </p>
  <hr>
  <div class="report">
    <div class="icon">
      <img src="assets/images/import-export/created.svg" alt="">
    </div>
    <div class="data">
      <h4>
        33 products will be created.
      </h4>
    </div>
  </div>

  <div class="report">
    <div class="icon">
      <img src="assets/images/import-export/catergory.svg" alt="">
    </div>
    <div class="data">
      <h4>
        1 category will be created
      </h4>
    </div>
  </div>

  <div class="report">
    <div class="icon">
      <img src="assets/images/import-export/edited.svg" alt="">
    </div>
    <div class="data">
      <h4>
        4 products will be edited.
      </h4>
    </div>
  </div>
  <hr>
  <div class="cta">
    <button class="btn btn-transparent" (click)="cancel()">
      <span class="">Cancel</span>
    </button>
    <button class="btn" (click)="save()">
      <span class="">Confirm Import</span>
    </button>

  </div>
</div>
