.cards-betta {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}
.list-filters {
  grid-template-columns: 80% auto;
}

@media only screen and (max-width: 768px) {
  .list-body {
    padding: 0;
  }
  .cards-betta {
    grid-template-columns: repeat(3, 30%);
    span {
      margin: 1rem auto;
    }
    .card {
      margin: 0;
      width: 25vw;
     }
  }
}

@media only screen and (max-width: 600px) {
  .cards-betta {
    grid-template-columns: 50% auto;
    span {
      margin: 1rem auto;
    }

    .card {
      margin: 0;
      width: 40vw;
      height: 25vh;
    }
  }
}
