<div class="main">
  <h1 class="heading"> Your system roles </h1>
  <div class="list-filters">
    <div>
      <input type="text" [(ngModel)]="search" placeholder="search">
    </div>
    <div class="add">
      <button class="btn">
          <span class="phone-only" (click)="add()"><i class="pi pi-plus"></i></span>
          <span class="pc-only" (click)="showAdd()"> add role</span>
      </button>
    </div>
  </div>
  <div class="list-body col-1-of-2">
    <span>
      <div *ngIf="roles$ | async as roles">
        <span class="cards-betta" *ngIf="roles.length > 0; else no tFound">
          <span *ngFor="let item of roles | configurationFilterPipe: search">
            <app-role-card-list [role]="item"></app-role-card-list>
          </span>
        </span>
      </div>
    </span>
    <span *ngIf="showForm">
      <app-add-role
      (showForm)="showAdd()"
      ></app-add-role>
    </span>
  </div>
</div>
