<div class="main">
  <h1 class="heading">
    Create sales order
  </h1>
</div>


<div class="main">


  <div class="cart phone-only">
    <i (click)="toggleCart()" class="pi pi-shopping-cart"></i>
    <div class="amount">
      {{sale?.total | currency:'R'}}
    </div>
  </div>
<div class="grid-70-30">

    <div class="products">

      <div class="small-cards small-cards-filter">
        <div class="cutomer-details">
          <div class="img">
            <img *ngIf="selectedPartner" src="assets/images/order/user.svg" alt="">
            <img *ngIf="!selectedPartner" src="assets/images/order/user-no-customer.svg" alt="">
          </div>
          <div *ngIf="!selectedPartner">
            <h3>Guest Customer</h3>
          </div>
          <div *ngIf="selectedPartner">
            <h3>{{selectedPartner.Name}} {{selectedPartner.Surname}}</h3>
            <p>
              {{selectedPartner.CellphoneNumber || 'No phone number'}} |
              {{selectedPartner.EmailAddress || 'No email address'}}
            </p>
            <p>
              {{selectedPartner.Address || 'No customer address'}}
            </p>
          </div>
          <div></div>
          <div>
            <!-- <button class="btn btn-transparent" (click)="scann()">
              <span class=""> <i class="pi pi-user-edit"></i>Edit</span>
            </button> -->
            <button class="btn btn-transparent" (click)="changeCustomer()">
              <span class=""> <i class="pi pi-refresh"></i>Change</span>
            </button>
          </div>
        </div>
      </div>


      <div class="small-cards small-cards-filter">
        <div class="card filter-card">
          <div class="list-filters topbar">
            <div class="search-box">
              <div class="input-times">
                <input type="text" class="roundInput" [(ngModel)]="search" placeholder="🔎 search here ...">
              </div>
            </div>

            <div>
              <select [(ngModel)]="searchByCatergory" class="roundInput">
                <option value="" selected>All</option>
                <option [value]="cat" *ngFor="let cat of categories">{{cat}}</option>
              </select>
            </div>
            <div>
              <button class="btn btn-transparent" (click)="scann()">
                <span class=""><i class="pi pi-ticket"></i>Scan</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="small-cards-body" *ngIf="products$  | async as products">

        <div class="col-1-of-4" *ngIf="products.length > 0; else notFound">
          <div class="sell-card"
            *ngFor="let item of products | searchproduct: search | searchproductbycatergory:searchByCatergory">
            <div class="image" *ngIf="item.images" [ngStyle]="{ 'background-image': 'url(' + item.images[0].Url + ')'}">

            </div>
            <div class="image" *ngIf="!item.images" [ngStyle]="{ 'background-image': 'url(' + placeholder + ')'}">

            </div>

            <div class="name">
              <p>
                {{item.Name}}
              </p>
            </div>
            <div class="notes">
              <p>
                {{item.UnitPrice | currency:'R'}}
              </p>
            </div>

            <div class="options" *ngIf="item.Attributes">
              <div class="options-item" *ngFor="let attribute of item.Attributes">
                <div class="input">
                  <span *ngIf="attribute.Values">
                    <select (change)="optionSelected($event.target.value, attribute.AttributeId, item)">
                      <option value="" selected>Select {{attribute.Name}} </option>
                      <option *ngFor="let attrValue of attribute.Values" class="select-option" [value]="attrValue.Id">
                        {{attrValue.AttributeValue}}</option>
                    </select>
                  </span>
                </div>
              </div>
            </div>

            <div class="actions">
              <button class="action-btn hover-shadow" (click)="doSell(item)">Add to cart</button>
            </div>
          </div>
        </div>


      </div>
      <ng-template #notFound>
        <div class="not-found">
          <img [src]="notFoundModel.Image" alt="no items found">
          <h1 class="message">
            {{notFoundModel.Message}}
            <span>
              <a class="link-add" (click)="add()">add new product.</a>
            </span>
          </h1>

        </div>
      </ng-template>
    </div>
  <div class="summary" *ngIf="showCart">
    <div class="back" (click)="toggleCart()">
      <i class="pi pi-chevron-left"></i>
    </div>
    <h3>
      Cart
    </h3>
    <div class="sell">
      <app-sale-sammary></app-sale-sammary>
    </div>

    <div class="sell total">
      <h4>
        {{sale?.total | currency:'R'}}
        <span>Total</span>
      </h4>

    </div>

    <div class="list-filters">
      <div class="add">
        <button class="btn" (click)="onSubmit()">Save order</button>
      </div>
      <div class="add">
        <button class="btn btn-warn" (click)="clear()">Clear form</button>
      </div>
    </div>
  </div>
</div>
</div>


<div class="scanner-pluggin" *ngIf="showScan">
  <app-scanner></app-scanner>
</div>


<p-dialog header="Selct a customer" [modal]="true" [(visible)]="showChangeCustomer" [style]="{width: '30%'}">
  <div class="input-times">
    <input type="text" class="roundInput" [(ngModel)]="searchCustomer" placeholder="🔎 search customer ...">
  </div>
  <table *ngIf="customers$  | async as customers">
    <tr>
      <td>
        Guest Customer
      </td>
      <td class="actions">
        <button class="btn" (click)="selectCustomer(null)">Select</button>
      </td>
    </tr>
    <tr *ngFor="let customer of  customers | searchpartner:searchCustomer ">
      <td>
        {{customer.Name}} {{customer.Surname}}
      </td>
      <td class="actions">
        <button class="btn btn-transparent" (click)="selectCustomer(customer)">Select</button>
      </td>
    </tr>
  </table>
  <br>
  <br>
  <a (click)="addCustomer()">Create new customer</a>
</p-dialog>
