@import '../../../../../assets/styles/variables';

.sell-page {
  display: grid;
  grid-template-columns: 60% auto;

  .selling {

    .products-page {
      padding: 1rem 4rem;
      width: 100%;

      @media only screen and (max-width: 600px) {
        width: 100%;
        padding: .6rem;

      }

      .list-header {
        width: 100%;
        display: grid;
        grid-template-columns: 90% auto;
        margin-bottom: .5rem;

        @media only screen and (max-width: 600px) {

          display: none;
        }

        div {
          margin: .2rem;
          padding: 0;
          text-align: left;
          // border: 1px solid rgb(230, 229, 229);
        }

        .tar {
          text-align: right;
        }

        .heading {
          h1 {
            font-size: 1.6rem;
            margin: 0;
            padding: 0;
          }
        }

        .search {

          input,
          select {
            background: $white-color;
            padding: .5rem .8rem;
            width: 96%;
            display: inline-block;
            margin: 0;
            border-radius: .2rem;
            padding: .5rem;
            font-size: .9rem;

            &::placeholder {
              font-weight: 400;
            }
          }



          button {
            padding: .5rem;
            background: $primary-bg-color;
            color: $white-color;
            font-weight: 700;
            border: none;
            margin: 0 .3rem;
            border-radius: .2rem;

          }
        }
      }


      .list-header-mobile {
        display: none;
        border-bottom: 1px solid $blue-gray;
        padding: 1rem 0;
        padding-top: 3rem;
        margin-bottom: 1rem;

        @media only screen and (max-width: 600px) {
          display: block;
        }

        h4 {
          text-transform: capitalize;
        }

        .actions {
          display: grid;
          grid-template-columns: 35% 35% auto;

          div {
            // border: 1px solid black;
            padding: 0;

            select,
            input {
              background: $white-color;
              padding: .5rem .8rem;
              width: 96%;
              display: inline-block;
              margin: 0;
              border-radius: .2rem;
              padding: .5rem;
              font-size: .9rem;

              &::placeholder {
                font-weight: 400;
              }
            }

            button {
              padding: .5rem;
              background: $primary-bg-color;
              color: $white-color;
              font-weight: 700;
              border: none;
              margin: 0 .3rem;
              border-radius: .2rem;

            }
          }
        }
      }
    }

    .search-table {
      width: 100%;
      display: grid;
      grid-template-columns: 35% 35% auto;
      margin-bottom: .8rem;

      @media only screen and (max-width: 600px) {

        display: none;
      }

      div {
        margin: .2rem;
        padding: 0;
        text-align: left;
        // border: 1px solid rgb(230, 229, 229);
      }

      .tar {
        text-align: right;
      }

      .heading {
        h1 {
          font-size: 1.6rem;
          margin: 0;
          padding: 0;
        }
      }

      .search {

        input,
        select {
          background: $white-color;
          padding: .5rem .8rem;
          width: 96%;
          display: inline-block;
          margin: 0;
          border-radius: .2rem;
          padding: .5rem;
          font-size: .9rem;

          &::placeholder {
            font-weight: 400;
          }
        }



        button {
          padding: .5rem;
          background: $primary-bg-color;
          color: $white-color;
          font-weight: 700;
          border: none;
          margin: 0 .3rem;
          border-radius: .2rem;

        }
      }
    }

    //  table
    .header {
      grid-template-columns: 10% 35% 15% 20% auto;
    }

    .body-container {
      .body {
        grid-template-columns: 10% 35% 15% 20% auto;

        .pc-only {
          display: none;
        }
      }
    }

    .mobile-table {
      .image-name {
        display: grid;
        grid-template-columns: 15% 10% 50% 5% auto;
      }
    }

  }

  .cart {
    padding: 1rem;

    .list-header {
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
      margin-bottom: .5rem;

      .heading {
        h1 {
          font-size: 1.6rem;
          margin: 0;
          padding: 0;
          padding-left: 0;
          margin-top: 1rem;
        }
      }
    }

    .cart-items {
      background: $white-color;
      padding: 1rem;

      .total {
        h4 {
          padding: 1rem .5rem;
          margin: .5rem 0;
          border-top: 1px solid $gray-color;
          border-bottom: 1px solid $gray-color;
        }
      }

      .actions {
        display: grid;
        grid-template-columns: 50% auto;
      }
    }
  }
}
