.small-cards {
  grid-template-columns: repeat(3, 33%);

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;

  }
}

.list-filters {
  grid-template-columns: 50% auto;
  border: none;
  padding-left: .8rem;
  padding-right: 1.8rem;
}

.items-count {
  color: red;
  font-weight: 700;
  font-size: .8rem;
}


.sell-grid {
  display: grid;
  grid-template-columns: 75% auto;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;

  }

  .summary {
    background: #fff;
    padding: 1rem;

    @media only screen and (max-width: 600px) {
      position: fixed;
      z-index: 10000;
    }

    // margin-top: 2.5rem;
  }
}

.btn-warn {
  color: #fff;
  background: #f39c12;
}

// .action-btn{
//   width: 10rem;
// }

.actions {
  background: red;
}
