@import '../../../../../assets/styles/variables';
.list-filters {
  grid-template-columns: 50% auto;
  border: none;
  padding-left: .8rem;
  padding-right: 1.8rem;
}

.items-count {
  color: red;
  font-weight: 700;
  font-size: .8rem;
}


.btn-warn {
  color: #fff;
  background: #f39c12;
}

.cart {
  position: fixed;
  right: 0;
  top: 10rem;
  font-size: 4rem;
  position: fixed;
  right: 12rem;
  top: 1rem;
  font-size: 1.5rem;
  background: #104ce5;
  color: #fff;
  z-index: 1000;
  text-align: center;
  display: none;

  .amount {
    // position: absolute;
    // top: -5rem;
    // right: -5rem;
    font-size: .7rem;
  }

  @media only screen and (max-width: 768px) {
    display: block;
  }

}


.success {
  background: #2ecc71;
}

.customer {
  background: #eeeff9;
  padding: 1rem;


  .list-filters {
    grid-template-columns: 80% auto;
    margin-bottom: 0;
    padding-bottom: 0;

    .select {
      display: grid;
      border: 1px solid #c6c6c6;
      grid-template-columns: 40% auto;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .btn {
      padding: 4px 20px;
    }
  }
}

.small-cards-filter {
  grid-template-columns: 100%;
  width: 96%;
  margin-left: 2rem;

  .card {
    grid-template-columns: 100%;

    .topbar {
      width: 100%;
      margin-right: 1rem;
      border: none;
      margin-top: 1rem;
      grid-template-columns: 20% 15% 10%;
      position: relative;

      div {
        // border: 1px solid black;
      }

      @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
        width: 92%;

      }
    }
  }
}

.cutomer-details {
  display: grid;
  grid-template-columns: 5% 30% 53% 12%;
  background: #fff;
  padding: .5rem 1rem;
  width: 97.6666%;
  border-radius: 1rem;
  margin-left: 1rem;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
    width: 94%;
    margin-left: .2rem;
  }

  img {
    width: 2rem;
    margin-top: 20%;
  }

  .btn {
    margin-top: .8rem;

  }

  h3 {
    text-align: left;
  }
}

table {
  width: 100%;

  .actions {
    text-align: right;
  }
}

a {
  cursor: pointer;
}



::ng-deep {
  body .ui-dialog .ui-dialog-titlebar {
    background: #104CE5 !important;
    color: #fff !important;
  }

  body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
    color: #fff !important;

  }
}


.col-1-of-4 {
  @media only screen and (max-width: 600px) {
    grid-template-columns: 50% 50%;
  }
}

.summary {
  background: $white-color;
  @media only screen and (max-width: 600px) {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
  }
}
