<h1 class="heading">
  View/Edit Product
</h1>

<div class="clean-from-body">
  <div class="form" [formGroup]="rForm" *ngIf="rForm" (ngSubmit)="update(rForm.value)">
    <div class="group">
      <span>product name</span>
      <input formControlName="Name" autofocus />
    </div>


    <div class="two">
      <div class="group">
        <span>
          Brand
          <span class="add btn" (click)="addbrand(rForm.value)">Add new</span>
        </span>
        <select formControlName="BrandId">
          <option value="">No Brand</option>
          <option *ngFor="let brand of brands$ | async" [value]="brand.BrandId">{{brand.Name}}</option>
        </select>
      </div>

      <div class="group">
        <span>
          Caterory
          <span class="add btn" (click)="addcatergory(rForm.value)">Add new</span>
        </span>
        <select formControlName="CatergoryId">
          <option value="">No Caterory</option>
          <option *ngFor="let catergory of catergories$ | async" [value]="catergory.CatergoryId">{{catergory.Name}}
          </option>
        </select>
      </div>
    </div>

    <div class="two">
      <div class="group">
        <span>Selling Price</span>
        <input type="number" formControlName="UnitPrice" />
      </div>

      <div class="group">
        <span>Cost Price</span>
        <input type="number" formControlName="UnitCost" />
      </div>
    </div>


    <div class="two">
      <div class="group">
        <span>Quantity</span>
        <input type="number" formControlName="Quantity" />
      </div>

      <div class="group">
        <span>Low Stock Alert</span>
        <input type="number" formControlName="LowStock" />
      </div>
    </div>

    <div class="group">
      <span>
        product Code
        <span class="add btn" (click)="scan()">Scan</span>
      </span>
      <input formControlName="Code" />
    </div>
    <div class="group images">
      <app-product-images [productId]="productId" *ngIf="productId"></app-product-images>
    </div>

    <app-attributes [id] = "productId" *ngIf="productId"></app-attributes>


    <div class="cta col-1-of-2">
      <input type="submit" class="btn save" (click)="update(rForm.value)" value="Save changes"
        [disabled]="!rForm.valid" />
      <a routerLink="/dashboard/list-product" class="cancel">cancel</a>
    </div>
  </div>
</div>



<div class="scanner-pluggin" *ngIf="showScan">
  <app-scanner></app-scanner>
</div>