@import '../../../../assets/styles/variables';
$dp-width : 10rem;
$dp-reduced : 6rem;

.col-1-of-2 {
  grid-template-columns: 30% 70%;
  grid-gap: 1rem;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}

.title {
  h1 {
    font-size: 1.125rem;
    font-weight: 900;
  }
}

.information {

  .data {
    h1 {
      font-size: 0.938rem;

      &.value {
        font-weight: 600;

        .label {
          font-weight: 900;
          display: block;
          font-size: 0.75rem;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .col-1-of-3 {
      grid-template-columns: 50% auto;
    }
  }

}

.cta-section {
  a {
    font-size: 1.125rem;
    font-weight: 900;
    color: #3742FA;
    float: right;
  }

  @media only screen and (max-width: 600px) {
    a {
      font-size: 0.813rem;
      float: left;
    }
  }
}

.personal {
  padding: 0 2rem;
  margin-bottom: 1rem;
  width: 71%;

  &.col-1-of-2 {
    grid-template-columns: 70% auto;
  }

  .dp {
    .picture {
      padding: 0;
      margin: 0 auto;
      display: block;
      border-radius: $dp-width;
      width: $dp-width;
      height: $dp-width;
      overflow: hidden;

      img {
        height: 100%;
      }
    }

    .upload {
      position: relative;
      overflow: hidden;
      display: inline-block;
      margin: 1rem 5rem;

      .btn {
        border: 2px solid gray;
        color: gray;
        background-color: #F5F6FA;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 0.75rem;
        font-weight: bold;
      }

      input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    padding: 0;

    &.col-1-of-2 {
      grid-template-columns: 100%;
    }

    .dp {
      .upload {
        margin: 1rem 2.5rem;

        .btn {
          font-size: 0.65rem;
        }
      }
    }
  }
}

.organizational {
  padding: 0 2rem;
  width: 71%;

  &.col-1-of-2 {
    grid-template-columns: 25% auto;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    padding: 0;

    &.col-1-of-2 {
      grid-template-columns: 100%;
    }
  }
}

.panel {
  padding: 2rem;

  @media only screen and (max-width: 600px) {
    padding: 1rem;
  }
}
