<div class="main-content" *ngIf="user$ | async as user">
  <h1 class="title-header">My Profile.
    &nbsp;&nbsp;&nbsp;
    <span class="username">{{user.Name}} {{user.Surname}}
    </span>
    &nbsp;
    <span class="sysRole">{{user.SystemRole}}</span>
  </h1>
  <div class="personal col-1-of-1">
    <div class="panel">
      <div class="col-1-of-2">
        <div class="dp">
          <div class="picture">
            <img *ngIf="user.DP" [src]="user.DP.Url" alt="user Profile">
            <img *ngIf="!user.DP" class="placeholder" src="assets/user-blue-normal.svg" alt="placeholder">
          </div>
          <div class="upload">
            <button class="btn">Upload a file</button>
            <input type="file" name="myfile" (change)="onChange($event.target.files)" />
          </div>
        </div>
        <div class="information">
          <div class="title">
            <h1>
              Personal Information
            </h1>
          </div>
          <div class="col-1-of-3">
            <div class="data">
              <h1 data-title="Fullname" class="value">{{user.Name}} {{user.Surname}}
                <span class="label">
                  Fullname
                </span>
              </h1>
            </div>
            <div class="data">
              <h1 data-title="Cellphone" class="value">{{user.CellphoneNumber}}
                <span class="label">
                  Cellphone
                </span>
              </h1>
            </div>
            <div class="data">
              <h1 data-title="Email" class="value">{{user.Email}}
                <span class="label">
                  Email
                </span>
              </h1>
            </div>
            <div class="data">
              <h1 data-title="Email" class="value">{{user.SystemRole}}
                <span class="label">
                  Role in the system
                </span>
              </h1>
            </div>
            <div class="data">
              <h1 data-title="Email" class="value">{{user.CreateDate | date }}
                <span class="label">
                  Member since
                </span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="panel">
      <div class="title">
        <h1>
          Profile Options
        </h1>
      </div>
      <p>short-cut section</p>
    </div> -->
  </div>
  <div class="organizational col-1-of-1">
    <!-- <div class="panel">
      <div class="title">
        <h1>
          Shortcuts
        </h1>
      </div>
      <p>short-cut section</p>
    </div> -->
    <div class="panel">
      <div class="title">
        <h1>
          Company Information
        </h1>
      </div>
      <div class="information">
        <div class="col-1-of-3" *ngIf="user.Company">
          <div class="data">
            <h1 data-title="Company Name" class="value">{{user.Company.Name}}
              <span class="label">
                Company Name
              </span>
            </h1>
          </div>

          <div class="data">
            <h1 data-title="Company Contact" class="value">{{user.Company.TelephoneNumber}}
              <span class="label">
                Company Contact #
              </span>
            </h1>
          </div>

          <div class="data">
            <h1 data-title="Company Email" class="value">info@{{user.Company.Website}}
              <span class="label">
                Company Email
              </span>
            </h1>
          </div>

          <div class="data">
            <h1 data-title="Company Website" class="value">{{user.Company.Website}}
              <span class="label">
                Company Website
              </span>
            </h1>
          </div>
        </div>
      </div>
      <div class="cta-section">
        <a routerLink="/dashboard/edit-company">Update Company Information</a>
      </div>
    </div>
  </div>
