<div>
  <div class="group">
    <input type="text"  [(ngModel)]="email" required="required" />
    <label>Email Address</label>
  </div>
  <div class="alert" *ngIf="email">
    <!-- A valid email is required -->
  </div>
  <div class="group">
    <input type="text"  [(ngModel)]="cell" required="required" />
    <label>Cell Phone Number</label>
  </div>
  <div class="alert" *ngIf="cell">
    <!-- Cell Phone Number is required -->
  </div>


  <div class="group">
    <input type="text"  [(ngModel)]="fullname" autofocus required="required" />
    <label>Full Name</label>
  </div>
  <div class="alert" *ngIf="fullname">
    <!-- Full Name is required -->
  </div>

  <div class="group">
    <input type="text"  [(ngModel)]="address" required="required" />
    <label>delivery address</label>
  </div>
  <div class="alert" *ngIf="address">
    <!-- Delivery address is required -->
  </div>


</div>