@import '../../../../../assets/styles/variables';

.products-page {
  padding: 2rem;
  width: 60%;

  .list-header {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 15% 15% 15% auto;
    div {
      margin: .2rem;
      padding: 0;
      border: 1px solid rgb(175, 175, 175);
    }

    .heading {
      h1 {
        font-size: 1.6rem;
      }
    }

    .search {

      input,
      select {
        background: $white-color;
        padding: .5rem .8rem;
        width: 96%;
        display: inline-block;
        margin: .5rem;
        border-radius: .2rem;
        padding: .2rem 1rem;
        font-size: .9rem;

        &::placeholder {
          font-weight: 400;
        }
      }
    }
  }
}
