@import '../../../../../assets/styles/variables';

.products-page {
  padding: 4rem;
  width: 65%;

  @media only screen and (max-width: 600px) {
    width: 100%;
    padding: .6rem;

  }

  .list-header {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 15% 15% 5% auto;
    border-bottom: 1px solid $blue-gray;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;

    @media only screen and (max-width: 600px) {

      display: none;
    }

    div {
      margin: .2rem;
      padding: 0;
      text-align: left;
      // border: 1px solid rgb(230, 229, 229);
    }

    .tar {
      text-align: right;
    }

    .heading {
      h1 {
        font-size: 1.6rem;
        margin: 0;
        padding: 0;
      }
    }

    .search {

      input,
      select {
        background: $white-color;
        padding: .5rem .8rem;
        width: 96%;
        display: inline-block;
        margin: 0;
        border-radius: .2rem;
        padding: .5rem;
        font-size: .9rem;

        &::placeholder {
          font-weight: 400;
        }
      }



      button {
        padding: .5rem;
        background: $primary-bg-color;
        color: $white-color;
        font-weight: 700;
        border: none;
        margin: 0 .3rem;
        border-radius: .2rem;

      }
    }
  }


  .list-header-mobile {
    display: none;
    border-bottom: 1px solid $blue-gray;
    padding: 1rem 0;
    padding-top: 3rem;
    margin-bottom: 1rem;

    @media only screen and (max-width: 600px) {
      display: block;
    }

    h4 {
      text-transform: capitalize;
    }

    .actions {
      display: grid;
      grid-template-columns: 35% 35% auto;

      div {
        // border: 1px solid black;
        padding: 0;

        select,
        input {
          background: $white-color;
          padding: .5rem .8rem;
          width: 96%;
          display: inline-block;
          margin: 0;
          border-radius: .2rem;
          padding: .5rem;
          font-size: .9rem;

          &::placeholder {
            font-weight: 400;
          }
        }

        button {
          padding: .5rem;
          background: $primary-bg-color;
          color: $white-color;
          font-weight: 700;
          border: none;
          margin: 0 .3rem;
          border-radius: .2rem;

        }
      }
    }
  }
}


//  table
.header {
  grid-template-columns: 10% 40% 15% 15% auto;
}

.body-container {
  .body {
    grid-template-columns: 10% 40% 15% 15% auto;

    .pc-only {
      display: none;
    }
  }
}

.mobile-table {
  .image-name {
    display: grid;
    grid-template-columns: 15% 10% 50% 5% auto;
  }
}
