<div class="main">
  <app-banner [heading]="heading" [backto]="backto" [count]="count" [countLabel]="countLabel"></app-banner>

  <div class="body">
    <div class="page-actions">
      <div class="search">
        <input type="text" [(ngModel)]="search" placeholder="Filter products">
      </div>
      <div class="add">
        <button (click)="add()">Add Prod.</button>
      </div>
    </div>
    <div class="cards">
      <span *ngFor="let item of products | searchproduct: search">
        <div class="card">

          <div class="left-col">
            <span class="label">Product Name</span>
            <span class="value">{{item.Name}}</span>
          </div>
          <div class="rigt-col">
            <span class="label">Category</span>
            <span class="value">--</span>
          </div>

          <div class="left-col">
            <span class="label">Cost</span>
            <span class="value">{{item.UnitCost | currency:'R'}}</span>
          </div>
          <div class="rigt-col">
            <span class="label">Unit Price</span>
            <span class="value">{{item.UnitPrice | currency:'R'}}</span>
          </div>

          <div class="left-col">
            <span class="label">Margin</span>
            <span class="value"> 10%</span>
          </div>
          <div class="rigt-col">
            <span class="label">In Stock</span>
            <span class="value">{{item.Quantity}}</span>
          </div>

          <div class="left-col">
            <span class="label">Re Order At</span>
            <span class="value">{{item.LowStock}}</span>
          </div>
          <div class="rigt-col">
            <div class="action-btn">
              <img src="assets/images/actions/more-btn.svg" alt="">
            </div>
          </div>




        </div>
      </span>
    </div>
  </div>
</div>
