<div class="products-page">
  <div class="list-header">
    <div class="heading">
      <h1>
        Products ({{sum}})
      </h1>
    </div>

    <div class="search">
      <input type="text" [(ngModel)]="search" placeholder="🔎 search here ...">
    </div>

    <div class="search">
      <select [(ngModel)]="searchByCatergory" class="roundInput">
        <option value="" selected>All categories</option>
        <option [value]="cat" *ngFor="let cat of categories">{{cat}}</option>
      </select>
    </div>

    <div class="search">
      <select [(ngModel)]="searchByStock" class="roundInput">
        <option value="" selected>All Stock</option>
        <option value="low" selected>Low Stock</option>
      </select>
    </div>
    <div class="search">
      <select [(ngModel)]="searchByStock" class="roundInput">
        <option value="" selected>All Stock</option>
        <option value="low" selected>Low Stock</option>
      </select>
    </div>

  </div>
</div>
