   .card {
    cursor: pointer;

    .name {
      h1 {
        color: #2F2E41;
        &.main {
          font-weight: bold;
        }
        &.spec {
          font-weight: 500;
        }
      }
    }
  }

