<div class="card card-data">
  <div class="col-1-of-2">
    <div class="image">
      <img src="assets/images/actions/shop-details.svg" alt="store image">
    </div>
    <div class="data">
      <h1 class="main">{{store.Name}}</h1>
      <h1 class="sub">{{store.TelephoneNumber}}</h1>
      <h1 class="text">{{store.Address}}</h1>
    </div>
  </div>
  <div class="cta col-1-of-2">
    <button class="btn" (click)="updateStore(store)">
      <img src="assets/images/actions/edit.svg" alt="edit icon">&nbsp;
      <span class="">Update store</span>
    </button>
  </div>
</div>
