// .main {
//   background: #fff;

//   .body {
//     padding: 0;
//     padding-top: 0;

//     .section {
//       background: #fff;
//       display: block;
//       padding: 1.5rem;
//       margin-top: 2rem;
//       border-radius: .5rem;
//       border: 1px solid #C1C1C1;
//     }
//   }
// }

// .col-1-of-2 {
//   grid-template-columns: 100%;
// }

// .add {
//   background: #104CE5;
//   float: right;
//   border: none;
//   padding: .5rem;
//   font-weight: 800;

//   a {
//     color: #fff;
//     text-decoration: none;
//     display: block;
//   }
// }

// @media only screen and (min-width: 1254px) {
//   .main {
//     padding: 1rem;
//     background: transparent;
//   }
//   .col-1-of-2 {
//     grid-template-columns: 50% 50%;
//   }

//   .body {
//     display: grid;
//     margin: 0 auto;
//     .card {
//       margin: 1rem;
//     }

//     .form {
//       background: white;
//       padding: 2rem 0;
//       width: 100%;
//       margin: 0 auto;
//     }
//   }
// }

.form {
  margin: 0;
  width: 35rem;
  padding: 0 1rem;
  // border: solid 1px;
  border-radius: 10px;

  h1 {
    width: 80%;
    font-size: 1rem;
    color: #000000;
    margin: 1rem 2.34554rem;
    text-align: left;
    font-weight: 600;
  }
  a {
    float: left;
    font-size: 1.5rem;
    color: #D3D8DF;
    text-transform: capitalize;
    padding: 1.2rem 2rem;
    cursor: pointer;
  }
  .group.cancel {
    padding: 1rem;
    background: none;
  }
}

.main {
  padding: 1rem;

  .heading {
    border-bottom: solid 1px;
    padding-bottom: 1rem;
  }
}
@media only screen and (max-width: 600px) {

  .form {
    margin: 0;
    width: 100%;
    h1 {
      width: 100%;
      font-size: 0.8rem;
      color: #000000;
      margin: 0;
      text-align: left;
      font-weight: 600;
    }
    .group {
      &.select {
        label {
          padding: 1rem;
        }
      }

      &.cancel {
        padding: 1rem;
        background: none;

        a {
          float: left;
          font-size: 1rem;
          color: #D3D8DF;
          text-transform: capitalize;
        }

      }
    }
  }
}
