@import '../../../../../assets/styles/variables';
.main {
  background: #104CE5;
  color: #fff;
  padding: 2rem 3rem;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  height: 25vh;

  @media only screen and (max-width: 600px) {
    height: 10vh;
    padding: 0;
    &.col-1-of-2 {
      grid-template-columns: 15% auto;

    }

  }

  .profile {
    background: $primary-bg-color;
    height: 25vh;

  }


  .back {
    text-align-last: left;
    margin-left: 30%;

    a {
      display: block;
      margin-top: 55%;
    }
  }

  .heading {
    h1 {
      font-size: 1.2rem;
      text-align: center;
      width: 100%;
    }
  }
}

.with-counts {
  grid-template-columns: 10% 50% auto;
  display: grid;
  padding: 2rem 1rem;


  .back {
    text-align-last: left;

    a {
      margin-top: 2.5rem;
      display: block;
    }
  }

  .heading {
    h1 {
      margin-top: 21%;
    }
  }

  .count {
      .circe{
        background: #3f51b569;
        height: 15rem;
        width: 15rem;
        border-radius: 100%;
        // position: absolute;
        // top: -6rem;
        // right: -4rem;
      }
    h1 {
      text-align: left;
      float: right;
      position: relative;
      z-index: 1;

      span {
        display: block;
        font-size: .8rem;
        font-weight: 400;
      }
    }
  }

@media only screen and (max-width: 600px) {

  padding: 0rem 1rem;
}

}

@media only screen and (max-width: 600px) {

  .col-1-of-2 {
    grid-template-columns: 100%;
    background: #104CE5;
  }

}


@media only screen and (min-width: 1254px) {

  .col-1-of-2 {
    padding: 2rem auto;
    .heading {
      h1{
        margin-top: 7%;
      }
      .circe {
        display: none;
      }
    }

  }
  .profile {
    background: $primary-bg-color;
    height: 25vh;
  }

.with-counts {
  grid-template-columns: 10% 50% auto;
  padding: 2rem 18rem;

  .back {
    text-align-last: left;

    a {
      margin-top: 2.5rem;
      display: block;
    }
  }

  .heading {
    h1 {
      margin-top: 5%;
    }
  }

  .count {
      .circe{
        background: #3f51b569;
        height: 15rem;
        width: 15rem;
        border-radius: 100%;
        // position: absolute;
        // top: -6rem;
        // right: -4rem;
      }
    h1 {
      text-align: left;
      float: right;
      position: relative;
      z-index: 1;

      span {
        display: block;
        font-size: .8rem;
        font-weight: 400;
      }
    }
  }
}
}
