@import '../../../../../../assets/styles/variables';

.container {
  background: $body-background;
  padding: 1rem 11rem;

  @media only screen and (max-width: 600px) {
    padding: 1rem .1rem;
  }

  .slider {
    display: grid;
    grid-template-columns: 70% auto;
    padding: 1rem;

    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%
    }

    .slide {
      width: 98%;
    }

    .adverts {
      background: $white-color;
      padding: 1rem;
      border-radius: 6px;
      width: 97%;

      @media only screen and (max-width: 600px) {
        display: none;
      }

      h3 {
        margin: 0;
        font-weight: 900;
        text-transform: uppercase;
      }

      .cat {
        display: grid;
        grid-template-columns: 10% auto;
        margin: .5rem 1rem;

        .image {
          img {
            width: 1rem;
          }
        }

        .name {
          p {
            font-weight: 600;
            margin: 0;
          }
        }
      }
    }
  }
}


.col-1-of-4 {
  grid-template-columns: repeat(4, 25%);

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 50%);
  }
}

.filters {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 30% 50% auto;

  h1 {
    margin: .5rem 0;

    @media only screen and (max-width: 600px) {
      font-size: .8rem;
      font-weight: 900;
    }

  }

  input {
    width: 100%;
    background: #fff;
    border: 1px solid #ecf0f1;
    width: 100%;
    background: #fff;
    border: 1px solid #e1e1e1;
    margin: 0;
    padding: .4rem 1rem;
    font-size: 0.8rem;
    border-radius: 16px;
  }
}

.footer {
  display: none;
  padding: 1rem;
}
