<span *ngIf="!loading">
  <app-shopping-nav [shopPrimaryColor]="shopPrimaryColor" [company]="company" [shopSecondaryColor]="shopSecondaryColor"
    [logoUrl]="logoUrl">
  </app-shopping-nav>
  <div class="container" *ngIf="products">
    <div class="slider">
      <div class="catergories">
        <h3>
          categories
        </h3>
        <div class="cat" *ngFor="let c of [1,1,1]">
          <div class="image">
            <img src="assets/images/laptop.svg" alt="">
          </div>
          <div class="name">
            <p>
              Electronics
            </p>
          </div>
        </div>
      </div>
      <div class="slide">
        <app-product-slider [products]="products" [company]="company"></app-product-slider>
      </div>
    </div>

    <div class="content">

      <div class="col-1-of-4">
        <span *ngFor="let item of products ">
          <div class="shop-card" (click)="viewItem(item)">
            <div class="image" *ngIf="item.Images">
              <img [src]="item.Images[0].Url" alt="">
            </div>
            <div class="image" *ngIf="!item.Images">
              <img src="assets/images/placeholder2.png" alt="">
            </div>
            <div class="details">
              <p>
                {{item.Name}}
              </p>
              <p class="price" [ngStyle]="{'color':shopPrimaryColor}">
                {{item.UnitPrice | currency:'R'}}
              </p>
            </div>
          </div>
        </span>

      </div>

      <div *ngIf="company" class="footer" class="footer">
        <hr>
        <h1>
          Thanks for visting {{company?.Name}}
        </h1>
        <span *ngIf="company.TelephoneNumber && company.TelephoneNumber.length > 6">
          <h2>
            Contact details
          </h2>
          <address>
            Email:{{company?.TelephoneNumber}} <br>
          </address>
        </span>
        <span *ngIf="company.Shipping">
          <h2>
            Shipping method(s)
          </h2>
          <span *ngFor="let ship of company.Shipping">
            <span *ngIf="ship.Name === 'name'">{{ship?.Value}}
              {{ship?.TelephoneNumber}}</span>
            <span *ngIf="ship.Name === 'amount'"> <b>R {{ship?.Value}}
              </b> <br></span>
          </span>
        </span>
        <span>
          <h2>
            Payment methods
          </h2>
          <span>
            Cash | EFT
          </span>
        </span>
      </div>
    </div>
  </div>

</span>

<span *ngIf="loading" class="ghost">
  <div class="overlay"></div>
  <img class="pc" src="assets/images/shopghost.svg" alt="">
  <img class="mobile" src="assets/images/shop-ghost-mobile.svg" alt="">
</span>
