@import '../../../../../../assets/styles/variables';

.container {
  background: $body-background;
  padding: 1rem 12rem;

  .slider {
    display: grid;
    grid-template-columns: 25% auto;
    padding: 1rem;

    .catergories {
      background: $white-color;
      padding: 1rem;
      border-radius: 6px;
      width: 97%;
    }
  }
}
