<span *ngIf="!loading">
  <app-shopping-nav [shopPrimaryColor]="shopPrimaryColor" [shopSecondaryColor]="shopSecondaryColor" [logoUrl]="logoUrl">
  </app-shopping-nav>
  <div class="container" *ngIf="products">
    <div class="cover-photo">
      <img [src]="bannerImage" alt="">
    </div>
    <div class="content" [ngStyle]="{'border':'6px solid '+shopPrimaryColor}">
      <div class="check-out">
        <button class="action-btn  hover-shadow"
          [ngStyle]="{'background-color':shopPrimaryColor, 'color':shopSecondaryColor}" (click)="viewCart()"><i
            class="pi pi-shopping-cart"></i> cart
          {{cartItems}} Items</button>
      </div>
      <div class="col-1-of-4">
        <span *ngFor="let item of products ">
          <div class="shop-card" (click)="viewItem(item)">
            <!-- <div class="image" *ngIf="item.images" [ngStyle]="{ 'background-image': 'url(' + item.images[0].Url + ')'}">
          </div> -->
            <div class="image" *ngIf="item.images">
              <img [src]="item.images[0].Url" alt="">
            </div>
            <div class="name">
              <p>
                {{item.Name}}
              </p>
            </div>
            <div class="notes">
              <p>
                {{item.UnitPrice | currency:'R'}}
              </p>
            </div>

            <div class="actions">
              <!-- <button class="action-btn hover-shadow" (click)="doSell(item)">Add to cart</button> -->
            </div>
          </div>
        </span>

      </div>

      <div *ngIf="company" class="footer" [ngStyle]="{'background-color':shopPrimaryColor}" class="footer">
        <h1>
          Thanks for visting {{company?.Name}}
        </h1>
        <span *ngIf="company.TelephoneNumber && company.TelephoneNumber.length > 6">
          <h2>
            Contact details
          </h2>
          <address>
            Email:{{company?.TelephoneNumber}} <br>
          </address>
        </span>
        <span *ngIf="company.Shipping">
          <h2>
            Shipping method(s)
          </h2>
          <span *ngFor="let ship of company.Shipping">
            <span *ngIf="ship.Name === 'name'">{{ship?.Value}}
              {{ship?.TelephoneNumber}}</span>
            <span *ngIf="ship.Name === 'amount'"> <b>R {{ship?.Value}}
              </b> <br></span>
          </span>
        </span>
        <span>
          <h2>
            Payment methods
          </h2>
          <span>
            Cash | EFT
          </span>
        </span>
      </div>
    </div>
  </div>

  <title>
    {{welocme}}
  </title>

</span>

<span *ngIf="loading" class="ghost">
  <div class="overlay"></div>
  <img class="pc" src="assets/images/shopghost.svg" alt="">
  <img class="mobile" src="assets/images/shop-ghost-mobile.svg" alt="">
</span>
