@import '../../../../../../assets/styles/variables';

.container {
  background: $body-background;
  padding: 1rem 11rem;

  .slider {
    display: grid;
    grid-template-columns: 25% auto;
    padding: 1rem;

    .catergories {
      background: $white-color;
      padding: 1rem;
      border-radius: 6px;
      width: 97%;
      h3{
        margin: 0;
        font-weight: 900;
        text-transform: uppercase;
      }

      .cat {
        display: grid;
        grid-template-columns: 10% auto;
        margin: .5rem 1rem;

        .image {
          img {
            width: 1rem;
          }
        }

        .name {
          p {
            font-weight: 600;
            margin: 0;
          }
        }
      }
    }
  }
}
