<div class="container" *ngIf="products$  | async as products">
<!-- 
  <div  class="banner" [ngStyle]="{ 'background-image': ' linear-gradient(to bottom, rgba(86, 45, 98, 0.445), rgba(34, 17, 17, 0.555)), url(' + bannerImage + ')'}">
    <div class="banner-body">
      <h1 class="heading">{{welocme}}</h1>
    </div>
  </div> -->

  <div class="cover-photo">
    <img [src]="bannerImage" alt="">
  </div>
  <div class="content">
    <div class="check-out">
      <button class="action-btn  hover-shadow" (click)="viewCart()"><i class="pi pi-shopping-cart"></i> Checkout
        {{cartItems}} Items</button>
    </div>
    <div class="col-1-of-4">
      <span *ngFor="let item of products ">
     <div class="shop-card"  (click)="viewItem(item)">
          <div class="image"  *ngIf="item.images"  [ngStyle]="{ 'background-image': 'url(' + item.images[0].Url + ')'}">

          </div>
          <div class="image"  *ngIf="!item.images"  [ngStyle]="{ 'background-image': 'url(' + placeholder + ')'}">

          </div>

          <div class="name">
          <p>
            {{item.Name}}
          </p>
          </div>
          <div class="notes">
          <p>
            {{item.UnitPrice | currency:'R'}}
          </p>
          </div>

          <div class="actions">
            <!-- <button class="action-btn hover-shadow" (click)="doSell(item)">Add to cart</button> -->
          </div>
        </div>
      </span>

    </div>
  </div>
</div>

<title>
  {{welocme}}
</title>
