.main {
  h1 {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
  }

  .images {


    img {
      width: 100%;
      margin: .6rem;
      border: 1px solid #000;
    }
  }

  .add {
    padding: 1rem;

    a {
      color: #fff;
      background: #0337BB;
      padding: .4rem 1rem;
      float: right;

    }
  }
}



@media only screen and (min-width: 1254px) {


  .main {
    .images {
      text-align: left;
      img {
        width: auto;
        height: 20vh;
        // float: left;
      }
    }

  }
}

