@import '../../../../../assets/styles/variables';

.form {
  margin: 0;
  width: 100%;
  border-radius: 10px;

  h1 {
    width: 80%;
    font-size: 1rem;
    color: #000000;
    margin: 1rem 2.34554rem;
    text-align: left;
    font-weight: 600;
  }

  .group.cancel {
    padding: 1rem;
    background: none;

    a {
      float: left;
      font-size: 1.5rem;
      color: #D3D8DF;
      text-transform: capitalize;
    }

  }

  a.cta {
    font-weight: 700;
    cursor: pointer;
    color: $primary-bg-color;
    float: left;
    margin-left: 2rem;
    text-transform: capitalize;
    display: none;
  }
}

.main {
  padding: 1rem;

  .heading {
    border-bottom: solid 1px;
    padding-bottom: 1rem;
  }
}

.checkbox {
  .label {
    margin: 1.5rem 1rem;
    text-transform: capitalize;
  }
}



@media only screen and (max-width: 600px) {

  .form {
    margin: 0;
    width: 100%;

    h1 {
      width: 100%;
      font-size: 0.8rem;
      color: #000000;
      margin: 0;
      text-align: left;
      font-weight: 600;
    }

    .group {
      &.select {
        label {
          padding: 1rem;
        }
      }

      &.cancel {
        padding: 1rem;
        background: none;

        a {
          float: left;
          font-size: 1rem;
          color: #D3D8DF;
          text-transform: capitalize;
        }

      }
    }

    a.cta {
      float: left;
      margin-left: 0;
    }
  }
}

.cta.col-1-of-2 {
  grid-template-columns: 60% auto;
}

.main-content .form .cta a.cancel {
  margin-top: 1.888rem;
 margin-right: 3em;
}
