<div class="main">
  <div class="top-bar">
      <app-user-profile-dp ></app-user-profile-dp>
    </div>
    <div class="body">
      <div class="nav">
        <app-dashboard-nav></app-dashboard-nav>
      </div>
      <div class="container">
        <router-outlet></router-outlet>

      </div>
    </div>
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div *ngIf="spinner$ | async as spinner">
  <app-spinner *ngIf="spinner"></app-spinner>
</div>

<div *ngIf="splash$ | async as splash">
  <app-splash *ngIf="splash.show"></app-splash>
</div>

<app-veli-dashboard-help></app-veli-dashboard-help>
