<div class="main nav-bar-desktop">
  <div (click)="toggleNav()" class="back">
    <img src="assets/images/navigation/back-arrow.svg" alt="">
  </div>
  <div class="nav-bar">
    <ul>
      <h1 class="header">
        Main
      </h1>
      <li *ngFor="let item of models">
        <span *ngIf="true">
          <a [routerLink]="item.Link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <i [ngClass]="item.Icon"></i>
            {{item.Name}}
          </a>
        </span>
      </li>
    </ul>
    <ul>
      <h1 class="header">
        Sales
      </h1>
      <li *ngFor="let item of salesNavModels">
        <span *ngIf="true">
          <a [routerLink]="item.Link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <i [ngClass]="item.Icon"></i>
            {{item.Name}}
          </a>
        </span>
      </li>
    </ul>
    <ul class="mt-10">
      <h1 class="header">
        help
      </h1>
      <li *ngFor="let profileItem of profileModels">
        <span *ngIf="profileItem.showItem">
          <a [routerLink]="profileItem.Link" (click)="linkEvent(profileItem)" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}">
            <i [ngClass]="profileItem.Icon"></i>
            {{profileItem.Name}}</a>
        </span>
      </li>
      <li class="signOut">
        <a routerLink="/" (click)="signOut()"><i class="pi pi-sign-out"></i> sign out</a>
      </li>
    </ul>

  </div>
  <div class="burger-menu" (click)="toggleNav()">
    <img src="assets/images/ham.svg" alt="burger menu">
  </div>
</div>

<div class="main nav-bar-mobile" *ngIf="showNav">
  <div (click)="toggleNav()" class="back">
    <img src="assets/images/navigation/back.svg" alt="">
  </div>
  <div class="nav-bar">

    <ul>
      <h1 class="header">
        Main
      </h1>
      <li *ngFor="let item of models" (click)="toggleNav()">
        <a [routerLink]="item.Link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"> <i
            [ngClass]="item.Icon"></i>{{item.Name}}</a>
      </li>
    </ul>
    <ul>
      <h1 class="header">
        Sales
      </h1>
      <li *ngFor="let item of salesNavModels" (click)="toggleNav()">
        <span *ngIf="true">
          <a [routerLink]="item.Link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <i [ngClass]="item.Icon"></i>
            {{item.Name}}
          </a>
        </span>
      </li>
    </ul>
    <ul class="mt-20">
      <h1 class="header">
        Help
      </h1>
      <li *ngFor="let profileItem of profileModels" (click)="toggleNav()">
        <a [routerLink]="profileItem.Link" (click)="linkEvent(profileItem)" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}"> <i [ngClass]="profileItem.Icon"></i>{{profileItem.Name}}</a>
      </li>
      <li class="signOut">
        <a routerLink="/"><i class="pi pi-sign-out"></i>sign out</a>
      </li>
    </ul>
  </div>
</div>
<div class="burger-menu" (click)="toggleNav()">
  <img src="assets/images/ham.svg" alt="burger menu">
</div>
