.main {
  position: fixed;
  left: 2rem;
  top: 2rem;
  background: #FFFFFF;
  width: 15%;
  height: 94vh;
  z-index: 10000;

  @media only screen and (max-width: 600px) {
    width: 50%;
    height: 100vh;
    left: 0rem;
    top: 0rem;
  }

  .nav-bar {
    ul {
      list-style: none;

      li {
        a {
          display: block;
          padding: 1rem .5rem;
          font-weight: 600;
          text-transform: capitalize;
          color: #7B8C98;
        }

        a.active-link {
          color: #0337BB;
        }
      }
    }
  }

}


.burger-menu{
  display: none;
  position: fixed;
  right: 2rem;
  top: 1rem;
  width: 3rem;
  z-index: 10000;
  @media only screen and (max-width: 600px) {
    display: block;

  }

 
}
.back{
  display: none;
  margin: 1rem;
  @media only screen and (max-width: 600px) {
    display: block;

  }  
}