<div class="main">
  <div class="logo" (click)="navigateHome()">
    <img src="assets/images/white-icon.png" alt="logo">
  </div>

  <div class="nav-bar">
    <ul>
        <li *ngIf="user$ | async as user" class="user-profile">
            <a>
              <span class="dp">
                  <img src="assets/user.jpg" alt=""> 
              </span>
              {{user.Name}}
            </a>
            <a><i>{{user.Company?.Name}}</i></a>
          </li>
      <li *ngFor="let item of models"><a [routerLink]="item.Link">{{item.Name}}</a></li>
    </ul>
    <ul class="profile" >
   
      <li *ngFor="let profileItem of profileModels"><a [routerLink]="profileItem.Link"
          (click)="linkEvent(profileItem)">{{profileItem.Name}}</a></li>
      <li class="signOut">
        <a routerLink="/">sign out</a>
      </li>
    </ul>
  </div>
  <div class="burger-menu" (click)="toggleNav()">
    <img src="assets/images/ham.svg" alt="burger menu">
  </div>

  <div class="nav-bar-mobile" *ngIf="showNav">
    <div class="go-back">
      <img src="assets/images/navigation/back-arrow.svg" alt="back arrow" (click)="toggleNav()" class="back-arrow">
    </div>
    <img src="assets/images/inventory-logo.svg" alt="inventory logo" (click)="toggleNav()" class="inventory-logo">
    <ul>
        <li *ngIf="user$ | async as user" class="user-profile">
            <a>
              <span class="dp">
                  <img src="assets/user.jpg" alt=""> 
              </span>
              {{user.Name}}
            </a>
            <a><i *ngIf="user.Company">-- {{user.Company?.Name}} -- </i></a>
          </li>
      <li *ngFor="let item of models"><a [routerLink]="item.Link" (click)="toggleNav()">{{item.Name}}</a></li>
    </ul>
    <ul class="profile">
      <li *ngFor="let profileItem of profileModels"><a [routerLink]="profileItem.Link" (click)="linkEvent(profileItem)"
          (click)="toggleNav()">{{profileItem.Name}}</a></li>
      <li class="signOut">
        <a routerLink="/" (click)="toggleNav()">sign out</a>
      </li>
    </ul>
  </div>
</div>
