<div class="main">
  <div class="body">
    <div class="form" *ngIf="systemPermissions">
      <h1 class="form-heading"> add a permission </h1>
      <form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
        <div class="group">
          <select formControlName="Name">
            <option value="">Select Permission</option>
            <option *ngFor="let item of systemPermissions" class="select-option" [value]="item.key">
              {{item.friendlyName}}</option>
          </select>
        </div>
        <div class="group button">
          <input type="submit" value="Add Permission" class="btn" [disabled]="!rForm.valid" />
        </div>
        <div class="group cancel">
          <a routerLink="/dashboard/permissions">abort</a>
        </div>
      </form>
    </div>
  </div>
</div>
