<div class="main">
  <h1 class="heading">
    Sales orders
  </h1>
  <div class="body">

    <div class="list" *ngIf="orders$  | async as orders">
      <div class="small-cards-body" *ngIf="orders.length > 0; else notFound">
        <div class="small-cards">
          <div class="card filter-card">
            <div class="list-filters">
              <div class="input select">
                <div>
                  <i class="pi pi-filter"></i>
                </div>
                <select [(ngModel)]="searchByCatergory">
                  <option value="" selected>All sales orders</option>
                  <option [value]="status" *ngFor="let status of statuses">{{status}}
                  </option>
                </select>
              </div>
              <div class="search">
                <button class="btn btn-transparent" (click)="searchOrder()"><i class="pi pi-search"></i></button>
              </div>
              <div class="add">
                <button class="btn" (click)="add()"><i class="pi pi-plus"></i></button>
              </div>
            </div>
            <div class="search-box" *ngIf="showSearchOrder">
              <div class="input-times">
                <input type="text" [(ngModel)]="search" placeholder="🔎 search here ...">
                <div class="times" (click)="clearSearch()">
                  <i class="pi pi-times"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="small-cards">
          <span *ngFor="let order of orders | searchproduct: search | filterStrings: searchByCatergory">
            <div [ngClass]="order.CardClass" (click)="select(order)">
              <div class="image">
                <img *ngIf="order.Customer" src="assets/images/order/user.svg" alt="">
                <img *ngIf="!order.Customer" src="assets/images/order/user-no-customer.svg" alt="">
                <!-- <img src="../../../../../assets/ndu.jpg" alt=""> -->
              </div>
              <div class="name">
                <h4 *ngIf="order.Customer" class="customer-name">{{order.Customer.Name}}</h4>
                <h4 *ngIf="!order.Customer" class="customer-name">Guest</h4>
                <h5 *ngIf="order.Status == 'new'" class="order-status new">{{order.Status}}</h5>
                <h5 *ngIf="order.Status == 'Partially paid'" class="order-status partially-paid">{{order.Status}}</h5>
                <h5 *ngIf="order.Status == 'Fully paid'" class="order-status fully-paid">{{order.Status}}</h5>
              </div>

              <div class="total">
                <h4>
                  {{order.Total  | currency:'R'}}
                </h4>
                <h6>
                  ORD-{{order.OrderId}}
                </h6>
              </div>
            </div>

          </span>
        </div>

      </div>

      <ng-template #notFound>
        <div class="not-found">
          <img [src]="notFoundModel.Image" alt="no items found">
          <h1 class="message">
            You do not have orders on the system as yet.
            <span>
              <a class="link-add" (click)="add()"> create new order.</a>
            </span>
          </h1>

        </div>
      </ng-template>

    </div>
    <div class="order-details">
      <app-order-details></app-order-details>
    </div>
  </div>
