.body {
  width: 80%;
  float: right;
 

  @media only screen and (max-width: 600px) {
    width: 100%;
    float: none;
  }

  .items {
 
    .item {
      grid-template-columns: 20% 10% 10% 15% 15% auto;
      grid-template-columns: repeat(6, 16.5%);

      @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
      }

      .data {
        .action {
          color: #fff;
          padding: .2rem 1rem;
          margin: 0 1rem;
          font-weight: 600;
           border-radius: .2rem;
          background: #104CE5;
          cursor: pointer;
          border: none;
          display: inline;
          position: relative;
          top: 0.5rem;

          &:disabled {
            opacity: .4;
            cursor: no-drop;
            background: #7f8c8d;
            color: #000;
          }
        }

        .pay {
          background: #8e44ad;
        }

        .input {
          margin-bottom: 1rem;
        }

        .btn-save {
          background: #2ecc71;
          margin-left: 0;

        }

        .btn-cancel {
          background: #e74c3c;
          margin: 1rem .5rem;
        }
      }

      .payall {
        background: #2ecc701c;
        padding: .3rem;
        cursor: pointer;
      }

      .paid {
        background: #aab8af1c;
        padding: .3rem;
        cursor: no-drop;
      }
    }
  }
}
