.main {

  .slider {
    height: 25rem;

    img {
      height: 25rem;

      @media only screen and (max-width: 600px) {
        width: 100%;
        height:auto;
      }
    }
  }

  .navigate-image {
    display: inline;

    img {
      height: 3rem;
      margin: .3rem;
      cursor: pointer;
    }
  }
}
