.main {

  .slider {
    // height: 25rem;
    box-sizing: border-box;
    width: 25rem;

    img {
      // height: 25rem;
      width: 100%;

      @media only screen and (max-width: 600px) {
        height:auto
      }
    }
  }

  .navigate-image {
    display: inline;

    img {
      height: 3rem;
      margin: .3rem;
      cursor: pointer;
    }
  }
}
