<div class="main">
    <div class="cards">
      <span *ngFor="let item of roles | async">
        <div class="card" (click)="getRoleDetails(item)">
          <div class="icon">
            <!-- <img [src]="data.image" alt="role image"> -->
            <img src="assets/images/actions/role.svg" alt="role image">
          </div>
          <div class="data">
            <h1 class="main">{{item.Name}}</h1>
            <!-- <h1 class="spec">0 users</h1> -->
          </div>
        </div>
      </span>

    </div>
  </div>
