<div class="card" (click)="getRoleDetails(role)">
  <div class="image">
    <img src="assets/images/actions/role.svg" alt="role image">
  </div>
  <div class="name">
    <h1>{{role.Name}}</h1>
    <div class="status">
      <p-toggleButton [(ngModel)]="role.StatusId" onLabel="Active" offLabel="Not Active" onIcon="pi pi-check"
        offIcon="pi pi-times" [style]="{'width':'100%'}"></p-toggleButton>
    </div>
  </div>
</div>
<!-- <ng-template #notFound>
  <div class="not-found">
    <img [src]="notFoundModel.Image" alt="no items found">
    <h1 class="message">
      {{notFoundModel.Message}}
    </h1>
  </div>
</ng-template> -->
