

.actions {
  // margin: 4rem 0;

  .action-title {
    font-size: 20px;
    color: #7B8C98;
    font-weight: 400;
    text-transform: capitalize;
  }

}

@media only screen and (max-width: 768px) {
   .actions {
     h1 {
       padding-left: 1rem;
     }
   }
}


@media only screen and (max-width: 600px) {

  .actions {
    // margin: 2rem 0;

    .action-title {
      font-size: 16px;
      color: #7B8C98;
      margin: 2rem;
      font-weight: 400;
      text-transform: capitalize;
    }
    .heading {
      margin: 2rem 2rem;
    }
  }
}
