<div class="main">
   <div class="actions">
    <h1 class="heading">
        business configurations
    </h1>
    <app-actions [actions]="actions"></app-actions>
  </div>



  <div class="actions">
    <h1 class="heading">roles & permissions</h1>
    <app-actions [actions]="actions2"></app-actions>
  </div>
  <div class="actions">
    <h1 class="heading">customers & suppliers</h1>
    <app-actions [actions]="partners"></app-actions>
  </div>
  <div class="actions">
    <h1 class="heading">invoice configurations</h1>
    <app-actions [actions]="invoices"></app-actions>
  </div>
  <div class="actions">
    <h1 class="heading">Shop & Order configurations</h1>
    <app-actions [actions]="shops"></app-actions>
  </div>
</div>
