<div class="main-content">
  <h1 class="title-header">Your brands in the system</h1>
  <div class="panel col-1-of-3">
    <div class="input-card">
      <div class="search-box">
        <div class="input-times">
          <input type="text" [(ngModel)]="search" placeholder="🔎 search here ...">
          <div class="times" (click)="clearSearch()">
            <i class="pi pi-times"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="input-card">
    </div>
    <div class="cta">
      <button class="btn" (click)="add()">
        <span class="">Add a brand</span>
      </button>
    </div>
  </div>

  <div class="cards-betta" *ngIf="brands$  | async as brands; else notFound">
    <span *ngFor="let item of brands | configurationFilterPipe: search">
      <div class="card">
        <div class="image">
          <img src="assets/images/price-tag.svg" alt="">
        </div>
        <div class="name">
          <h1>
            {{item.Name}}
          </h1>
          <div class="status">
            <p-toggleButton [(ngModel)]="item.Status" onLabel="Active" offLabel="Not Active" onIcon="pi pi-check"
              offIcon="pi pi-times" [style]="{'width':'100%'}"></p-toggleButton>
          </div>
        </div>
      </div>
    </span>
  </div>
  <ng-template #notFound>
    <div class="not-found">
      <img [src]="notFoundModel.Image" alt="no items found">
      <h1 class="message">
        {{notFoundModel.Message}}
        <span>
          <a class="link-add" (click)="add()"> Add a new brand now.</a>
        </span>
      </h1>
    </div>
  </ng-template>

</div>
