<div class="main">
  <h1 class="heading">your brands on the system</h1>
  <div class="list-filters">
    <div>
      <input type="text" [(ngModel)]="search" placeholder="search">
    </div>
    <div>
      <!-- <div class="select">
              <div class="label">
                  filter category:
              </div>
              <div class="input">
                  <select [(ngModel)]="searchByCatergory">
                      <option value="" selected>All</option>
                      <option [value]="cat" *ngFor="let cat of categories">{{cat}}</option>
                    </select>
              </div>
            </div> -->
    </div>
    <div class="add">
      <button class="btn" (click)="showAdd()">add brand</button>
    </div>
  </div>
  <div class="list-body col-1-of-2">
    <span>
      <div class="cards-betta" *ngIf="brands$  | async as brands">
        <span *ngFor="let item of brands | configurationFilterPipe: search">
          <div class="card">
            <div class="image">
              <img src="assets/images/price-tag.svg" alt="">
            </div>
            <div class="name">
              <h1>
                {{item.Name}}
              </h1>
              <div class="status">
                <p-toggleButton [(ngModel)]="item.Status" onLabel="Active" offLabel="Not Active" onIcon="pi pi-check"
                  offIcon="pi pi-times" [style]="{'width':'150px'}"></p-toggleButton>
              </div>
            </div>
          </div>
        </span>
      </div>
    </span>
    <span *ngIf="showForm">
      <app-add-brand (showForm)="showAdd()"></app-add-brand>
    </span>
  </div>
</div>
