<div class="main">
  <h1 class="heading">your brands on the system</h1>
  <div class="list-filters">
    <div>
      <input type="text" [(ngModel)]="search" placeholder="search">
    </div>
    <div class="add">
      <button class="btn">
          <span class="phone-only" (click)="add()"><i class="pi pi-plus"></i></span>
          <!-- <span class="pc-only" (click)="showAdd()">add brand</span> -->
      </button>
    </div>
  </div>
  <div class="list-body">
    <span>
      <div class="cards-betta" *ngIf="brands$  | async as brands">
        <span *ngFor="let item of brands | configurationFilterPipe: search">
          <div class="card">
            <div class="image">
              <img src="assets/images/price-tag.svg" alt="">
            </div>
            <div class="name">
              <h1>
                {{item.Name}}
              </h1>
              <div class="status">
                <p-toggleButton [(ngModel)]="item.Status" onLabel="Active" offLabel="Not Active" onIcon="pi pi-check"
                  offIcon="pi pi-times" [style]="{'width':'100%'}"></p-toggleButton>
              </div>
            </div>
          </div>
        </span>
      </div>
    </span>
  </div>
</div>
