<div class="sell-page">
  <div class="selling">

    <div class="products-page" *ngIf="products$  | async as products">
      <div class="list-header">
        <div class="heading">
          <h1>
            Create customer quotation<span class="dot">.</span>
          </h1>
        </div>
      </div>


      <div class="list-header-mobile">
        <h4>
          Products ({{sum}})
        </h4>

        <div class="actions">
          <div class="search">
            <input type="text" [(ngModel)]="search" class="roundInput" placeholder="Search here ...">
          </div>
          <div class="search">
            <select [(ngModel)]="searchByCatergory" class="roundInput">
              <option value="" selected>All categories</option>
              <option [value]="cat" *ngFor="let cat of categories">{{cat}}</option>
            </select>
          </div>
          <div class="search">
            <button (click)="add()"> <i class="pi pi-plus"></i> Add</button>
          </div>
        </div>
      </div>

      <div class="customer" *ngIf="selectedPartner">
        <div class="input">
          <div class="customer-search">
            <span>Customer Name</span>
            <input type="search" autocomplete="off" [(ngModel)]="selectedPartner.Name"
              (keyup)="searchCustomers($event.target.value)" class="roundInput" placeholder="Search customer ...">
            <div class="dropdown  result" *ngIf="customerSuggestions.length > 0 && selectedPartner.Name">
              <p *ngFor="let item of customerSuggestions; let i = index">
                <span (click)="selectCustomer(item)">{{item.Name}} {{item.Surname}}</span>
              </p>
            </div>
          </div>


          <br>
          <div *ngIf="shippingsList?.length">
            <span>Shipping Method</span>
            <select (change)="deliveryChanged($event.target.value)" class="roundInput">
              <option value="delivery" selected>Please select</option>
              <option [value]="ship.key" *ngFor="let ship of shippingsList">{{ship.line}}</option>
            </select>
          </div>
        </div>



        <div class="input">
          <span>Customer Address</span>
          <textarea class="roundInput" [(ngModel)]="selectedPartner.Address" name="" id="" cols="30"
            rows="10"></textarea>
        </div>
      </div>


      <div class="search-table">
        <div class="search">
          <input type="text" [(ngModel)]="search" class="roundInput" placeholder="Search here ...">
        </div>

        <div class="search">
          <select [(ngModel)]="searchByCatergory" class="roundInput">
            <option value="" selected>All categories</option>
            <option [value]="cat" *ngFor="let cat of categories">{{cat}}</option>
          </select>
        </div>
      </div>
      <div class="table" *ngIf="products.length > 0; else notFound">
        <div class="header">
          <div class="header-item">
            Image
          </div>
          <div class="header-item">
            Product name
          </div>

          <div class="header-item ">
            Price
          </div>
          <div class="header-item tac">
            Qty
          </div>
          <div class="header-item tar">
            Actions
          </div>
        </div>
        <div class="body-container">
          <div class="body"
            *ngFor="let item of products | searchproduct: search | searchproductbycatergory:searchByCatergory; let i = index">
            <div class="body-item">
              <img [src]="item.Images[0].Url" alt="" *ngIf="item.Images" />
              <img src="assets/images/placeholder.png" *ngIf="!item.Images" alt="" />

            </div>
            <div class="body-item">
              <p>
                {{item.Name}}
              </p>
            </div>
            <div class="body-item">
              <p>

                {{item.UnitPrice | currency:'R'}}

              </p>

            </div>
            <div class="body-item tac">


              <div class="qnty">
                <div class="min">
                  <button class="add hover-shadow" (click)="selectProductQntyAdjust(item,-1)">
                    <i class="pi pi-minus"></i>
                  </button>
                </div>
                <div class="input">
                  <input type="text" pInputText pKeyFilter="int" [(ngModel)]="item.QuantitySelected" (blur)="blur(item)">
                </div>

                <div class="plus">
                  <button class="reduce hover-shadow" (click)="selectProductQntyAdjust(item,1)">
                    <i class="pi pi-plus"></i>
                  </button>
                </div>
              </div>

            </div>
            <div class="body-item tar">
              <button class="btn-primary" (click)="doSell(item)">
                <i class="pi pi-shopping-cart"></i> Cart
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="mobile-table">
        <div class="items">
          <span *ngFor="let item of products | searchproduct: search | searchproductbycatergory:searchByCatergory">
            <div class="item" (click)="details(item)">
              <div class="image-name">
                <div class="image">
                  <img [src]="item.images[0].Url" alt="" *ngIf="item.images" />
                  <img src="assets/images/placeholder.png" *ngIf="!item.images" alt="" />
                </div>
                <div class="name">
                  <p>
                    <span>
                      {{item.Quantity}}
                    </span>
                  </p>
                </div>
                <div class="name">
                  <p>

                    {{item.Name}}
                  </p>
                </div>
                <div class="qty">

                </div>
                <div class="price">
                  <p>
                    {{item.UnitPrice | currency:'R'}}

                  </p>
                </div>
              </div>
            </div>
          </span>
        </div>
      </div>

      <ng-template #notFound>
        <div class="not-found">
          <img [src]="notFoundModel.Image" alt="no items found">
          <h1 class="message">
            {{notFoundModel.Message}}
            <span>
              <a class="link-add" (click)="add()"> add new product.</a>
            </span>
          </h1>
        </div>
      </ng-template>

    </div>

  </div>

  <div class="cart">
    <div class="list-header">
      <div class="heading">
        <h1>
          Cart<span class="dot">.</span>
        </h1>
      </div>
    </div>

    <div class="cart-items">
      <app-sale-sammary></app-sale-sammary>

      <div class="total">
        <h4>
          Total: {{sale?.total + deliveryFee | currency:'R'}}
        </h4>
      </div>
      <div class="actions">
        <div>
          <button class="btn" (click)="onSubmit()">Save order</button>
        </div>

        <div>
          <button class="btn btn-transparent" (click)="clear()">Crear All</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="select-attributes-modal" *ngIf="productForAttributes">
  <div class="modal">
    <div class="header">
      <h1>
        Select Product Options
      </h1>

      <div class="close" (click)="closeOptions()">
        <img src=" assets/images/close-options.svg" alt="">
      </div>
    </div>

    <div class="body">
      <div class="image">
        <img *ngIf="productForAttributes.images" [src]="productForAttributes.images[0].Url" alt="">
        <img *ngIf="!productForAttributes.images" src="assets/images/placeholder.png" alt="">
      </div>

      <div class="item-options">
        <div class="options-item" *ngFor="let attribute of productForAttributes.Attributes">
          <div class="input">
            <span *ngIf="attribute.Values">
              <span class="label">{{attribute.Name}}</span>
              <select class="roundInput"
                (change)="optionSelected($event.target.value, attribute.AttributeId, productForAttributes)">
                <option value="">Choose one..</option>
                <option *ngFor="let attrValue of attribute.Values" class="select-option" [value]="attrValue.Id">
                  {{attrValue.AttributeValue}}</option>
              </select>
            </span>
          </div>
        </div>
        <div>
          <br><br>
          <span class="label">QTY</span>
          <div class="qnty">
            <div class="min">
              <button class="add hover-shadow" (click)="selectProductQntyAdjust(productForAttributes,-1)">
                <i class="pi pi-minus"></i>
              </button>
            </div>
            <div class="input">
              <input type="text" pInputText pKeyFilter="int" [(ngModel)]="productForAttributes.QuantitySelected"
                (blur)="blur(productForAttributes)">
            </div>

            <div class="plus">
              <button class="reduce hover-shadow" (click)="selectProductQntyAdjust(productForAttributes,1)">
                <i class="pi pi-plus"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="actions">
          <div>
            <button class="btn" (click)="doSell(productForAttributes)">
              <i class="pi pi-shopping-cart"></i> Cart
            </button>
          </div>

          <div>
            <button class="btn btn-transparent" (click)="closeOptions()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
