<div class="main">
  <div class="cards">
    <span *ngFor="let item of users | async">
      <div class="card">
        <div class="icon">
          <!-- <img [src]="data.image" alt="role image"> -->
          <img src="assets/images/actions/shop.svg" alt="role image">
        </div>
        <div class="data">
          <h1 class="main">{{item.Name}}{{item.Surname}}</h1>
          <h1 class="spec">{{item.CellphoneNumber}}</h1>
          <h1 class="spec">{{item.Email}}</h1>
          <span *ngFor="let store of [1,1,1]">
            <h1 class="spec">Stores1</h1>
          </span>
        </div>
      </div>
    </span>
  </div>
</div>
