<div class="card card-data" (click)="getUserDetails(user?.UserId)">
  <div class="col-1-of-2">
    <div class="image">
      <img src="assets/user-blue.svg" alt="role image">
    </div>
    <div class="data">
      <h1 class="main">{{user?.Name}} {{user?.Surname}}</h1>
      <h1 class="sub">{{user?.CellphoneNumber}}</h1>
      <h1 class="sub">{{user?.Email}}</h1>
      <!-- <h1 class="sub">{{user?.EmailAddress}}</h1> -->
      <!-- <h1 class="sub">{{user?.Address}}</h1> -->
      <h1 class="pill" *ngIf="role">{{role}}</h1>
    </div>
  </div>
</div>
