<div class="footer">
  <div class="col-1-of-3">
    <img src="assets/images/logo-footer.svg" alt="footer logo">
    <div class="quick-links">
      <h1>Quick links</h1>
      <ul>
        <li>
          <a routerLink="/home">home</a>
        </li>
        <li>
          <a routerLink="/pricing">pricing</a>
        </li>
      </ul>
    </div>
    <div class="quick-links">
      <h1>Account</h1>
      <ul>
        <li><a routerLink="/sign-in" routerLinkActive="active-link" class="login">Log in</a></li>
        <li><a routerLink="/sign-up" routerLinkActive="active-link" class="register">Create vendor account</a></li>

      </ul>
    </div>

  </div>
</div>
