@import '../../../../assets/styles/variables';

.footer {
  padding: 3rem 15rem;
  background: $primary-bg-color;

  img {
    height: 3.938rem;
  }

  .quick-links {
    h1 {
      font-size: 1.125rem;
      color: $white-color;
    }

    ul {
      list-style-type: none;
      margin: 1rem 0;
      padding: 0;

      li {
        margin-bottom: 1rem;

        a {
          color: $white-color;
          font-weight: 500;

          &.login {
            border: solid 2px $primary-bg-color;
            border-radius: 10px;
            font-weight: 700;
          }

          &.register {
            background: $primary-bg-color;
            border: solid 2px $primary-bg-color;
            border-radius: 10px;
            color: $white-color;
            font-weight: 700;
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 0 2rem;
    padding-bottom: 2.5rem;
  }
}
