@import '../../../../../../assets/styles/variables';

.banner {
  background: url(../../../../../../assets/images/home/pricing-banner.svg);
  background-size: cover;
  height: 30rem;
  width: 99.9%;

  .banner-body {
    padding: 10rem 0;

    .heading {
      text-transform: initial;
      text-transform: initial;
      font-size: 2.5em;
      font-weight: 700;
      color: #F5F6FA;
    }
  }


  @media only screen and (max-width: 600px) {
    height: 20rem;

    .banner-body {
      padding: 4rem 0;
      padding-bottom: 1rem;

      .heading {
        margin: 1rem;
        padding: 1rem;
        font-size: 1.8em;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

.content {
  padding: 5rem 10rem;
  background: $cloud-ligher;

  @media only screen and (max-width: 600px) {
    padding: 1%;
  }

  .col-1-2 {
    display: grid;
    grid-template-columns: 70% auto;
    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;
    }

  }

  .col-1-5 {
    display: grid;
    grid-template-columns: repeat(5, 18%);

    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;
    }


    .head {
      color: $blue-gray;
      text-transform: uppercase;
      font-weight: 600;
      padding: .2rem;
      padding-left: 2rem;
      margin: .3rem;
      font-weight: 800;
      font-size: .8rem;

    }

    .row {
      padding: .4rem;
      border-bottom: 1px solid $blue-gray;

      h3 {
        font-size: .8rem;
        margin: 0;
        color: $dark-navy;
        margin-bottom: .2rem;
      }
    }

    .image {
      img {
        // width: 100%;
        height: 4rem;
      }
    }

    .name {
      .remove {
        button {
          background: $white-color;
          color: $blue-gray;
          border: 2px solid $blue-gray;
          padding: .3rem .8rem;
          border-radius: 4px;
          cursor: pointer;


        }
      }
    }

    .quantity {
      display: grid;
      grid-template-columns: repeat(3, 30%);

      input,
      span {
        display: block;
        margin: 0;

      }

      input {
        width: 3rem;
        margin: 0;
        border: 2px solid $blue-gray;
        height: 1.2rem;
        padding: .8rem;
        text-align: center;
        color: $blue-gray;
        ;
        border-radius: 5px;

      }

      .col {
        // border: 2px solid $blue-gray;
        height: 3rem;

      }

      .clicks {
        padding-top: 7%;
        color: $blue-gray;
        cursor: pointer;
      }
    }
  }

  .sale-item {
    grid-template-columns: 10% 25% 20% 20% auto;
    background: $white-color;
    padding-top: 1rem;
    padding-bottom: .2rem;
    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;
    }

  }

}

.check-out {
  text-align: right;

  button {
    padding: 1rem;
    margin-right: 2.6666rem;
    font-size: 1rem;

    @media only screen and (max-width: 600px) {
      margin-right: .3rem;
      padding: .5rem;
      margin-top: .5rem;

    }
  }
}


.sammary-totals{
  background: $white-color;
  margin: .5rem;
  margin-top: 7rem;
  padding: 1rem;
}