<div class="main">
  <h1 class="heading">your stores on the system</h1>
  <div class="list-filters">
    <div>
      <input type="text" [(ngModel)]="search" placeholder="search">
    </div>
    <!-- <div>
    </div> -->
    <div class="add">
      <button class="btn">
          <span class="phone-only" (click)="add()"><i class="pi pi-plus"></i></span>
          <!-- <span class="pc-only" (click)="showAdd()"> add a store</span> -->
      </button>
    </div>
  </div>
  <div class="list-body">
    <span>
      <div *ngIf="stores$ | async as stores">
        <span class="cards-betta" *ngIf="stores.length > 0; else notFound">
          <span *ngFor="let item of stores | configurationFilterPipe: search">
            <app-store-card-list [store]="item"></app-store-card-list>
          </span>
        </span>
        <ng-template #notFound>
          <div class="not-found">
            <img [src]="notFoundModel.Image" alt="no items found">
            <h1 class="message">
              {{notFoundModel.Message}}
            </h1>
          </div>
        </ng-template>
      </div>
    </span>

  </div>
</div>
