<div class="main-content">
  <h1 class="title-header">Your stores in the system</h1>
  <div class="panel col-1-of-3">
    <div class="input-card">
      <div class="search-box">
        <div class="input-times">
          <input type="text" [(ngModel)]="search" placeholder="🔎 search here ...">
          <div class="times" (click)="clearSearch()">
            <i class="pi pi-times"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="input-card">
      <div class="list-filters">
        <div class="input select">
          <div>
            <i class="pi pi-filter"></i>
          </div>
          <!-- <select [(ngModel)]="searchByProvince">
            <option value="" selected>filter by province</option>
            <option [value]="province" *ngFor="let province of provinces">{{province}}</option>
          </select> -->
        </div>
      </div>
    </div>
    <div class="cta">
      <button class="btn" (click)="add()">
        <span class="">Add a store</span>
      </button>
    </div>
  </div>
  <div *ngIf="stores$ | async as stores">
    <span class="cards-betta" *ngIf="stores.length > 0; else notFound">
      <span *ngFor="let item of stores | configurationFilterPipe: search">
        <app-store-card-list [store]="item"></app-store-card-list>
      </span>
    </span>
    <ng-template #notFound>
      <div class="not-found">
        <img [src]="notFoundModel.Image" alt="no items found">
        <h1 class="message">
          {{notFoundModel.Message}}
          <span>
            <a class="link-add" (click)="add()"> Add a new store now.</a>
          </span>
        </h1>
      </div>
    </ng-template>
  </div>
</div>
