<div class="main">
  <app-banner></app-banner>
  <div class="body">
    <div class="form">
      <form [formGroup]="rForm" *ngIf="rForm" (ngSubmit)="onSubmit(rForm.value)">

        <div class="group">
          <input type="text" formControlName="Name" required="required" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name</label>
          <div class="alert" *ngIf="!rForm.controls['Name'].valid && rForm.controls['Name'].touched">
            Store Name is requried
          </div>
        </div>
        <div class="group">
          <input type="text" formControlName="TelephoneNumber" required="required" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Telephone Number</label>
          <div class="alert" *ngIf="!rForm.controls['TelephoneNumber'].valid && rForm.controls['TelephoneNumber'].touched">
            Telephone Number is requried
          </div>
        </div>
        <div class="group">
          <input type="text" formControlName="Address" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Address</label>
          <div class="alert" *ngIf="!rForm.controls['Address'].valid && rForm.controls['Address'].touched">
            Store Name is requried
          </div>
        </div>
        <div class="group">
          <input type="submit" value="Add Store" class="btn" [disabled]="!rForm.valid" />
        </div>
      </form>
    </div>
  </div>
</div>
