.main {
  padding: 1rem;
  // margin-top: -3.2rem;

  .cards {
    display: grid;
    grid-template-columns: repeat(10, 10%);

    @media only screen and (max-width: 600px) {
      grid-template-columns: repeat(2, 50%)
    }

    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(4, 25%);
    }

    .card {
      background: #fff;
      text-align: center;
      height: 9rem;
      width: 9rem;
      margin: 1rem;
      border: 1px solid #E5E5E5;
      cursor: pointer;

      .icon {
        img {
          width: 1.8rem;
          margin-top: 2.5rem;
        }
      }


      .data {

        // background: rgb(34, 182, 34);
        text-align: center;

        h1 {
          color: #104CE5;
          display: block;
          font-size: .8rem;
          font-weight: 600;
          text-align: center;
          width: 100%;
          margin-top: 1.5rem;

        }
      }
    }
  }
}
