<div class="sale" *ngIf="sale$ | async as sale">
    <div class="sale-item" *ngFor="let item of sale.items">
        <div class="remove ">
            <i (click)="removeItem(item)" class="pi pi-trash"></i>
        </div>
        <div class="name-price">
      <h1>
          {{item.name}}

          <span class="options">
            <span>
              {{item.itemOptions | formatOptions}}
            </span>
          </span>
          <span>
              {{item.subTotal| currency:'R'}}
          </span>
      </h1>
        </div>
        <div class="count">
            <div class="qnty">

                <div class="input">
                    <input type="text" pInputText pKeyFilter="int"  [(ngModel)]="item.quantity" (blur)="blur(item)">
                  <!-- <input type="text" min="0" [(ngModel)]="item.quantity" (blur)="blur(item)" placeholder="search products"> -->
                </div>

                <div  class="btns">
                    <button class="add hover-shadow" (click)="add(item)">
                        <i class="pi pi-plus"></i>
                    </button>
                    <button class="reduce hover-shadow" (click)="reduce(item)">
                      <i class="pi pi-minus"></i>
                    </button>

                </div>
              </div>
        </div>

      </div>
</div>
