// @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&family=Metal+Mania&display=swap');


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}

body {
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Century Gothic', 'Jost';

  background: #fff;

  @media only screen and (max-width: 600px) {
    padding: 0;
    margin: 0;
  }

}

h1 {
  text-align: left;
}

.page-actions {
  display: grid;
  grid-template-columns: 70% auto;
  margin-top: -3.4rem;
  position: relative;
  padding: 1rem;
  z-index: 10;

  .search {
    input {
      background: #fff;
      border: none;
      height: 2.5rem;
      border-radius: .5rem;
      color: #000;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      &::placeholder {
        color: rgb(193, 193, 193);
      }
    }

  }

  .add {
    button {
      background: #104CE5;
      font-size: 10px;
      color: #fff;
      padding: .8rem 1rem;
      font-weight: 600;
      border: none;
      border-radius: .5rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    }
  }

  @media only screen and (max-width: 600px) {
    margin-top: -2.4rem;
  }
}

.transition {
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.heading {
  font-size: 1.8rem;
  font-weight: 900;
  padding-left: 0.8rem;
  text-transform: capitalize;

  &.bordered {
    padding-bottom: 3rem;
    border-bottom: solid $black-color 1px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 1rem;
  }

  span {
    font-weight: 400;

    @media only screen and (max-width: 600px) {
      font-size: .7rem;
    }


  }

  span.number {
    font-size: .9rem;
    font-weight: 800;

  }
}

.sub-heading {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 2.8rem;
  text-transform: capitalize;
  color: $gray-color;
}

.pc-only {
  @media only screen and (max-width: 600px) {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    display: inline;
  }

}

.link-add {
  cursor: pointer;
  font-style: italic;
}

span.step {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: auto;
  padding: .2rem .5rem;
}

::-webkit-scrollbar {
  width: 0em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdc3c7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bdc3c7;
}

@media only screen and (min-width: 1254px) {

  .page-actions {
    display: grid;
    grid-template-columns: 70% auto;
    margin: 0 auto;
    margin-top: -3.4rem;
    position: relative;
    padding: 1rem;
    z-index: 10;
    width: 70vw;

    .add {
      button {
        cursor: pointer;
      }
    }
  }
}

.mt-20 {
  margin-top: 10rem;
}

.circular-img {
  display: inline-block;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  overflow: hidden;
  border: 1px solid #F2F5F9;

  @media only screen and (max-width: 600px) {
    height: 2rem;
    width: 2rem;
  }
}

.circular-img img {
  display: inline-block;
  width: 100% !important;
}

@media only screen and (max-width: 640px) {
  .circular-image {
    border-radius: 50%;
  }
}

.home-loading {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #104CE5;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 15%;

  h1 {
    text-align: center;
    color: #fff;
  }

  .logo {
    width: 7rem;
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(19px, 0);
    }
  }

}

.cta {
  cursor: pointer;
}



// mobile responsiveness
@media only screen and (max-width: 600px) {
  .heading {
    padding: 1% 2%;
  }
}

.tags {
  background: #D3D8DF;
  color: #7B8C98;
  width: 7rem;
  padding: .1rem;
  font-size: .7rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: .5rem;
  margin-left: 1rem;
}

.scanner-pluggin {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  padding: 4rem;
  z-index: 999999;
}



.modal-table {
  width: 100%;

  td {
    text-align: center;
  }
}

.alert {
  text-transform: capitalize;
}

.ghost {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: rgba(202, 202, 202, 0.144);


    -webkit-animation: ghostMove 2s ease infinite;
    /* Safari 4+ */
    -moz-animation: ghostMove 2s ease infinite;
    /* Fx 5+ */
    -o-animation: ghostMove 2s ease infinite;
    /* Opera 12+ */
    animation: ghostMove 2s ease infinite;
    /* IE 10+, Fx 29+ */

  }

  img {
    width: 100%;
  }

  .pc {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  .mobile {
    display: none;

    @media only screen and (max-width: 600px) {
      display: block;
    }
  }

}

.dot {
  color: $primary-bg-color;
  font-size: 5rem;
  line-height: 0;
  letter-spacing: 0;

  @media only screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.customer-portal {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 20% auto;
  background: $default-bg;
  padding: .5rem 11rem;
  border-radius: $box-border-radius;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
    padding: 0;
    padding-bottom: 4rem;

  }
}

.qnty {
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
  padding: .2rem;
  // border: 2px solid $primary-bg-color;
  width: 6.5rem;
  margin: .5rem auto;


  button,
  input {
    height: 1.2rem;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  button {
    color: $white-color;
    background: $primary-bg-color;
    border: none;
    width: 1.2rem;
    border-radius: 1.2rem;
    padding: 0;
    padding-top: .12rem;
    margin: 0 auto;
  }

  input {
    border: none;
    font-weight: 900;
    border: 1px solid $gray-color;

  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1500;
  background: rgba(0, 0, 0, 0.281);
  top: 0;
  left: 0;

  .modal {
    width: 60%;
    margin: 15% auto;

    @media only screen and (max-width: 600px) {
      width: 92%;
      margin: 91% auto;
    }

    .header {
      background: $primary-bg-color;
      padding: .5rem;
      display: grid;
      grid-template-columns: 95% auto;

      h1 {
        color: $white-color;
        font-size: 1.4rem;
        margin: 0;
      }

      .close {
        cursor: pointer;
      }
    }

    .body {
      background: $white-color;
      padding: .5rem;

    }
  }
}

.actions {
  display: grid;
  grid-template-columns: 20% auto;
  padding: .5rem;

  @media only screen and (max-width: 600px) {

    grid-template-columns: 40% auto;

  }
}



.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.363);
  top: 0;
  left: 0;
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
  }

  .modal {
    width: 100%;
    background: $white-color;
    border-radius: 10px;
    position: absolute;
    bottom: 3rem;
    padding: 1rem;
    padding-bottom: 5rem;
    animation: moveInButton 1s ease-out 0s;
    animation-fill-mode: backwards;
  }

  .close {
    position: absolute;
    bottom: 0;
    background-image: url(assets/images/close-modat-mobile.svg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 5.3rem;
    z-index: 1005;


  }
}

.viewImage {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 1000;

  .image {
    margin: 5rem auto;
    width: 60%;
    text-align: center;
    margin-bottom: 0;

    img {
      height: 40rem;
    }

    .delete {
      height: 2rem;
    }
  }

  .btns {
    margin: 10% auto;
    margin-top: 0;
    width: 18%;
    img{
      height: 2rem;
    }

  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdc3c7;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bdc3c7;
}

.share {
  font-size: .6rem;

  .pi {
    position: relative;
    top: 2px;
  }
}


.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(31, 30, 30, 0.85);
  z-index: 200;
  animation: animationFadeIn .5s ease-in;
  animation-fill-mode: backwards;

  .modal {
    margin: 5% auto;
    background: #ffff;
    padding: 2rem;
    width: 40%;


    @media only screen and (max-width: 600px) {
      width: 100%;
      padding: .8rem;
    }

    h1 {
      text-transform: uppercase;
      font-size: 1.4rem;
    }
  }
}


.pc-only {
  display: block;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.phone-only {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
    position: relative;
    bottom: .5rem;
    width: 2.2rem;
  }
}


.breadcrump {
  position: relative;
  left: -0.7rem;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  width: 30%;
  padding: 2rem 0;

  .bread {
    font-size: .9rem;
    font-weight: 400;
    text-align: center;

    .pi {
      position: relative;
      top: .2rem;
    }
  }

  .bread.parent {
    cursor: pointer;
  }
}