$bg-color: #424242;
$hl-color: #2196F3;
$primary-bg-color: #104CE5;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 100%;
$white-color:#fff;
$black-color: #2F2E41;
$gray-color: #D4D7DC;
$cloud: #ecf0f1;
$cloud-ligher: #F1F3F6;
$dark-navy: #2E344C;
$strong-gray: #7B8C98;
$blue-gray: #95AFC0;
$ligher-gray: #D1D8E0;
$danger: #fb1d1d;
$default-bg: #F2F5FA;
$border-color: #E9EEF6;
$box-shadow: 0 0 0 1px rgba(98, 98, 98, 0.15),
0 4px 6px rgba(116, 116, 116, 0.2);
$box-border-radius: 5px;
