$bg-color: #424242;
$hl-color: #2196F3;
$primary-bg-color: #104CE5;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 100%;
$white-color:#fff;
$black-color: #2F2E41;
$gray-color: #7B8C98;
