<div>
  <div class="group">
    <label>Full Name</label>
    <input type="text" [(ngModel)]="fullname" (blur)="saveCustomerState()" autofocus required="required" />
  </div>


  <div class="col-1-of-2">
    <div class="group two">
      <label>Email Address</label>
      <input type="email" [(ngModel)]="email" (blur)="saveCustomerState()" required="required" />
    </div>

    <div class="group">
      <label>Cell Phone Number</label>
      <input type="tel" [(ngModel)]="cell" (blur)="saveCustomerState()" required="required" />
    </div>

  </div>
<!-- 
  <div class="col-1-of-2">
    <div class="group two">
      <label>City</label>
      <input type="text" [(ngModel)]="City" (blur)="saveCustomerState()" required="required" />
    </div>

    <div class="group">
      <label>Postal Code</label>
      <input type="number" [(ngModel)]="Postal" (blur)="saveCustomerState()" required="required" />
    </div>

  </div> -->



  <div class="alert" *ngIf="fullname">
    <!-- Full Name is required -->
  </div>

  <div class="group">
    <label>delivery address</label>
    <textarea [(ngModel)]="address" (blur)="saveCustomerState()"></textarea>
  </div>


  <div class="agree" *ngIf="!signUped">
    <p-checkbox [(ngModel)]="signUp" binary="true"></p-checkbox> Save my details for next time.
    <span class="tip">So you can manage your orders easy</span>
  </div>

  <div class="group password" *ngIf="signUp">
    <label>Please create your password</label>
    <input type="password" [(ngModel)]="password" required="required" />
  </div>

  <div class="action">
    <button class="btn action-btn"   [ngStyle]="{'background-color':shopPrimaryColor, 'color':shopSecondaryColor}"
    (click)="addNewUser()">Proceed to payments</button>
    <a  (click)="toggleShowLogin()">Login to my account</a>
  </div>


</div>
