@import '../../../../../../assets/styles/variables';

.main {
  // padding: 10rem 2rem;
  box-sizing: border-box;
  background: $cloud-ligher;
  padding: 3rem;


  @media only screen and (max-width: 600px) {
    padding: 20% 3%;

    @media only screen and (max-width: 600px) {
      padding: 1% .5%;
    }

  }

  .order {
    width: 80%;
    margin: 0 auto;
    background: $white-color;
    padding: 2rem;

    @media only screen and (max-width: 600px) {
      width: 100%;
      padding: .5rem;
    }

  }

  hr {
    background-color: $blue-gray;
  }

  .product-details {
    display: grid;
    grid-template-columns: 30% 40% 30%;

    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;

    }

    .detais {
      padding-left: 5%;

      h1.name {
        font-size: 1.25rem;
        font-weight: 500;

      }

      h1.price {
        font-size: 1.5rem;
        font-weight: 700;
      }

      .options {
        margin: .5rem 0;
        box-sizing: border-box;

        @media only screen and (max-width: 600px) {

          margin: .2rem 0;

        }

        h1.header {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 1rem;
        }

        .option-items {
          display: grid;
          grid-template-columns: 50% auto;
          height: 100%;

          @media only screen and (max-width: 600px) {
            grid-template-columns: 100%;
          }

          .options-item {
            border: 1px solid $blue-gray;
            display: grid;
            grid-template-columns: 40% auto;
            margin: 1rem 1.5rem;
            margin-left: 0;

            @media only screen and (max-width: 600px) {
              margin: .2rem 0;
            }

            .label {
              padding: .6rem 1rem;
              font-weight: 700;
              text-transform: uppercase;

              @media only screen and (max-width: 600px) {
                font-size: .7rem;
              }
            }

            .input {
              padding: .6rem 1rem;
              font-size: .7rem;


              select {
                margin: 0;
                // width: 40%;
                border: none;
                font-size: .7rem;


              }
            }

            .no-border {
              padding-left: 0;
            }

            .tar {
              padding-right: 0;
            }
          }

          .full-row {
            grid-template-columns: 100%;
            border: none;
            padding: 0;

            .action-btn {
              padding: 1rem 1rem;


            }
          }

          .tar {
            text-align: right;
            padding-right: 0;

            @media only screen and (max-width: 600px) {
              text-align: left;
            }
          }
        }



      }

      select {
        padding: 0;
      }
    }

    .action-btn {
      padding: 1.5rem .8rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .back {
      background: #fff;
      border: 2px solid #fff;
      margin-right: 0;
    }
  }
}


.back-link {
  padding: 0 1rem;
  cursor: pointer;
  display: block;
  margin: 1rem 0;
}


.cta {
  display: grid;
  grid-template-columns: 30% auto;
  padding: 0 1rem;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 50% auto;

  }

  .action-btn {
    @media only screen and (max-width: 600px) {
      font-size: .7222rem;
      padding: .8rem .6rem !important;
    }

  }

  .browse-more {
    @media only screen and (max-width: 600px) {
      text-align: right;
    }
  }
}


.quantity {
  display: grid;
  grid-template-columns: 30% auto;
  margin: 1.2rem 0;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 36% auto;

  }

  .qnty-group-btns {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    border: 1px solid $strong-gray;

    .neg,
    .pos {
      padding: .6rem .01rem;
      height: 2.4rem;
      text-align: center;
      cursor: pointer;
    }

    .val {
      input {
        width: 100%;
        text-align: center;
        height: 2.4rem;
        border: 1px solid $strong-gray;
        margin: 0;
        border-top: none;
        border-bottom: none;

      }
    }
  }

  .add-to-cart{
    padding: .4rem .01rem;
    height: 2.6rem;
    text-align: center;
    cursor: pointer;
    margin: 0 .5rem;
    width: 12rem;
  }
}

.back{
  h4{
    cursor: pointer;
  }
}

.more-product-details {
  ::ng-deep {
    .ql-size-huge {
      font-weight: 900;
      font-size: 2rem;

      @media only screen and (max-width: 600px) {
        font-weight: 700;
        font-size: 1.4rem;

      }
    }

    .ql-size-large {
      font-weight: 800;
      font-size: 1.8rem;

      @media only screen and (max-width: 600px) {
        font-weight: 600;
        font-size: 1.3rem;
      }
    }

    p {
      margin: 0;
    }
  }

}
