<span *ngIf="!loading">
  <div class="main" *ngIf="product">
    <!-- <div class="back">
      <p (click)="back()">
        <i [ngStyle]="{'color':shopPrimaryColor}" class="pi pi-chevron-left"></i> Back
      </p>

    </div> -->

    <div class="col-1-of-2">
      <div class="images">
        <app-view-images></app-view-images>
      </div>

      <div class="details">
        <h1 class="name">
          {{product.Name}}
        </h1>

        <p>
          {{product.UnitPrice | currency:'R'}}
        </p>

        <div class="options" *ngIf="product.Attributes?.length > 0">
          <div class="option-items">
            <div class="options-group" *ngFor="let attribute of product.Attributes | removeNoValueAttributes">
              <div class="label">
                {{attribute.Name}}:
              </div>

              <div class="options-list">
                <!-- <span *ngIf="attribute.Values">
                  <select (change)="optionSelected($event.target.value, attribute.AttributeId)">
                    <option value="" selected></option>
                    <option *ngFor="let item of attribute.Values" class="select-option" [value]="item.Id">
                      {{item.AttributeValue}}</option>
                  </select>
                </span> -->
                <div *ngFor="let item of attribute.Values" class="option">
                  {{item.AttributeValue}}
                </div>
              </div>
            </div>
          </div>


        </div>



        <div class="quantity">
          <div class="">
            <p>
              Qty:
            </p>
          </div>
          <div class="qnty-group-btns">
            <div class="neg" (click)="changeItemQnty(-1)">
              <img src="assets/images/tybo/btn-qty-min.svg" alt="">

            </div>
            <div class="val">
              <input [(ngModel)]="itemQnty" type="text">
            </div>
            <div class="pos" (click)="changeItemQnty(1)">
              <img src="assets/images/tybo/btn-qty-add.svg" alt="">
            </div>
          </div>

        </div>

        <div class="actions">
          <div class="action">
            <img (click)="doSell(product)" src="assets/images/tybo/cta-add-to-cart.svg" alt="">
          </div>

          <div class="action">
            <img (click)="back()" src="assets/images/tybo/cta-continue-shopping.svg" alt="">
          </div>
        </div>
      </div>
    </div>


  </div>
</span>

<span *ngIf="loading" class="ghost">
  <div class="overlay"></div>
  <img class="pc" src="assets/images/prodghost.svg" alt="">
  <img class="mobile" src="assets/images/prductdetails-mobile.svg" alt="">
</span>


<div *ngIf="viewCart" class="overlay">
  <div class="modal">
    <h1>{{modalHeading}}</h1>

    <div class="products">

      <div class="product" *ngFor="let item of sale.items">
        <div class="image">
          <img [src]="item.image" alt="" *ngIf="item.image" />
          <img src="assets/images/placeholder.png" *ngIf="!item.image" alt="" />
        </div>

        <div class="item">
          <p>
            {{item.name}}
            <span>
              {{item?.options | formatOptions}}
            </span>
          </p>
        </div>

        <div class="price">
          <p>
            {{item.quantity}} x {{item.price| currency:'R'}} <br>
            <b>{{item.quantity*item.price| currency:'R'}}</b>
          </p>
        </div>
        <div class="item edit">
          <div class="action">
            <img (click)="reduce(item)" src="assets/images/tybo/cta-cart-minus.svg" alt="">
          </div>
          <div class="action">
            <img (click)="add(item)" src="assets/images/tybo/cta-cart-plus.svg" alt="">
          </div>
          <div class="action">
            <img (click)="removeItem(item)" class="remove" src="assets/images/tybo/cta-cart-remove.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <h1 class="total"> Order Total: {{sale.total| currency:'R'}}</h1>
    <div class="actions">
      <div class="action">
        <img (click)="checkout()" src="assets/images/tybo/cta-checkout.svg" alt="">
      </div>

      <div class="action">
        <img (click)="back()" src="assets/images/tybo/cta-continue-shopping.svg" alt="">
      </div>
    </div>
  
  </div>
</div>
