@import '../../../../../../assets/styles/variables';

.main {
  padding: 7rem 2rem;
  box-sizing: border-box;
  background: $white-color;

  .col-1-of-2 {
    display: grid;
    grid-template-columns: 30% auto;

    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;
    }


    .details {
      padding: 2rem 7rem;

      @media only screen and (max-width: 600px) {
        padding: 0;

        h1 {
          font-size: 1rem;
        }
      }

      .options {

        .options-group {
          display: grid;
          grid-template-columns: 5% auto;

          .label {
            padding: .5rem .2rem;
            text-transform: capitalize;
          }
        }

        .options-list {
          display: flex;

          .option {
            border: 1px solid #000;
            padding: .1rem .5rem;
            margin: .2rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.quantity {
  width: 10rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 30% auto;

  p {
    margin: .2rem 0;
  }

  .qnty-group-btns {
    display: grid;
    grid-template-columns: repeat(3, 33%);

    input {
      margin: 0;
      width: 100%;
      padding: .355rem 0;
      text-align: center;
    }

    img {
      width: 100%;
      cursor: pointer;
    }
  }
}

.actions {
  grid-template-columns: 100%;

  .action {
    padding: .5rem 0;

    img {
      height: 2.5rem;
      width: auto;
      cursor: pointer;
    }
  }
}


.modal {
  border-top: 4px solid rgb(2, 255, 108);

  .products {
    max-height: 45vh;
    overflow-y: scroll;
    .product {
      display: grid;
      grid-template-columns: 10% 20% 20% auto;
      grid-gap: .5rem;

      @media only screen and (max-width: 600px) {
        grid-template-columns: 20% 40% auto;
      }

      img {
        width: 100%;
        margin: 0 auto;
      }

      .edit {
        display: grid;
        grid-template-columns: 10% 10% auto;

        @media only screen and (max-width: 600px) {
          grid-template-columns: 30% 30% auto;
        }

        img {
          margin-top: 1rem;
          width: 1.4rem;
          cursor: pointer;

          @media only screen and (max-width: 600px) {
            margin: 0 1rem;
          }
        }

        .remove {
          margin-left: 2.5rem;
        }
      }

      @media only screen and (max-width: 600px) {}
    }
  }

  .actions {
    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;
    }

    .action {
      padding: 2rem 0;

      img {
        height: 2.5rem;
        width: auto;
        cursor: pointer;
      }
    }
  }
}


h1.total {
  font-size: 1.3rem;
  background: $white-color;
  width: 70%;
  padding: 1rem 0;
  text-transform: capitalize;
}
