@import '../../../../../../assets/styles/variables';

.main {
  padding: 7rem 2rem;
  box-sizing: border-box;
  background: $white-color;

  .col-1-of-2 {
    display: grid;
    grid-template-columns: 30% auto;

    .images {
      // height: 66vh;
      // overflow-y: scroll;
    }

    .details {
      padding: 2rem 7rem;

      .options {

        .options-group {
          display: grid;
          grid-template-columns: 5% auto;

          .label {
            padding: .5rem .2rem;
            text-transform: capitalize;
          }
        }

        .options-list {
          display: flex;

          .option {
            border: 1px solid #000;
            padding: .1rem .5rem;
            margin: .2rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.quantity {
  width: 10rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 30% auto;

  p {
    margin: .2rem 0;
  }

  .qnty-group-btns {
    display: grid;
    grid-template-columns: repeat(3, 33%);

    input {
      margin: 0;
      width: 100%;
      padding: .355rem 0;
      text-align: center;
    }

    img {
      width: 100%;
      cursor: pointer;
    }
  }
}

.actions {
  grid-template-columns: 100%;

  .action {
    padding: .5rem 0;

    img {
      height: 2rem;
      cursor: pointer;
    }
  }
}
