.main {
  background: #fff;

  .scanner {
    width: 30%;
    margin: auto;

    .close {
      cursor: pointer;
    }

    .barcode {
      width: 100%;
    }
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
  }
}
