@import '../../../../../../assets/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.shops-container {
  padding: 3rem 11.5rem;
  background: $body-background;

  @media only screen and (max-width: 600px) {
    padding: 2rem 0;
  }

  .categorie-slider {
    padding: 1rem;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .slider {
    display: grid;
    grid-template-columns: 70% auto;
    padding: 1rem;
    margin: 8;
    padding-bottom: 0;
    .slide{
      width: 97%;
      margin-top: 1rem;
    }

    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;

    }

    .adverts {
      background: $white-color;
      padding: 1rem;
      border-radius: 6px;
      width: 95%;
      height: 21rem;
      img{
        width: 100%;
      }

      @media only screen and (max-width: 600px) {
        display: none;

      }

      h3 {
        margin: 0;
        font-weight: 900;
        text-transform: uppercase;
      }

      .cat {
        display: grid;
        grid-template-columns: 10% auto;
        margin: .5rem 1rem;

        .image {
          img {
            width: 1rem;
          }
        }

        .name {
          p {
            font-weight: 600;
            margin: 0;
          }
        }
      }
    }
  }

}

h3{
  padding-left: 1rem;
}