<div class="shops-container">
  <div class="categorie-slider">
    <app-categories-slider></app-categories-slider>
  </div>
  <!-- <div class="slider">
    <div class="slide">
      <app-shops-home-slider *ngIf="sliderProducts" [shops]="shops"></app-shops-home-slider>
    </div>
    <div class="adverts">
      <a routerLink="/sign-up">
        <img src="assets/images/add1.svg" alt="">
      </a>

    </div>

  </div> -->

  <div class="shops">
    <h1>All shops</h1>
    <app-shops-list-slider></app-shops-list-slider>
  </div>
</div>
