@import '../../../../../../assets/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.shops-container {
  // padding: 3rem 11.5rem;
  padding: 7rem 2rem;
  background: $body-background;

  @media only screen and (max-width: 600px) {
    padding: 7rem 0;
  }
}
