<div class="sign-in-background">
  <div class="section">

    <div class="form">
      <h1>Sign In To Your Account</h1>
      <form [formGroup]="rForm" (ngSubmit)="Login()">

        <div class="group">
          <input type="text" formControlName="Email" required="required" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
          <div class="alert" *ngIf="!rForm.controls['Email'].valid  && rForm.controls['Email'].touched ">
            Email is requried
          </div>
        </div>
        <div class="group">
          <input type="password" formControlName="Password" required="required" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
          <div class="alert" *ngIf="!rForm.controls['Password'].valid && rForm.controls['Password'].touched ">
            Password is requried
          </div>
        </div>
        <div class="reset-pass">
          <a routerLink="/forgot-password">Forgot password</a>
        </div>
        <div class="group">
          <input type="submit" value="sign in" class="btn" [disabled]="!rForm.valid" />
        </div>
      </form>
      <div class="actions">

        <div class="sign-up">
          Don't have an account? <a routerLink="/sign-up">Sign up</a>
        </div>
      </div>
    </div>

    <div class="image">
      <img src="../../../../../assets/images/sign-in-img.svg" alt="">
    </div>
  </div>
</div>
