
.sign-in-background {
    background-image: url(../../../../../assets/images/sign-in-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    
    @media only screen and (max-width: 600px) {
        background-image: url(../../../../../assets/images/mobile-sign-backgrnd.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: top right;
    }
}
.section {
    display: grid;
    grid-template-columns: 50% 30%;
    margin-left: 30%;
    padding-top: 8rem;
    
    @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
        margin: 0%;
        padding: 0%;
    }

    .mobile-fingerprint-img {
        display: none;
        @media only screen and (max-width: 600px) {
            width: 100%;
            justify-content: center;
            display: grid;
            padding-top: 10rem;

            img {
                width: 80%;
                padding: 0%;
                margin: 0%;
            }
        }
    }

    .form {
        text-align: right;
        background: #ffffff;
        width: 70%;
        margin: auto;
        border-radius: 15px;
        padding: 2rem;
        margin-bottom: 7rem;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);

        @media only screen and (max-width: 600px) {
            width: 90%;
            margin-top: 10%;
        }
        h1 {
            width: 80%;
            font-size: 1.5rem;
            margin: auto;
            margin-top: 1.5rem;
            color: #656D88;
            text-align: center;
          

            @media only screen and (max-width: 600px) {
                font-size: 1.1rem;
                width: 100%;
                margin-bottom: 0%;
            }
        }

        input[type=submit] {
            border-radius: 15px;
            border: none;
        }

        input[type=text],
        input[type=password] {
            border: none;
            width: 80%;
            margin-top: 4rem;
            @media only screen and (max-width: 600px) {
                width: 80%;
            }
        }

        .group {
            background: #ECF2F4;
            border-radius: 15px;
            width: 85%;
            margin: auto;
            @media only screen and (max-width: 600px) {
                width: 100%;
                margin: 0;
            }
            label {
                color: #656D88;
                font-weight: 600;
                font-size: 1rem;
            }
        }
        .reset-pass {
            width: 80%;
            margin: auto;
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 1rem;
            @media only screen and (max-width: 600px) {
                width: 100%;
                margin-bottom: 1rem;
                margin-top: 1.5rem;
            }
            a {
                padding-top: 2rem;
                padding: 5rem;
                font-weight: 500;
                color: #656D88;
                @media only screen and (max-width: 600px) {
                    padding: 0%;
                }
            }
        }

        .actions {
            text-align: left;
            width: 80%;
            margin: auto;
            margin-bottom: 2rem;
         

            @media only screen and (max-width: 600px) {
                width: 100%;
                font-size: .8rem;
            }
            a {
                font-size: 1.3rem;
                font-weight: 600;
                margin-left: .5rem;
                @media only screen and (max-width: 600px) {
                    font-size: 1rem;
                    font-weight: 800;
                }
            }

            h3 {
                display: none;
            }

            @media only screen and (max-width: 600px) {
                width: 100%;
                margin: 0%;

                h5 {
                    display: none;
                }
            }
        }
    }

    .image {
        @media only screen and (max-width: 600px) {
            display: none;
        }
    }
    img {
        width: 80%;
        text-align: center;
        margin-top: 5rem;
    }
}

.tob-bar {
    display: grid;
    grid-template-columns: 28% auto;
  
    .logo {
      margin: 0 5rem;
      margin-top: 1rem;
      padding-top: 1.5rem;
      text-align: right;
   
    }
    .nav {
      display: flex;
      padding: 2rem;
      width: 50%;
      margin: auto;
      margin-right: 7rem;
  
      li {
        list-style-type: none;
        padding: 0 2rem;
        font-weight: 500;
        color: #ffffff;
        text-align: right;
  
        .sign-up-for-free {
          background: #FFFFFF;
          color: #104CE5;
          border-radius: 5px;
          padding: .4rem;
          padding-right: 1.4rem;
          padding-left: 1.4rem;
  
          .sign-up-for-free a {
            color: #FFFFFF;
          }
        }
  
        .sign-in-link a,
        .blue a {
          color: #ffffff;
        }
      }
    }
  }