<div class="container">
  <div class="sign-in-background">
  </div>
  <div class="section">
    <div class="portal col-1-of-2">
      <img src="assets/images/icons/portal.svg" alt="portal image">
      <h1>client portal</h1>
    </div>
    <h1 class="access">Access your account.</h1>
    <div class="form">
      <form [formGroup]="rForm" (ngSubmit)="Login()">
        <div class="group">
          <input type="text" autofocus formControlName="Email" />
          <label>Email</label>
        </div>
        <div class="alert" *ngIf="!rForm.controls['Email'].valid  && rForm.controls['Email'].touched ">
          Email is required
        </div>
        <div class="group">
          <input type="password" [type]="hidePassword? 'password': 'text'" formControlName="Password" />
          <label>Password</label>
        </div>
        <div>
          <div class="showPassword" (click)="hidePassword = !hidePassword">
            <i *ngIf="hidePassword"  class="pi pi-eye-slash"></i>
            <i *ngIf="!hidePassword"  class="pi pi-eye"></i>
          </div>
         </div>
        <div class="alert" *ngIf="!rForm.controls['Password'].valid && rForm.controls['Password'].touched ">
          Password is required
        </div>
        <div class="group">
          <input type="submit" value="Sign me in" class="btn" [disabled]="!rForm.valid" />
        </div>
      </form>
      <div class="actions">
        <div class="sign-up">
          Don't have an account? <a routerLink="/sign-up" class="btn btn-border">Sign up for free</a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="home-loading" *ngIf="this.loading$| async as loading">
  <img class="logo" src="assets/images/white-icon.png" alt="">
  <h1>Signing you in, please wait</h1>
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div class="wrong-password">
  <h1>The username or password is incorrect</h1>
</div>
